@(user: models.user.User, task: models.task.Task)

<tr>
  <td class="details-toggle"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
  <td> @formatHash(task.id) </td>
  <td> @task.seedIdHeidelberg </td>
  <td> @task.taskType.map(_.summary).getOrElse("<deleted>") </td>
  <td> @task.tracingBase.map(_.dataSetName) </td>
  <td> @task.tracingBase.map(_.editPosition) </td>
  @task.training.map{ training =>
  	<td> @training.domain (+@training.gain, -@training.loss) </td>
  }.getOrElse( <td></td> )
  <td> @formatDate(task.created) </td>

  <td>  
    <a href="@controllers.admin.routes.TrainingsTaskAdministration.delete(task.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
  </td>
</tr>
<tr class="details-row" >
  <td colspan="11">
    <table class="table table-condensed table-nohead">
      <tbody>
        @task.tracings.map{ tracing =>
        	@trainingsTasksDetailTableItem(user, tracing)
        }
      </tbody>
    </table>
  </td>
</tr>
