@(user: models.user.User, annotation: models.annotation.Annotation)

@reviewLink() = {
  <a href=@controllers.admin.routes.TrainingsTracingAdministration.startReview(annotation.id) data-ajax="replace-row"><i class="icon-eye-open"></i> start review </a>
}

@oxalisLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.oxalisReview(annotation.id)"><i class="icon-random"></i> view in oxalis </a><br />
}

@nmlDownloadLink() = {
  <a href="@controllers.routes.AnnotationController.download(annotation.typ, annotation.id)"><i class="icon-download"></i> download NML </a><br />
}

@finishReviewLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.finishReview(annotation.id)"><i class="icon-ok-sign"></i> finish review </a><br />
}

@abortReviewLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.abortReview(annotation.id)" data-ajax="replace-row,confirm"><i class="icon-remove-sign"></i> abort review </a>
}

@finishedLabel(reviews: List[models.annotation.AnnotationReview]) = {
  <i class="icon-ok"></i><span> finished @reviews.headOption.flatMap(_.reviewer).map{user =>
    (reviewed by @user.name)
  }</span>
}

@alreadyInReviewLabel(review: models.annotation.AnnotationReview) = {
  <i class="icon-eye-open"></i><span> Already getting reviewed by @review.reviewer.map( _.name) .</span>
}

<tr>
  <td> @annotation.user.map(_.name).getOrElse("<Maik>") </td>
  <td> @annotation.content.map(c => formatDate(c.date)) </td>
  <td class="nowrap">
  @{annotation.review match{
    case r if annotation.state.isFinished =>
      finishedLabel(r)
    case _ if annotation.state.isInProgress =>
      <i class="icon-time"></i><span> User is working on the task</span>
    case r :: _ if r._reviewer == user._id && annotation.state.isInReview =>
      oxalisLink() += nmlDownloadLink() += finishReviewLink() += abortReviewLink
    case r :: _ if r._reviewer != user._id && annotation.state.isInReview =>
      alreadyInReviewLabel(r)
    case _ if annotation.state.isReadyForReview =>
      reviewLink()
    case _ =>
      "Invalid state."
  }}
  </td>
</tr>