@(tracing: models.tracing.Tracing, form: Form[String])(implicit session: oxalis.view.AuthedSessionData)
<h5>Review of Trainings-Tracing</h5>
@helper.form(action = controllers.admin.routes.TrainingsTracingAdministration.finishReviewForm(tracing.id, true), 'class -> "form-vertical") {
  <div class="control-group">
    <label class="control-label" for="comment">Comment</label>
    <div class="controls">
      <textarea name="comment" id="comment" class="input-fullwidth" style="box-sizing: border-box;" rows="15"></textarea>
    </div>
  </div>
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.finishReviewForm(tracing.id, true)" data-ajax="submit,redirect=@controllers.admin.routes.TrainingsTaskAdministration.list" class="btn btn-primary">Accept tracing</a>
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.finishReviewForm(tracing.id, false)" data-ajax="submit,redirect=@controllers.admin.routes.TrainingsTaskAdministration.list" class="btn btn-danger">Reject tracing</a>
}