@(tasks: List[models.task.Task], annotations: List[models.annotation.Annotation], experiences: Seq[String], tracingForm: Form[(String, String, models.task.Training)])(implicit session: oxalis.view.AuthedSessionData)

@import play.api.libs.json.Json

@taskHelpLink() = {
  <a href="@controllers.admin.routes.TaskAdministration.create">Create a new Task</a>
}

@taskTypeHelpLink() = {
  <a href="@controllers.admin.routes.TaskTypeAdministration.list">Create a new Type</a>
}

@main(){
  <div class="container">
    <h3>Create Trainings-Task</h3>
    <div class="row">
      <p class="span8">The tracing is used as a reference for the training. After a user has submitted his training result, it is getting compared with the reference.</p>
    </div>
    <div class="well">
    
      @helper.form(controllers.admin.routes.TrainingsTaskAdministration.createFromForm, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        
        @helper.select(tracingForm("task"), tasks.map { task =>
          task.id -> (s"${task.taskType.map(_.summary).getOrElse("")} ${task.id}")
        }, Symbol("help-inline") -> taskHelpLink)

        @helper.select(tracingForm("tracing"), annotations.map { a =>
          a.id -> ( a.typ + " " + a.dataSetName + " " + a.content.map(t => formatDate(t.date)) )
        })

        @helper.input(tracingForm("training.domain")) { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" data-source='@Json.stringify(Json.toJson(experiences))' data-provide="typeahead" autocomplete="off" @toHtmlArgs(args)>
        }

        @helper.inputText(tracingForm("training.gain"), 'type -> "number")
        
        @helper.inputText(tracingForm("training.loss"), 'type -> "number")

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>
  </div>
}