#action-bar {

  padding-top: 10px;

  :invalid {
    border: 1px solid red;
  }

  #trace-save-button {
    width: 80px;
  }

  .dataset-position-view .input-group {
    width: 200px;
  }

  & > .container-fluid > div {
    display: inline-block;
    margin-right: 15px;
  }

  #upload-and-explore-form {
    width: 100%;
  }

}
