@import "_settings.less";

#left-menu {
  position: relative;
  width: @left-menu-width;
  padding: 10px 0px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;

  .row {
    margin-bottom: 10px;
  }

  .input-group-addon {
    min-width: 78px;
  }

  #dataset-actions .col-sm-9 {
    padding-left: 0px;
  }

  #dataset-info .well {
    margin: 0px 0px;
  }

  #review-comments {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
  }

  #segmentation-slider {
    p{
      float:left;
      padding: 3px;
    }
  }
}
