// The menu items to the right side of the tracing view.
// Currently tabs for comments / trees etc

#abstract-tree-canvas {
  flex-grow: 1;
  min-height: 600px;
  width: 100%;
}

#tree-list {
  height: inherit;
  display: flex;
  flex-direction: column;
  .fa-angle-right {
    width: 11px;
    margin-left: 5px;
  }

  .ant-input-group {
    margin: 10px 0px;
  }

  .tree-hierarchy-header {
    color: rgba(24, 144, 255, 0.9);
    margin-left: 32;
  }

  .clickable-text {
    cursor: pointer;
  }

  .selected-tree-node {
    background-color: rgba(148, 247, 153, 0.9);
  }

  .selected-and-active-tree-node {
    background-color: rgb(64, 169, 255);
    &:hover {
      color: #266599;
    }
  }

  .rst__rowLabel {
    padding-right: 0px;
    .rst__rowTitle div {
      padding-right: 10px;
    }
  }
  .rst__rowSearchMatch .rst__rowLabel {
    background-color: rgb(135, 213, 255);
  }
}

.info-tab-content {
  padding: 10px;
}

.markdown-small {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 16px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.65);
  }
  max-height: 21px;
  overflow: hidden;
}

.markdown {
  p {
    margin-bottom: 0;
  }
}
