// The menu items to the right side of the tracing view.
// Currently tabs for comments / trees etc

#tab-trees {
  p {
    width: 260px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  // bootstrap doesn't support two button-groups on one side
  .input-group-btn:nth-of-type(2) .btn {
    border-radius: 0px;
    margin-left: -1px;

  }
}

#right-menu {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  width: 300px; // will be set dynamically in JS
  overflow-x: hidden;
  overflow-y: scroll;

  .tab-pane {
    min-height: 100px;
    word-wrap: break-word;
    white-space: normal;

    div {
      margin-bottom: 10px;
    }
  }

}

#tree-list {
  .fa-bull::before {
    width: 14px;
  }
}
