.nav-tabs {
  margin-bottom: 0;
  & > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

#lefttabbar {
  position: relative;

  .panel {
    border-radius: 0px;
    margin-top: -1px; //avoid double borders
  }
  .panel-body {

    .row {
      margin-bottom: 5px;
    }
  }
}

@settingsPaddingLeft: 4px;

.slider-setting-view, .color-setting-view {
  .v-center-agent {
    height: @bsButtonHeight;
  }
  .col-sm-4 {
    padding-left: @settingsPaddingLeft;
  }
}

.checkbox-setting-view .col-sm-1 {
  padding-left: @settingsPaddingLeft;
}

.dropdown-setting-view .col-sm-7 {
  padding-left: @settingsPaddingLeft;
}
