// add the margin-left to the settings width
@settings-wrapper-width: @left-menu-width + 10;

#settings-menu-wrapper {
  position: absolute;
  width: @settings-wrapper-width;
  margin-right: 10px;
  transform: translate(-@settings-wrapper-width, 0);
  overflow: hidden;
  z-index: 500;
}

#settings-menu {
  width: @left-menu-width;
  padding: 10px 0px;

  .settings-row {
    margin-bottom: 10px;
  }

  .setting-label {
    word-wrap: break-word;
    white-space: normal;
  }
}

