#tracing {

  position: relative;
  display: inline-block;
  vertical-align: top;

  margin: 0 20px;

  canvas {
    z-index: 10;
  }

  #flightmode-switch {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  #inputcatchers {
    position: absolute;
    width: 100%;
  }
  .inputcatcher {
    width: @standardViewportWidth;
    height: @standardViewportWidth;
    border-style:solid;
    border-width: 2px;
    z-index: 20;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
  }

  #inputcatcher_PLANE_YZ {
    margin-left: 20px;
  }
  #inputcatcher_PLANE_XZ {
    margin-top: 20px;
  }
  #inputcatcher_TDView {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
  }
  #TDViewControls {
    float: left;
    height: 20px;
    position: absolute;
    top: 0px;
    z-index: 30;

    .ant-btn {
      & > .colored-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
      }
      &:nth-child(2) .colored-dot {
        background-color: red;
      }
      &:nth-child(3) .colored-dot {
        background-color: blue;
      }
      &:nth-child(4) .colored-dot {
        background-color: #0f0;
      }
    }
  }
}

.zoomstep-warning {
  border: 5px solid red;
}

.tracing-layout {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-right: 20px;
  height: ~"calc(100vh - 41px)";
  .ant-layout-header {
    height: auto;
    min-height: 64px;
  }
  &.ant-layout, & .ant-layout {
    overflow: initial;
  }
  .ant-layout-content {
    overflow: initial;
  }
  .ant-layout-sider {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.tracing-settings-menu {
  width: @left-menu-width;
  padding-left: 20px;

  .ant-collapse-header {
    font-size: 14px;
  }

  .settings-row {
    margin-bottom: 10px;
  }

  .setting-label {
    word-wrap: break-word;
    white-space: normal;
    margin-right: 5px;
    display: inline-block;
  }
}
.tracing-right-menu {
  min-width: 450px;
}
