@(assertion: models.Assertion)(implicit session: brainflight.view.AuthedSessionData)

@import play.api.libs.json._

@main(){
  <div id="assertion" class="container">
    <h3> Assertion </h3> 

    @formatDate(assertion.timestamp) - @assertion.user.map(_.name) <br />

    <h4>Value</h4>
    @assertion.value
    <h4>Stacktrace</h4>
    <strong>@assertion.title</strong> @assertion.message <br/><br/>
    @Json.parse(assertion.stacktrace).asOpt[JsArray].map{ case JsArray(arr) => 
       @println(arr)
       @arr.map{ case JsString(s) =>
         @s <br />
       } 
     }
    <h4>Globalcontext</h4>
    @assertion.globalContext
    <h4>Localcontext</h4>
    @assertion.localContext
  </div>
}
