{
  presets: [
    ["env", {
      "targets": {
        "browsers": [
          "last 3 Chrome versions",
          "last 3 Firefox versions",
          "last 2 Edge versions",
          "last 1 Safari versions",
          "last 1 iOS versions"
        ]
      },
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "react",
  ],
  plugins: [
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-flow-strip-types",
  ]
}
