{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "exclude": [
            "transform-regenerator"
          ],
        }],
        "@babel/preset-react",
      ],
      plugins: [
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-flow-strip-types",
        ["import", { libraryName: "antd" }],
        "syntax-dynamic-import",
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
      ],
    }
  },
  presets: [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 3 Chrome versions",
          "last 3 Firefox versions",
          "last 2 Edge versions",
          "last 1 Safari versions",
          "last 1 iOS versions"
        ]
      },
      "exclude": [
        "transform-regenerator"
      ],
      "modules": false,
    }],
    "@babel/preset-react",
  ],
  plugins: [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types",
    ["import", { libraryName: "antd" }],
    "syntax-dynamic-import",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
}
