version: '2.2'

services:
  webknossos:
    build: .
    image: scalableminds/webknossos:${DOCKER_TAG:-master}
    ports:
      - "9000:9000"
    links:
      - fossildb
      - postgres
    entrypoint: bin/oxalis
    command:
      - -Djava.io.tmpdir=disk
      - -Dconfig.file=conf/application.conf
      - -Djava.net.preferIPv4Stack=true
      - -Dhttp.address=0.0.0.0
      - -Ddatastore.fossildb.address=fossildb
      - -Dpostgres.url=jdbc:postgresql://postgres/webknossos
      - -Dapplication.insertInitialData=false
      - -Dapplication.authentication.enableDevAutoLogin=false
      # the following lines disable the integrated datastore:
      # - -Dplay.modules.enabled-="com.scalableminds.webknossos.datastore.DataStoreModule"
      # - -Ddatastore.enabled=false
    volumes:
      - ./binaryData:/srv/webknossos/binaryData
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos

  webknossos-datastore:
    build: webknossos-datastore
    image: scalableminds/webknossos-datastore:${DOCKER_TAG:-master}
    ports:
      - "9090:9090"
    entrypoint: bin/webknossos-datastore
    volumes:
      - ./binaryData:/srv/webknossos-datastore/binaryData
    command:
      - -J-Xmx20G
      - -J-Xms1G
      - -Dconfig.file=conf/standalone-datastore.conf
      - -Dlogger.file=conf/logback-docker.xml
      - -Dlogback.configurationFile=conf/logback-docker.xml
      - -Dhttp.port=9090
      - -Dhttp.address=0.0.0.0
      - -Dhttp.uri=http://webknossos-datastore:9090
      - -Ddatastore.fossildb.address=fossildb
      - -Ddatastore.oxalis.uri=webknossos:9000
    links:
      - fossildb

  base:
    image: scalableminds/webknossos-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
      cache_from:
        - scalableminds/webknossos-dev
        - scalableminds/webknossos-dev:${DEV_CACHE:-master}
    environment:
      - USER_NAME=${USER_NAME:-sbt-user}
      - USER_UID
      - USER_GID
      - COVERALLS_REPO_TOKEN
      - TZ=${TZ:-Europe/Berlin}
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos
      - HOME=/root
    working_dir: /home/${USER_NAME:-sbt-user}/webknossos
    volumes:
      - ".:/home/${USER_NAME:-sbt-user}/webknossos"
      - "${DOCKER_CACHE_PREFIX:-~}/.m2:/root/.m2"
      - "${DOCKER_CACHE_PREFIX:-~}/.ivy2:/root/.ivy2"
      - "${DOCKER_CACHE_PREFIX:-~}/.sbt:/root/.sbt"
      - "${DOCKER_CACHE_PREFIX:-~}/.yarn-cache:/root/.cache/yarn"
    user: ${USER_UID:-1000}:${USER_GID:-1000}

  compile:
    extends:
      service: base
    links:
      - postgres

  dev:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    links:
      - fossildb-dev
      - postgres-dev
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres-dev/webknossos
    command:
      - bash
      - -c
      - >
        sbt
        -v -d -jvm-debug 5005
        "run
          -Djava.net.preferIPv4Stack=true
          -Dhttp.address=0.0.0.0
          -Ddatastore.fossildb.address=fossildb-dev
          -Dpostgres.url=$${POSTGRES_URL}"
    stdin_open: true

  backend-tests:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    command: sbt -v -d "test-only backend.*"

  e2e-tests:
    extends:
      service: backend-tests
    links:
      - postgres
      - fossildb
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos_testing
    command:
      - bash
      - -c
      - >
        sbt
        -v -d
        "test-only e2e.* --
          -Ddatastore.fossildb.address=fossildb
          -Dpostgres.url=$${POSTGRES_URL}"

  screenshot-tests:
    build:
      context: .
      dockerfile: Dockerfile.puppeteer
    environment:
      - BRANCH
    working_dir: /home/pptruser/webknossos
    command: bash -c 'for i in {1..3}; do yarn test-screenshot && break; done'
    volumes:
      - ".:/home/pptruser/webknossos"
    user: ${USER_UID:-1000}:${USER_GID:-1000}

  postgres:
    image: postgres:10-alpine
    environment:
      POSTGRES_DB: webknossos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  postgres-dev:
    extends:
      service: postgres
    ports:
      - "5432:5432"
    volumes:
      - "./pg/dev-db:/var/lib/postgresql/data/"

  psql:
    extends: postgres
    command: psql -h postgres -U postgres webknossos
    links:
      - postgres
    environment:
      PGPASSWORD: postgres

  fossildb:
    image: scalableminds/fossildb:master__337
    command:
      - fossildb
      - -c
      - skeletons,skeletonUpdates,volumes,volumeData
    user: ${USER_UID:-fossildb}:${USER_GID:-fossildb}

  fossildb-dev:
    extends:
      service: fossildb
    ports:
      - "7155:7155"
    volumes:
      - "./fossildb/data:/fossildb/data"
      - "./fossildb/backup:/fossildb/backup"
