version: '2.1'

services:
  webknossos:
    image: scalableminds/webknossos:${DOCKER_TAG:-master}
    ports:
      - "9000:9000"
    links:
      - mongo
      - fossildb
    environment:
      - PORT=9000
      - MODE=dev

  base:
    image: scalableminds/sbt:sbt-0.13.15_mongo-3.2.17_node-8.x_jdk-8
    environment:
      - USER_NAME=${USER_NAME:-sbt-user}
      - USER_UID
      - USER_GID
      - TZ=${TZ:-Europe/Berlin}
    working_dir: /home/${USER_NAME:-sbt-user}/webknossos
    volumes:
      - ".:/home/${USER_NAME:-sbt-user}/webknossos"
      - "${DOCKER_CACHE_PREFIX:-~}/.m2:/home/${USER_NAME:-sbt-user}/.m2"
      - "${DOCKER_CACHE_PREFIX:-~}/.ivy2:/home/${USER_NAME:-sbt-user}/.ivy2"
      - "${DOCKER_CACHE_PREFIX:-~}/.sbt:/home/${USER_NAME:-sbt-user}/.sbt"
      - "${DOCKER_CACHE_PREFIX:-~}/.yarn-cache:/usr/local/share/.cache/yarn"

  dev:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    links:
      - mongo-dev
      - fossildb-dev
    command:
      - bash
      - -c
      - >
        ./sbt
        -v -d -jvm-debug 5005
        "run
          -Djava.net.preferIPv4Stack=true
          -Dhttp.address=0.0.0.0
          -Dhttp.port=$${PORT}
          -Ddatastore.fossildb.address=fossildb-dev
          -Dmongodb.db=$${MONGO_DB}
          -Dmongodb.url=$${MONGO_HOST}
          -Dmongodb.port=$${MONGO_PORT}
          -Dmongodb.uri=mongodb://$${MONGO_HOST}:$${MONGO_PORT}/$${MONGO_DB}"
    environment:
      - PORT=9000
      - MONGO_HOST=mongo-dev
      - MONGO_PORT=27017
      - MONGO_DB=webknossos-dev
    stdin_open: true

  frontend-dependencies:
    extends:
      service: base
    command: yarn install

  frontend-linting:
    extends:
      service: base
    command: yarn run lint && yarn run am-i-pretty

  frontend-flow:
    extends:
      service: base
    command: yarn run flow

  frontend-tests:
    extends:
      service: base
    command: yarn test-verbose

  frontend-docs:
    extends:
      service: base
    command: yarn run docs

  e2e-tests:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    links:
      - mongo
      - fossildb
    command:
      - bash
      - -c
      - >
        ./sbt
        -v -d
        "test-only * --
          -Dconfig.file=./conf/application_$${MODE}.conf
          -Djava.net.preferIPv4Stack=true
          -Dhttp.address=0.0.0.0
          -Dhttp.port=$${PORT}
          -Ddatastore.fossildb.address=fossildb
          -Dmongodb.db=$${MONGO_DB}
          -Dmongodb.url=$${MONGO_HOST}
          -Dmongodb.port=$${MONGO_PORT}
          -Dmongodb.uri=mongodb://$${MONGO_HOST}:$${MONGO_PORT}/$${MONGO_DB}"
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=webknossos-testing
      - PORT=9000
      - MODE=dev

  mongo:
    image: mongo:3.4

  mongo-dev:
    extends:
      service: mongo
    ports:
      - "27017:27017"
    volumes:
      - "./dev-db/configdb:/data/configdb"
      - "./dev-db/db:/data/db"

  fossildb:
    image: scalableminds/fossildb:master__222
    command:
      - fossildb
      - -c
      - skeletons,skeletonUpdates,volumes,volumeData
    user: ${USER_UID:-1000}:${USER_GID:-1000}

  fossildb-dev:
    extends:
      service: fossildb
    ports:
      - "7155:7155"
    volumes:
      - "./fossildb/data:/fossildb/data"
      - "./fossildb/backup:/fossildb/backup"
