version: '2.1'

services:
  webknossos:
    build: .
    image: scalableminds/webknossos:${DOCKER_TAG:-master}
    ports:
      - "9000:9000"
    links:
      - fossildb
      - postgres
    entrypoint: bin/oxalis
    command:
      - -Djava.io.tmpdir=disk
      - -Dconfig.file=conf/application.conf
      - -Djava.net.preferIPv4Stack=true
      - -Dhttp.address=0.0.0.0
      - -Ddatastore.fossildb.address=fossildb
      - -Dpostgres.url=jdbc:postgresql://postgres/webknossos
      # the following lines disable the integrated datastore:
      - -Dplay.modules.enabled-="com.scalableminds.webknossos.datastore.DataStoreModule"
      - -Ddatastore.enabled=false
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos
      - USER_UID=1000
      - USER_GID=1000

  webknossos-datastore:
    build: webknossos-datastore
    image: scalableminds/webknossos-datastore:${DOCKER_TAG:-master}
    ports:
      - "9090:9090"
    entrypoint: bin/webknossos-datastore
    volumes:
      - ./binaryData:/srv/webknossos-datastore/binaryData
    command:
      - -J-Xmx20G
      - -J-Xms1G
      - -Dconfig.file=conf/standalone-datastore.conf
      - -Dlogger.file=conf/logback-docker.xml
      - -Dlogback.configurationFile=conf/logback-docker.xml
      - -Dhttp.port=9090
      - -Dhttp.address=0.0.0.0
      - -Dhttp.uri=http://webknossos-datastore:9090
      - -Ddatastore.fossildb.address=fossildb
      - -Ddatastore.oxalis.uri=webknossos:9000
    links:
      - fossildb
      - webknossos
    user: 1000:1000

  base:
    image: scalableminds/sbt:sbt-0.13.15_mongo-3.4.10_node-9.x_jdk-8
    environment:
      - USER_NAME=${USER_NAME:-sbt-user}
      - USER_UID
      - USER_GID
      - TZ=${TZ:-Europe/Berlin}
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos
    working_dir: /home/${USER_NAME:-sbt-user}/webknossos
    volumes:
      - ".:/home/${USER_NAME:-sbt-user}/webknossos"
      - "${DOCKER_CACHE_PREFIX:-~}/.m2:/home/${USER_NAME:-sbt-user}/.m2"
      - "${DOCKER_CACHE_PREFIX:-~}/.ivy2:/home/${USER_NAME:-sbt-user}/.ivy2"
      - "${DOCKER_CACHE_PREFIX:-~}/.sbt:/home/${USER_NAME:-sbt-user}/.sbt"
      - "${DOCKER_CACHE_PREFIX:-~}/.yarn-cache:/usr/local/share/.cache/yarn"

  compile:
    extends:
      service: base
    links:
      - postgres

  dev:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    links:
      - fossildb-dev
      - postgres-dev
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres-dev/webknossos
    command:
      - bash
      - -c
      - >
        sbt
        -v -d -jvm-debug 5005
        "run
          -Djava.net.preferIPv4Stack=true
          -Dhttp.address=0.0.0.0
          -Ddatastore.fossildb.address=fossildb-dev
          -Dpostgres.url=$${POSTGRES_URL}"
    stdin_open: true

  e2e-tests:
    extends:
      service: base
    ports:
      - "5005:5005"
      - "9000:9000"
    links:
      - postgres
      - fossildb
    command:
      - bash
      - -c
      - >
        sbt
        -v -d
        "test-only * --
          -Dconfig.file=./conf/application.conf
          -Djava.net.preferIPv4Stack=true
          -Dhttp.address=0.0.0.0
          -Ddatastore.fossildb.address=fossildb
          -Dpostgres.url=$${POSTGRES_URL}
          -Dapplication.insertInitialData=false"
    environment:
      - POSTGRES_URL=jdbc:postgresql://postgres/webknossos_testing

  postgres:
    image: postgres:10-alpine
    environment:
      POSTGRES_DB: webknossos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  postgres-dev:
    extends:
      service: postgres
    ports:
      - "5432:5432"
    volumes:
      - "./pg/dev-db:/var/lib/postgresql/data/"

  psql:
    extends: postgres
    command: psql -h postgres -U postgres webknossos
    links:
      - postgres
    environment:
      PGPASSWORD: postgres

  fossildb:
    image: scalableminds/fossildb:master__337
    command:
      - fossildb
      - -c
      - skeletons,skeletonUpdates,volumes,volumeData
    user: ${USER_UID:-fossildb}:${USER_GID:-fossildb}

  fossildb-dev:
    extends:
      service: fossildb
    ports:
      - "7155:7155"
    volumes:
      - "./fossildb/data:/fossildb/data"
      - "./fossildb/backup:/fossildb/backup"
