version: '2'

services:

  oxalis:
    image: scalableminds/oxalis:$DOCKER_TAG
    ports:
      - "9000:9000"
    links:
      - mongo
    environment:
      - PORT=9000
      - MODE=dev

  webknossos:
    image: scalableminds/webknossos:$DOCKER_TAG
    ports:
      - "9000:9000"
    links:
      - mongo
    environment:
      - PORT=9000
      - MODE=dev

  oxalis-sbt:
    image: scalableminds/sbt:$SBT_VERSION_TAG
    volumes:
      - ".:/project"
      - "~/.m2:/root/.m2"
      - "~/.ivy2:/root/.ivy2"
      - "~/.sbt:/root/.sbt"
      - "~/.yarn-cache:/root/.yarn-cache"

  oxalis-frontend-linting:
    extends:
      service: oxalis-sbt
    command: bash -c "npm run lint"

  oxalis-frontend-tests:
    extends:
      service: oxalis-sbt
    command: bash -c "npm test"

  oxalis-e2e-tests:
    extends:
      service: oxalis-sbt
    command: >
      bash -c
      "service xvfb start &&
       export DISPLAY=:99 &&
       sbt -v -d \"test-only * --
      -Dconfig.file=./conf/application_$${MODE}.conf
      -Djava.net.preferIPv4Stack=true
      -Dhttp.address=0.0.0.0
      -Dhttp.port=$${PORT}
      -Dmongodb.db=$${MONGO_DB}
      -Dmongodb.url=$${MONGO_HOST}
      -Dmongodb.port=$${MONGO_PORT}
      -Dmongodb.uri=mongodb://$${MONGO_HOST}:$${MONGO_PORT}/$${MONGO_DB}
      \""
    ports:
      - "9000:9000"
    links:
      - mongo
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=oxalis-testing
      - PORT=9000
      - MODE=dev

  mongo:
    image: mongo
