version: '2.1'

services:

  webknossos:
    image: scalableminds/webknossos:${DOCKER_TAG:-master}
    ports:
      - "9000:9000"
    links:
      - mongo
    environment:
      - PORT=9000
      - MODE=dev

  webknossos-dev:
    extends:
      service: sbt
    ports:
      - "9000:9000"
    links:
      - mongo
    command: >
      bash -c
      "sbt -v -d \"run
      -Djava.net.preferIPv4Stack=true
      -Dhttp.address=0.0.0.0
      -Dhttp.port=$${PORT}
      -Dmongodb.db=$${MONGO_DB}
      -Dmongodb.url=$${MONGO_HOST}
      -Dmongodb.port=$${MONGO_PORT}
      -Dmongodb.uri=mongodb://$${MONGO_HOST}:$${MONGO_PORT}/$${MONGO_DB}
      \""
    environment:
      - PORT=9000
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=play-oxalis

  sbt:
    image: scalableminds/sbt:$SBT_VERSION_TAG
    volumes:
      - ".:/project"
      - "~/.m2:/root/.m2"
      - "~/.ivy2:/root/.ivy2"
      - "~/.sbt:/root/.sbt"
      - "~/.yarn-cache:/root/.yarn-cache"

  webknossos-frontend-linting:
    extends:
      service: sbt
    command: bash -c "npm run lint"

  webknossos-frontend-flow:
    extends:
      service: sbt
    command: bash -c "npm run flow"

  webknossos-frontend-tests:
    extends:
      service: sbt
    command: bash -c "npm test"

  webknossos-e2e-tests:
    extends:
      service: sbt
    command: >
      bash -c
      "service xvfb start &&
       export DISPLAY=:99 &&
       sbt -v -d \"test-only * --
      -Dconfig.file=./conf/application_$${MODE}.conf
      -Djava.net.preferIPv4Stack=true
      -Dhttp.address=0.0.0.0
      -Dhttp.port=$${PORT}
      -Dmongodb.db=$${MONGO_DB}
      -Dmongodb.url=$${MONGO_HOST}
      -Dmongodb.port=$${MONGO_PORT}
      -Dmongodb.uri=mongodb://$${MONGO_HOST}:$${MONGO_PORT}/$${MONGO_DB}
      \""
    ports:
      - "9000:9000"
    links:
      - mongo
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=webknossos-testing
      - PORT=9000
      - MODE=dev

  mongo:
    image: mongo
    ports:
      - "27017:27017"
