@(tokenId: String, passwordForm: Form[(String, String)])(implicit request:RequestHeader, session: oxalis.view.SessionData, messages: Messages)

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.auth.mainAuth(Messages("reset.title"), tab = "signin") {
  @request.flash.get("error").map { msg =>
    @error.defaultError(msg, true)
  }
  @b3.form(routes.Authentication.handleResetPassword(tokenId)) {
    <fieldset>
      <legend>@Messages("reset.legend")</legend>

      @b3.password(passwordForm("password1"),
        '_label -> Messages("reset.password"),
        'placeholder -> Messages("reset.password"),
        'autofocus -> true)

      @b3.password(passwordForm("password2"),
        '_label -> Messages("reset.verifyPassword"),
        'placeholder -> Messages("reset.verifyPassword"),
        '_error -> passwordForm.globalError)

      @b3.submit('class -> "btn btn-primary"){ @Messages("reset.reset") }
    </fieldset>
  }
}
