@(form: Form[String])(implicit request:RequestHeader, session: oxalis.view.SessionData, messages: Messages)

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.auth.mainAuth(Messages("reset.title"), tab = "signin") {
  @request.flash.get("error").map { msg =>
    @error.defaultError(msg, true)
  }
  @b3.form(routes.Authentication.handleStartResetPassword) {
    <fieldset>
      <legend>@Messages("reset.startLegend")</legend>
      @b3.email(form("email"), '_label -> Messages("reset.email"), 'placeholder -> Messages("reset.email"), 'autofocus -> true)
      @b3.submit('class -> "btn btn-primary"){@Messages("reset.submit")}
    </fieldset>
  }
}
