@(level: models.knowledge.Level)

<i class="icon-pencil"></i>
<a href="@controllers.levelcreator.routes.LevelCreator.useRandom(level.id)">edit</a><br />
<i class="icon-retweet"></i>
<a href="@controllers.levelcreator.routes.StackController.produce(level.id)" class="produce-stacks">
  produce Stacks
</a><br />
<i class="icon-truck"></i>
<a href="#"
	data-title = "Ship It!"
    data-content = 
    	"<button type='button' class='btn ship-stacks' data-level-id=@level.id data-autoship=true>Ship with autorender</button>
    	<br>
    	<button type='button' class='btn ship-stacks' data-level-id=@level.id data-autoship=false>Ship without autorender</button>"
    data-toggle = "popover"
    data-html = true
    data-placement = "right"
	class="ship-stacks-poopover">ship it</a><br />
<i class="icon-picture"></i>
<a href="@controllers.levelcreator.routes.StackController.list(level.levelId.name)" class="view-stacks">view Stacks</a><br />
<i class="icon-trash"></i>
<a href="@controllers.levelcreator.routes.LevelCreator.delete(level.id)" data-ajax="method=DELETE,delete-row,confirm">delete</a>