@(level: models.knowledge.Level, stacksInProgress: Option[Int], stacksInQueue: Option[Int], shipped: Boolean)
@import braingames.format.Formatter._

<tr data-levelid="@level.id" @if(level.isLatest != level.renderSettings.shouldBeShipped){ class="warning" }>
  <td>
    @level.game
  </td>
  <td> 
    <a href="#" data-prompt="@level.id" title="@level.id">#</a>
    <a href="@controllers.levelcreator.routes.StackController.list(level.levelId.name)">@level.levelId.name</a>
  </td>
  <td>
    @level.levelId.version
  </td>
  <td> @level.width x @level.height x (@level.slidesBeforeProblem + @level.slidesAfterProblem) </td>
  <td> @level.dataSetName </td>
  <td class="status-cell"> 
    @levelGenerationProgress(level.numberOfActiveStacks, stacksInProgress.getOrElse(0), stacksInQueue.getOrElse(0))
  </td>
  <td>
    @if(shipped){
      @shippedLevelLinks(level)
    } else {
      @latestLevelLinks(level)
    }
  </td>
</tr>