@(levels: List[models.knowledge.Level], form: Form[models.knowledge.Level], dataSets: List[models.binary.DataSet])(implicit session: brainflight.view.UnAuthedSessionData)

@main(){
  <div class="container">
    <h3>Levels</h3>
    <div class="well">
      @helper.form(controllers.levelcreator.routes.LevelCreator.create, 'class -> "form-horizontal") {
        @helper.inputText(form("name"))
        @helper.inputText(form("width"), 'type -> "number")
        @helper.inputText(form("height"), 'type -> "number")
        @helper.inputText(form("depth"), 'type -> "number")
        @helper.select(form("dataset"), options = dataSets.map(d => (d.name, d.name)))
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>

    <table class="table table-striped" id="level-list">
      <thead>
        <tr>
          <th> # </th>
          <th> Name </th>
          <th> Dimensions </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @levels.map{ level => 
        @levelTableItem(level)
      }
      </tbody>
    </table>
  </div>
}