@(shippedLevels: List[models.knowledge.Level], latestLevels: List[models.knowledge.Level], form: Form[models.knowledge.Level], dataSets: List[braingames.binary.models.DataSet], games: List[models.knowledge.Game], stacksInProgress: Map[models.knowledge.LevelId, Int], stacksInQueue: Map[models.knowledge.LevelId, Int], activeRenderers: Option[Int])(implicit request: RequestHeader)

@main(){
  <div class="container">
    <div class="clearfix">
      <h3 class="pull-left">Levels</h3>
      <p class="pull-right">Active renderers: @activeRenderers.getOrElse("<Unknown>")</p>
    </div>
    @levelForm(form, dataSets, games)

    <h4>Shipped Levels</h4>
    <table class="table table-striped" id="level-list">
      <thead>
        <tr>
          <th> Game </th>
          <th> Name </th>
          <th> Version </th>
          <th> Dimensions </th>
          <th> DataSet </th>
          <th> Rotated?</th>
          <th> Generation </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @shippedLevels.sortBy(l => l.levelId.name.toLowerCase + "#" + l.levelId.name.toLowerCase).map{ level =>
        @levelTableItem(level, stacksInProgress.get(level.levelId), stacksInQueue.get(level.levelId), true)
      }
      </tbody>
    </table>

    <h4>Latest Levels</h4>
    <table class="table table-striped" id="level-list">
      <thead>
        <tr>
          <th> Game </th>
          <th> Name </th>
          <th> Version </th>
          <th> Dimensions </th>
          <th> DataSet </th>
          <th> Rotated?</th>
          <th> Generation </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @latestLevels.sortBy(l => l.levelId.name.toLowerCase + "#" + l.levelId.name.toLowerCase).map{ level =>
        @levelTableItem(level, stacksInProgress.get(level.levelId), stacksInQueue.get(level.levelId), false)
      }
      </tbody>
    </table>
  </div>
}