@* levelGenerationProgress Template File *@
@(rendered: Int, stacksInQueue: Int, stacksInProgress: Int)

@calculateProgress(n: Long, p: Int, q: Int) = @{
    val d = (n + p + q).toFloat
    if(d == 0) 100 -> 0
    else n * 100 / d -> p * 100 / d
}

@progressBar(n: Long) = {
  @defining(calculateProgress(n, stacksInProgress, stacksInQueue)) { progress =>
    <div class="progress progress-striped">
      <div class="bar bar-success" style="width : @progress._1 % ;"></div>
      <div class="bar bar-warning" style="width : @progress._2 % ;"></div>
    </div>
  }
}

@progressBar(rendered)
<span title="Finished">
  <i class="icon-ok"></i>
  @rendered
</span>
<span title="in Progress">
  <i class="icon-retweet"></i>
  @stacksInProgress
</span>
<span title="in Queue">
  <i class="icon-inbox"></i>
  @stacksInQueue
</span>