@(levels: List[models.knowledge.Level], form: Form[models.knowledge.Level], dataSets: List[braingames.binary.models.DataSet], stacksInQueue: Map[models.knowledge.LevelId, Int], stacksInGeneration: Map[models.knowledge.LevelId, Int], activeRenderers: Option[Int])(implicit session: oxalis.view.UnAuthedSessionData)

@main(activeRenderers){
  <div class="container">
    <h3>Levels</h3>
    <div> Active renderers: @activeRenderers.getOrElse("<Unknown>")</div>
    <div class="well">
      @helper.form(controllers.levelcreator.routes.LevelCreator.create, 'class -> "form-horizontal") {
        @helper.inputText(form("name"))
        @helper.inputText(form("width"), 'type -> "number")
        @helper.inputText(form("height"), 'type -> "number")
        @helper.inputText(form("slides before problem"), 'type -> "number")
        @helper.inputText(form("slides after problem"), 'type -> "number")
        @helper.select(form("dataset"), options = dataSets.map(d => (d.name, d.name)))
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>

    <table class="table table-striped" id="level-list">
      <thead>
        <tr>
          <th> Name </th>
          <th> Dimensions </th>
          <th> DataSet </th>
          <th> Generation </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @levels.sortBy(_.levelId.name).map{ level => 
        @levelTableItem(level, stacksInQueue.get(level.levelId), stacksInGeneration.get(level.levelId))
      }
      </tbody>
    </table>
  </div>
}