@(level: models.knowledge.Level, outputFilepattern: String, levelUrl: String)

var page = require('webpage').create();

page.viewportSize = { width : 1000, height : 1000 };


var i = 0, length = 0;

var triggerRender = function() {
  
  console.log("rendering frame #" + i);
  page.evaluate(function(i) {
    window.levelCreator.headlessRendering(i);
  }, i);
}

page.onCallback = function (data) {

  console.log(data.message);

  if (data.message == "initialized") {

    page.clipRect = { top : 0, height : 0, width : data.width, height : data.height };

    length = data.length;

    console.log("" + length + " frames available");
    triggerRender();
  }

  if (data.message == "rendered") {
    console.log("rendering frame #" + i + "!");
    page.render("@{outputFilepattern}".replace("%i", i));
    console.log("rendered frame #" + i + " to " + "@{outputFilepattern}".replace("%i", i));
    
    i++;
    if (i <= length) {
      triggerRender();
    } else {
      phantom.exit();
    }
  }
}

page.onConsoleMessage = function(msg) {
  console.log( "CONSOLE: " + msg );
}

page.onError = function() {
  phantom.exit();
}

page.open("@{levelUrl}");
