@(level: models.knowledge.Level, outputFilepattern: String, metaFilename: String, levelUrl: String, missionId: Int)

var page = require("webpage").create();
var fs = require("fs");

page.viewportSize = { width : 1000, height : 1000 };


var i = 0, stackData;

var triggerRender = function() {
  
  console.log("rendering frame #" + i);
  page.evaluate(function(i) {
    window.levelCreator.headlessRendering(i);
  }, i);
}

page.onCallback = function (data) {

  console.log(data.message);

  if (data.message == "initialized") {

    page.clipRect = { top : 0, height : 0, width : data.width, height : data.height };

    stackData = { 
      width: data.width, 
      height: data.height,
      length: data.length,
      levelName: "@{level.name}",
      levelId: "@{level.id}",
      stackId: @{missionId},
      images: []
    };

    console.log("" + stackData.length + " frames available");
    triggerRender();
  }

  if (data.message == "rendered") {
    console.log("rendering frame #" + i + "!");
    var filename = "@{outputFilepattern}".replace("%i", i);
    page.render(filename);
    stackData.images.push(filename.substring(filename.lastIndexOf("/") + 1));
    console.log("rendered frame #" + i + " to " + filename);
    
    i++;
    if (i <= stackData.length) {
      triggerRender();
    } else {
      stackData.createdAt = Date.now();
      fs.write(
        "@{metaFilename}",
        JSON.stringify(stackData),
        "w"
      );
      console.log("wrote meta file to @{metaFilename}");
      
      phantom.exit();
    }
  }
}

page.onConsoleMessage = function(msg) {
  console.log( "CONSOLE: " + msg );
}

page.onError = function() {
  phantom.exit();
}

page.open("@{levelUrl}");
