@(level: models.knowledge.Level)

<i class="icon-retweet"></i>
<a href="@controllers.levelcreator.routes.StackController.produce(level.id)" class="produce-stacks" data-levelid="@level.id">
  produce Stacks
</a><br />
<input type="checkbox" @if(level.renderSettings.shouldAutoRender){ checked } class="auto-render-stacks"> auto render<br />
<i class="icon-picture"></i>
<a href="@controllers.levelcreator.routes.StackController.list(level.levelId.name)" class="view-stacks">view Stacks</a><br />
<!--<i class="icon-trash"></i>
<a href="@controllers.levelcreator.routes.LevelCreator.delete(level.id)" data-ajax="method=DELETE,delete-row,confirm">delete</a> -->
