@(stacks: List[(models.knowledge.Level, List[models.knowledge.RenderedStack])])(implicit session: oxalis.view.UnAuthedSessionData)
@main(){
  <div id="stack-list" class="container wide">
    @stacks.sortBy(-_._1.levelId.version).map{ case(level, stacks) =>

      @if(!stacks.isEmpty) {

        <div class="clearfix level-version">
          <header>
            <h3>@level.levelId</h3>
            <p>#@level.id</p>

            <p>
              <a href="@controllers.levelcreator.routes.StackController.deleteAll(level.id)" data-ajax="confirm,method=DELETE,reload">
                <i class="icon-trash"></i> Delete all
              </a>
            </p>
            <p>
              <a href="@controllers.levelcreator.routes.LevelCreator.setAsActiveVersion(level.id)" data-ajax>
                <i class="icon-star"></i> Set as active version
              </a>
            </p>
            <p>
              <a href="#bulk-load">
                <i class="icon-play"></i> Bulk load
              </a>
            </p>
          </header>

          <div data-levelname="@level.levelId" class="clearfix">
            @stacks.sortBy(_.mission.key).map{ stack =>
              <div class="stack img-polaroid" style="width: @(level.width + "px");">
                <header class="clearfix">
                  <h4>#@(stack.mission.key.split("_").last)</h4>
                  <div class="stack-buttons">
                    <a href="@controllers.levelcreator.routes.LevelCreator.use(level.id, stack.mission.id)" class="edit-button">
                      <i class="icon-pencil"></i>
                    </a>
                    <a href="@stack.downloadUrls.find(_.endsWith("meta.json"))" class="edit-button">
                      <i class="icon-cog"></i>
                    </a>
                    <a href="@controllers.levelcreator.routes.StackController.delete(level.id, stack.mission.id)" class="delete-button" data-ajax="method=DELETE,delete-parent=.stack">
                      <i class="icon-trash"></i>
                    </a>
                    <form method="POST">
                      <input type="hidden" name="missionId" value="@{stack.mission.id}" />
                      <a href="@controllers.levelcreator.routes.StackController.produce(level.id)" data-ajax="submit,busy-class"><i class="icon-retweet"></i></a>
                    </form>
                    <input type="checkbox">
                  </div>
                </header>
                <div class="stack-display clearfix" style="height: @((level.height + 20) + "px");">
                  <a href="@stack.downloadUrls.find(_.endsWith(".tar"))">
                    <i class="icon-play"></i>
                  </a>
                </div>
              </div>
            }
          </div>
        </div>

      } else {
        <div class="clearfix level-version">
          <header>
            <h3>@level.levelId</h3>
            <p>#@level.id</p>

            <p>
              <a href="@controllers.levelcreator.routes.LevelCreator.use(level.id)">
                <i class="icon-pencil"></i> Edit
              </a>
            </p>
            <p>
              <a href="@controllers.levelcreator.routes.LevelCreator.setAsActiveVersion(level.id)" data-ajax>
                <i class="icon-star"></i> Set as active version
              </a>
            </p>
          </header>
        </div>
      }
      
    }
  </div>
}