@(user: User)

@main( Some(user) ){
<script src="@routes.Assets.at("javascripts/libs/modernizr-2.0.6.min.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/requirejs-1.0.7.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/mjs.js")"></script>
  <div id="container">
    <div id="main" role="main">
      <div id="render">
        <div id="prevControls"></div>
        <div id="planexy" class="inputcatcher"></div>
        <div id="planeyz" class="inputcatcher"></div>
        <div id="planexz" class="inputcatcher"></div>
        <div id="skeletonview" class="inputcatcher"></div>
      </div>
      <div id="overlay">
        <div id="status"></div>
        <div id="optionswindow">
        </div>
      </div>  
    </div>   
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

  <script>

    if (Modernizr.webgl)
      Modernizr.load([
        "@routes.Assets.at("javascripts/libs/threejs/Three.js")",
        "@routes.Assets.at("javascripts/libs/threejs/stats.js")",
        "@routes.Assets.at("javascripts/brainflight.js")"
      ]);
    else
      alert( "Sorry dude, you need WebGL for this. Get Chrome or Firefox." );
      
  </script>
	
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 9 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
}
