@(tracing: models.tracing.Tracing)(additionalHtml: Html)(implicit session: brainflight.view.AuthedSessionData)

@import models.tracing.TracingType
@import models.task.Task

@main( ){
  <div id="container" data-tracing-type="@tracing.tracingType" class="clearfix">
    <div id="main" role="main">
      <div id="overlay">
        <a href="#" class="btn btn-primary" id="trace-save-button">Save</a>
        <div id="buttonbar" class="btn-group inline-block">
          @if(tracing.tracingType == TracingType.Task){
            <a href="@controllers.routes.TracingController.finishWithRedirect(tracing.id)" class="btn btn-small" id="trace-finish-button"><i class="icon-ok-circle"></i> Finish</a>
          }
          @if(!Task.isTrainingsTracing(tracing)){
            <a href="@controllers.admin.routes.NMLIO.download(tracing.id)" class="btn btn-small" id="trace-download-button"><i class="icon-download"></i> NML</a>
          }
          <a href="#" id="help-overlay" class="btn btn-small"><i class="icon-question-sign"></i> Help</a>
        </div>
        <div id="dataset" class="well well-small">@tracing.tracingType<br />DataSet: @tracing.dataSetName<br /></div>
        <div class="input-prepend">
          <span class="add-on">Position</span>
          <input id="trace-position-input" type="text">
        </div>
        <div id="zoomFactor">
        </div>
        <div class="tabbable">
          @defining(tracing.task){ task =>
            <ul class="nav nav-tabs">
              @if(task.isDefined) {
                <li><a href="#tab0" data-toggle="tab">Task</a></li>
              }
              @if(additionalHtml.body != ""){
                <li class="active"><a href="#tab1" data-toggle="tab">Review</a></li>
                <li>
              } else {
                <li class="active">
              }
              <a href="#tab2" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content">
              @if(task.isDefined) {
                <div class="tab-pane" id="tab0">
                  <h5>@task.map(_.taskType.map(_.summary))</h5>
                  @task.map(_.taskType.map(_.description))
                </div>
              }
              @if(additionalHtml.body != ""){
                <div class="tab-pane active" id="tab1">
                  <div id="review-comments">
                    @additionalHtml
                  </div>
                </div>
                <div class="tab-pane" id="tab2">
              } else {
                <div class="tab-pane active" id="tab2">
              }
                <div id="status"></div>
                <div id="optionswindow"></div>
              </div>
            </div>
          }
        </div>
      </div> 
      <div id="tracing">
        <div id="arbitraryplane"></div>      
        <div id="render">
          <div id="inputcatchers">
            <div id="modal" class="modal hide fade"></div>
            <div id="planexy" class="inputcatcher"></div>
            <div id="planeyz" class="inputcatcher"></div>
            <div id="planexz" class="inputcatcher"></div>
            <div id="skeletonview" class="inputcatcher">
              <div id="prevControls"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabbable span4" id="comments-tree">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-abstract" data-toggle="tab">Abstract Tree Viewer</a></li>
          <li><a href="#tab-comments" data-toggle="tab">Comments</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-abstract">
            <div id="abstractTreeViewer"></div>
          </div>
          <div class="tab-pane" id="tab-comments">
            <div class="input-prepend input-append" id="comment-navbar">
              <button class="btn" id="comment-previous"><i class="icon-caret-left"></i></button>
              <input class="input-medium" id="comment-input" type="text" placeholder="Comment">
              <button class="btn" id="comment-next"><i class="icon-caret-right"></i></button>
            </div>
            <div id="comment-container">
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

}
