@(tracing: models.tracing.Tracing)(implicit session: brainflight.view.AuthedSessionData)

@import models.tracing.TracingType

@main( ){
  <script src="@routes.Assets.at("javascripts/oxalis.js")"></script>
  <div id="container">
    <div id="main" role="main">
      <div id="render">
        <div id="prevControls"></div>
        <div id="planexy" class="inputcatcher"></div>
        <div id="planeyz" class="inputcatcher"></div>
        <div id="planexz" class="inputcatcher"></div>
        <div id="skeletonview" class="inputcatcher"></div>
      </div>
      <div id="overlay">
        <div id="buttonbar">
          <a href="#" onclick="window.oxalis.gui.saveNow()" class="btn">Save</a>
          @if(tracing.tracingType == TracingType.Task || tracing.tracingType == TracingType.Training){
            <a href="@controllers.routes.TracingController.finishWithRedirect(tracing.id)" class="btn">Finish</a>
          }
          @if(tracing.tracingType != TracingType.Training){
            <a href="@controllers.admin.routes.NMLIO.download(tracing.id)" class="btn"><i class="icon-download icon-black"></i> NML</a>
          }
          <a href="#" id="help-overlay" class="btn"><i class="icon-info-sign icon-black"></i> Keys</a>
        </div>
        <div id="dataset" class="well well-small">@tracing.tracingType<br />DataSet: @tracing.dataSetName<br /></div>
        <div class="input-prepend">
          <span class="add-on">Position</span>
          <input id="globalPos" type="text" onblur="window.oxalis.gui.setPosFromString(this.value)" onchange="window.oxalis.gui.setPosFromString(this.value)">
        </div>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Review comments</a></li>
            <li><a href="#tab2" data-toggle="tab">Options</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div id="review-comments"></div>
            </div>
            <div class="tab-pane" id="tab2">
              <div id="status"></div>
              <div id="optionswindow"></div>
            </div>
          </div>
        </div>
      </div>  
    </div>   
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

}
