/** Modal for changing user experience levels, includes table layout adjustments. */
.experience-change-modal {

  /** Table for listing and editing user experiences across different domains. */
  .user-experience-table {
    margin-bottom: 24px;

    .ant-table-header {
      overflow-y: auto;
      padding-bottom: 0px;
    }

    .ant-table-body {
      overflow-y: auto !important;
    }
  }
}