.experience-change-modal {
  .user-experience-table {
    margin-bottom: 24px;
    .ant-table-header {
      overflow-y: auto;
      padding-bottom: 0px;
    }
    .ant-table-body {
      overflow-y: auto !important;
    }
  }
  .clickable-icon:hover {
    cursor: pointer;
    color: var(--ant-color-primary);
  }
  .centered-table-item {
    text-align: center;
  }
}

.button-margin {
  margin-right: 8px;
  margin-top: 12px;
}

.max-height-for-upload {
  .ant-upload-list-text {
    max-height: 500px;
    overflow-y: auto;
  }
}

.edit-team-modal{
  .certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
    color: #666;
    font-weight: bold;
  }

  .certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
    border-bottom: 1px solid #f6f6f6;
  }

  .certain-category-search-dropdown .ant-select-dropdown-menu-item {
    padding-left: 16px;
  }

  .certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
  }

  .certain-category-search-dropdown .ant-select-dropdown-menu {
    max-height: 300px;
  }
}