.drawing-404 {
    width: 302px;
    height: 360px;
    display: inline-block;
    background-image: url("/assets/images/drawings/404.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.drawing-paid-feature-not-available {
    width: 500px;
    height: 300px;
    display: inline-block;
    background-image: url("/assets/images/drawings/upgrade-plan.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.drawing-signup:before {
    background-image: url("/assets/images/drawings/signup.svg") !important;
}