.drawing {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.drawing-404 {
    width: 302px;
    height: 360px;
    background-image: url("/assets/images/drawings/404.svg");    
}

.drawing-paid-feature-not-available {
    width: 500px;
    height: 300px;
    background-image: url("/assets/images/drawings/upgrade-plan.svg");
}

.drawing-signup:before {
    background-image: url("/assets/images/drawings/signup.svg") !important;
}

.drawing-empty-list-tasks {
    width: 352px;
    height: 392px;
    background-image: url("/assets/images/drawings/empty-list-tasks.svg");
}

.drawing-empty-list-annotations {
    width: 266px;
    height: 210px;
    background-image: url("/assets/images/drawings/empty-list-annotations.svg");
}

.drawing-empty-list-public-gallery {
    width: 308px;
    height: 242px;
    background-image: url("/assets/images/drawings/empty-list-public-gallery.svg");
}

.drawing-empty-list-dataset-upload {
    width: 300px;
    height: 242px;
    background-image: url("/assets/images/drawings/empty-list-dataset-upload.svg");
}