.bold {
  font-weight: bold;
}

// Only affect child items in tables
td.nowrap * {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.flip-horizontally {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);

  filter: FlipH;
  -ms-filter: "FlipH";
}

.bordered {
  border: 1px solid var(--ant-color-border);
  border-radius: 4px;
  padding: 4px 11px;
  width: fit-content;
}

// Layout util classes
.inline-block {
  display: inline-block;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex-overflow {
  overflow-y: auto;
  flex-grow: 1;
}

.centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * {
    margin: 6px;
  }

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

.pull-right {
  float: right !important;
}

.clearfix::before {
  // sometimes required by .pull-right
  display: table;
  content: "";
}
.clearfix::after {
  // sometimes required by .pull-right
  display: table;
  clear: both;
  content: "";
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.no-footer-modal {
  .ant-modal-footer {
    display: none;
  }
}

.flex-container {
  justify-content: space-between;
  display: flex;
}

.flex-center-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: inline-block;
  flex-grow: 1;
  word-break: break-all;
}

.flex-grow-1 {
  flex-grow: 1;
}

.min-height-0 {
  min-height: 0;
}

.text-center {
  text-align: center;
}

.deemphasized {
  color: #989898;
}

.italic {
  font-style: italic;
}

.background-organelles {
  height: 100%;
  min-height: calc(100vh - var(--navbar-height));
  background: var(--background-blue-organelles);
}

.full-viewport-height {
  height: 100%;
  min-height: calc(100vh - var(--navbar-height));
}

.grabbing {
  cursor: grabbing !important;
}
.grabbing * {
  cursor: grabbing !important;
}
.is-dragging {
  cursor: grabbing !important;
  user-select: none;
}

.is-dragging * {
  cursor: grabbing !important;
  user-select: none;
}

.resizable-two-split-pane {
  display: flex;
  flex-direction: column;
  height: 100%;

  .child-1 {
    overflow-y: auto;
    flex-grow: 1;
  }

  .resizable-divider {
    padding: 2px 0 10px;
    cursor: row-resize;

    .ant-divider {
      margin: 0;
    }
  }

  .child-2 {
    overflow-y: auto;
    flex-shrink: 1;
  }
}
