@blue-base: #5660ff;
@primary-color: #5660ff;
@pastel-blue: #aabaff;
@frosted-mint: #ddfdfa;
@blue-zircon: #59f8e8;
@black: rgba(0, 0, 0, 0.85);
@left-menu-width: 360px;
@xyRed: #eb4b98;
@yzBlue: #5660ff;
@xzGreen: #59f8e8;
@footer-height: 20px;
@background-blue-neurons: url(/assets/images/background_neurons_drawn.svg) 0 / cover no-repeat, @primary-color;
@background-blue-organelles: url(/assets/images/background_mixed_cells_drawn.svg) 0 / cover no-repeat, @primary-color;

:root {
    --navbar-height: 48px;
}
