@navbar-bottom-offset: 70px;
@left-menu-width: 360px;
@navbar-height: 48px;
@standardViewportWidth: 380px;
@mainColor: #2a3a48;
@xyRed: rgb(200, 20, 20);
@yzBlue: rgb(20, 20, 200);
@xzGreen: rgb(20, 200, 20);
