@primary-color: #5660FF;
@pastel-blue: #AABAFF;
@frosted-mint: #DDFDFA;
@blue-zircon: #59F8E8;
@black: rgba(0,0,0,0.85);
@left-menu-width: 360px;
@navbar-height: 48px;
@xyRed: rgb(200, 20, 20);
@yzBlue: rgb(20, 20, 200);
@xzGreen: rgb(20, 200, 20);
@footer-height: 20px;
