// Whenever possible try to customize antd v5 components through their "Design Tokens" and builtin theming
// See theme.tsx for details
// https://ant.design/docs/react/customize-theme

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}

.ant-layout-sider,
.ant-collapse-borderless,
.ant-layout {
  background-color: var(--ant-color-bg-base);
}

.ant-layout-header {
  padding: 0 20px;

  @media @smartphones {
    & .ant-menu-item,
    & .ant-menu-submenu-title {
      padding: 0;
      padding-right: 10px;
    }
  }
}

.ant-notification {
  width: auto;
  max-width: 80vw;
}

.ant-notification-notice {
  iframe {
    border: none;
    height: 200px;
    width: 500px;
    max-width: 80vw;
    resize: both;
  }

  &.ant-notification-notice-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    .ant-notification-notice-message,
    .ant-collapse-header,
    .ant-notification-notice-close,
    .ant-collapse-content-box {
      color: #a94442;
    }
    .ant-notification-notice-icon {
      animation-name: alert-wiggle;
      animation-duration: 5s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes alert-wiggle {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    2% {
      transform: translateX(8px) translateY(-8px);
    }
    4% {
      transform: translateX(-8px) translateY(8px);
    }
    6% {
      transform: translateX(8px) translateY(-8px);
    }
    8% {
      transform: translateX(-8px) translateY(8px);
    }
    10% {
      transform: translateX(8px) translateY(-8px);
    }
    12% {
      transform: translateX(-8px) translateY(8px);
    }
    14% {
      transform: translateX(8px) translateY(-8px);
    }
    16% {
      transform: translateX(-8px) translateY(8px);
    }
    18% {
      transform: translateX(8px) translateY(-8px);
    }
    20% {
      transform: translateX(0px) translateY(0px);
    }
  }
}

.ant-notification-notice-message {
  white-space: pre-wrap;

  .ant-notification-notice-message-single-line-auto-margin {
    // This fixes a too large margin-top for the notification content in Firefox
    float: left;
  }
}

.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
  padding: 1px 8px;
}
.large-table {
  word-break: break-word;
}

.ant-table-scroll > .ant-table-body {
  overflow-x: auto !important;
}

.ant-table-column-title {
  word-break: normal;
}

label.ant-checkbox-wrapper {
  line-height: 1.5;
}

.ant-layout-sider {
  // This solves problems with the settings sider, which sometimes doesn't appear
  // when opening it.
  transition: none;
}

// Remove Chinese Quote font, which is messing up our quotes
.ant-alert {
  font-family: @font-family;
}
.ant-alert-message {
  margin-left: 5px;
}

.ant-alert-banner {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.ant-card {
  font-family: @font-family;
}

.ant-radio-button-wrapper.aIJobSelection {
  width: auto; 
  height: auto; 
  padding: 0px; 
  div.ant-card-body {
    line-height: 0.9;
  }
}

.antd-no-border-list .ant-list-item {
  border-bottom: none;
}

.collapsed-nav-header .ant-menu:not(.right-navbar) {
  .ant-menu-item,
  .ant-menu-submenu-title,
  li.ant-menu-submenu {
    padding: 0 4px !important;
  }

  .anticon {
    margin-right: 0;
  }
}

.ant-steps-icon {
  .anticon {
    margin-right: 0;
  }
}

.ant-tooltip {
  // Make all tooltips click-through so that they don't make the underlying
  // UI unusable
  pointer-events: none;
}

// Custom component `LinkButton` renders a button that looks like a link.
// Antd’s `button type="link"` only gets us halfway there, though, hence, this:
.link-button {
  border: 0;
  padding: 0;
  height: initial;
}
.link-button > .anticon + span,
.link-button > span + .anticon {
  margin-left: initial;
}

.hide-checkbox-selection {
  .ant-table-selection,
  .ant-table-selection-col,
  .ant-table-selection-column {
    display: none;
  }
}

#segment-list {
  .ant-tree-title {
    // Make the tree elements in the segment list full-width
    width: 100%;
  }
}

#tree-list {
  .ant-tree-title {
    // Make the tree elements in the tree list full-width
    width: 100%;
  }
}
.ant-tree-directory .ant-tree-title {
  // Make the directory tree element full-width (subtract the width of the
  // directory icon)
  width: calc(100% - 24px);
  display: flex;
}

.ant-tree-directory {
  background: transparent;
  display: flex;
}

.ant-tree-node-content-wrapper {
  display: flex;
  // Set padding to 0 so that the contained title span fills the
  // wrapper entirely. Otherwise, ugly borders would appear on hovering.
  padding: 0 !important;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  border-radius: 4px;
}

.anticon.anticon-sync.anticon-spin {
  line-height: 0;
}

.ant-table-empty .ant-table-tbody > tr.ant-table-placeholder,
.ant-list-empty-text {
  color: var(--ant-color-text-tertiary)
}

.action-bar {
  // UI for additional coordinates should always be in dark mode
  // since it is located in the navbar's action bar.
  .ant-input-group-addon {
    background-color: rgb(58, 61, 72);
    border-color: #585867;
    color: #f1f1f1 !important;
  }
}

.ant-dropdown-menu-item-icon.fa-icon {
  margin-right: 5px;
}

.ant-dropdown-menu-item-icon > svg {
  width: 15px;
}

.ant-message,
.ant-message * {
  pointer-events: none;
}

.ant-radio-button-wrapper-disabled:first-child{
  opacity: 0.5;
}


.no-padding {
  padding: 0 !important;
}
