.ant-layout-header {
  padding: 0 20px;
  background: white;

  @media @smartphones {
    & .ant-menu-item,
    & .ant-menu-submenu-title {
      padding: 0;
      padding-right: 10px;
    }
  }
}

.ant-layout-sider {
  background: white;
}

.ant-layout {
  background: white;
}

.ant-tag {
  margin-bottom: 8px;
}

.ant-notification {
  z-index: 1040; // make sure we are above nav bar
  width: auto;
  max-width: 80vw;
}

.ant-notification-notice {
  iframe {
    border: none;
    height: 200px;
    width: 500px;
    max-width: 80vw;
    resize: both;
  }

  @keyframes alert-wiggle {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    2% {
      transform: translateX(8px) translateY(-8px);
    }
    4% {
      transform: translateX(-8px) translateY(8px);
    }
    6% {
      transform: translateX(8px) translateY(-8px);
    }
    8% {
      transform: translateX(-8px) translateY(8px);
    }
    10% {
      transform: translateX(8px) translateY(-8px);
    }
    12% {
      transform: translateX(-8px) translateY(8px);
    }
    14% {
      transform: translateX(8px) translateY(-8px);
    }
    16% {
      transform: translateX(-8px) translateY(8px);
    }
    18% {
      transform: translateX(8px) translateY(-8px);
    }
    20% {
      transform: translateX(0px) translateY(0px);
    }
  }

  .alert-wiggle {
    animation-name: alert-wiggle;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
}

.ant-notification-notice-message {
  white-space: pre-wrap;

  .ant-notification-notice-message-single-line-auto-margin {
    // This fixes a too large margin-top for the notification content in Firefox
    float: left;
  }
}

.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
  padding: 1px 8px;
}
.large-table {
  word-break: break-word;
}

.ant-table-scroll > .ant-table-body {
  overflow-x: auto !important;
}

.ant-table-column-title {
  word-break: normal;
}

label.ant-checkbox-wrapper {
  line-height: 1.5;
}

.ant-layout-sider {
  // This solves problems with the settings sider, which sometimes doesn't appear
  // when opening it.
  transition: none;
}

// Remove Chinese Quote font, which is messing up our quotes
.ant-alert {
  font-family: "Titillium Web", "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.ant-card {
  font-family: "Titillium Web", "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.antd-no-border-list .ant-list-item {
  border-bottom: none;
}

.sub-menu-without-padding .ant-menu-submenu-title {
  padding: 0;
}

.ant-menu-submenu.vertical-center-flex-fix {
  .ant-menu-submenu-title {
    display: flex;
  }
  display: flex;
}

.collapsed-nav-header {
  .ant-menu-item,
  .ant-menu-submenu-title,
  li.ant-menu-submenu {
    padding: 0 4px !important;
  }

  .anticon {
    margin-right: 0;
  }
}

.ant-steps-icon {
  .anticon {
    margin-right: 0;
  }
}

.ant-tooltip {
  // Make all tooltips click-through so that they don't make the underlying
  // UI unusable
  pointer-events: none;
}

// Make settings background plain white
.ant-collapse-borderless {
  background-color: white;
}

// The rules below are needed to have the row expand icon for tables of antd version 3.
// The icon in version 4 does not work correctly in firefox.
// See: https://github.com/ant-design/ant-design/issues/29303#issue-804593263
.ant-table-row-expand-icon::after {
  display: none;
}
.ant-table-row-expand-icon-expanded::before {
  content: "-";
}
.ant-table-row-expand-icon-collapsed::before {
  content: "+";
}
.ant-table-row-expand-icon::before {
  position: unset;
  transform: none;
  background: inherit;
  height: 100%;
}

.ant-table-row-expand-icon {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 13px;
}

// Custom component `LinkButton` renders a button that looks like a link.
// Antd’s `button type="link"` only gets us halfway there, though, hence, this:
.link-button {
  border: 0;
  padding: 0;
  height: initial;
}
.link-button > .anticon + span, .link-button > span + .anticon {
  margin-left: initial;
}
