@import "../../node_modules/antd/dist/antd.dark.less";
@import "./main.less";

body {
  background-color: #000;
}

.brain-loading-content img {
  filter: invert(1) contrast(0.7);
}

.inputcatcher.TDView,
.inputcatcher.arbitraryViewport {
  border-color: transparent;
}

a:hover {
  color: @blue-8;
}

.ant-slider-track,
.ant-slider-handle {
  background-color: @blue-4;
}

.ant-slider:hover {
  .ant-slider-track,
  .ant-slider-handle {
    background-color: @blue-5;
  }
}

.ant-input-affix-wrapper {
  // <FormInput>s have a transparent baclground color and rely on a dark background shining through which is not always the case
  // TODO: This is likely fixed by Antd v5 and can be removed
  background-color: @black;
}

// Change the bright versions to dark, too
.icon-sidebar-hide-left-bright {
  background-image: url(/assets/images/icon-sidebar-hide-left-dark.svg);
}

.icon-sidebar-show-left-bright {
  background-image: url(/assets/images/icon-sidebar-show-left-dark.svg);
}

.icon-sidebar-hide-right-bright {
  background-image: url(/assets/images/icon-sidebar-hide-right-dark.svg);
}

.icon-sidebar-show-right-bright {
  background-image: url(/assets/images/icon-sidebar-show-right-dark.svg);
}

.cell-context-icon {
  background-image: url("/assets/images/cell-bright.svg");
}

.voxelytics-view {
  .react-flow__minimap-mask {
    fill: rgba(50, 50, 50, 0.7);
  }
}

.login-view {
  // TODO: consider removing with Antd-v5
  .ant-input-affix-wrapper-status-error {
    background-color: @black !important;
  }
}

.drawing-upgrade-users {
  background: right -40px / 35% no-repeat url("/assets/images/pricing/add_users_dark_mode.svg");
}

.drawing-upgrade-storage {
  background: url("/assets/images/pricing/upgrade_storage_dark_mode.svg") right -10px / 25% no-repeat;
}

.drawing-empty-list-tasks {
  background-image: url("/assets/images/drawings/empty-list-tasks-dark.svg");
}

.drawing-empty-list-annotations {
  background-image: url("/assets/images/drawings/empty-list-annotations-dark.svg");
}

.drawing-empty-list-public-gallery {
  background-image: url("/assets/images/drawings/empty-list-public-gallery-dark.svg");
}

.drawing-empty-list-dataset-upload {
  background-image: url("/assets/images/drawings/empty-list-dataset-upload-dark.svg");
}

.icon-mouse-left {
  background-image: url("/assets/images/icon-mouse-left-dark.svg");
}

.icon-mouse-right {
  background-image: url("/assets/images/icon-mouse-right-dark.svg");
}

.keyboard-key-icon {
  background-image: url(/assets/images/icon-keyboard-key-dark.svg);
}
