.flexlayout__tab,
.flexlayout__tabset,
.flexlayout__tabset_tabbar_outer,
.flexlayout__border {
  background-color: transparent;
  color: unset;
}
.flexlayout__tab_border,
.flexlayout__tabset_tabbar_outer_top,
.flexlayout__tabset-selected {
  background-color: var(--ant-color-bg-base) !important;
}

.flexlayout__tabset_tabbar_outer_top {
  border-color: var(--ant-color-border);
}

.flexlayout__border_left {
  border-right: none;
}
.flexlayout__border_right {
  border-left: none;
}

.flexlayout__tabset_tabbar_inner_tab_container_top {
  border: none !important;
}

// The horizontal/vertical splitter is the UI element that is used to resize the borders between the tabs/viewports. 
.flexlayout__splitter:hover,
.flexlayout__splitter_drag {
  background-color: var(--ant-color-border-secondary)
}

.flexlayout__splitter {
  z-index: 21;
  background-color: var(--ant-color-border);

  &::before {
    content: "";
    background-color: transparent;
  }
}

// We configure the splitter to be almost invisible in code (just 1px) and use CSS transparent ::before pseudo to increase to mouse click/drag target instead. 
.flexlayout__splitter_vert::before {
  width: 11px;
  display: inline-block;
  height: 100%;
  position: relative;
  left: -5px;
}

.flexlayout__splitter_horz::before {
  height: 11px;
  display: inline-block;
  width: 100%;
  position: relative;
  // Somehow the before content is 10px below the splitter.
  top: -15px;
}

.flexlayout__tabset_tabbar_outer {
  // On Safari, this ensures that the "maximize/minimize viewport"-button is easily clickable and a tab header/name can be grabbed for repositioning. 
  // (otherwise, the resizer becomes the default target for some reason).
  z-index: 100;
}

.flexlayout__popup_menu {
  // These properties are copied from antd's styling:
  font-family: @font-family;
  font-weight: 400;
  font-size: 14px;
}

// Fix min/max window button in dark mode
.flexlayout__tab_toolbar_button:hover {
  background-color: var(--ant-color-bg-base);
  cursor: pointer;

  svg {
    fill: var(--ant-color-link);
  }
}

.flexlayout__tab_button {
  margin: 0;
  padding: 0px 5px;
  line-height: 1;
  // These properties are copied from antd's styling:
  font-size: 14px;
  font-weight: 400;
  font-family: @font-family;
  
  &:hover {
    cursor: move;
  }
  background-color: var(--ant-color-bg-base);

  .flexlayout__tab_button_content {
    background-color: var(--ant-color-bg-base);
    color: var(--ant-color-text-secondary);
    border-bottom: 1px solid transparent;
  }
  &.flexlayout__tab_button--selected {
    background-color: var(--ant-color-bg-base);
    .flexlayout__tab_button_content {
      background-color: var(--ant-color-bg-base);
      color: var(--ant-color-link);
    }
  }
  &:hover {
    background-color: var(--ant-color-bg-base);
    .flexlayout__tab_button_content {
      background-color: var(--ant-color-bg-base);
      color: var(--ant-color-link);
      border-bottom: 1px solid var(--ant-color-link);
    }
  }
}

.flexlayout-dont-overflow {
  overflow: hidden;
  height: 100%;
}

.flexlayout__outline_rect,
.flexlayout__outline_rect_edge {
  border-color: var(--color-wk-blue) !important;
}

// Reverse the direction of the buttons in the tabset bar to be able to position elements on the right.
.flexlayout__tab_toolbar {
  flex-direction: row-reverse;
}

// Select the first vertical border splitter and ignore all its pointer events to disable resizing of the border.
// This is only active when the left border is open and therefore only disables the splitter of the left border.
// More info about this css trick: https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class.
.hide_first_splitter_border {
  pointer-events: none;
}
// This re-enables all pointer event for all other border splitters that are not the first (left most).
.hide_first_splitter_border ~ .hide_first_splitter_border {
  pointer-events: all;
}
