.flexlayout__tab {
  background-color: transparent;
}
.flexlayout__tabset {
  background-color: transparent;
}
.flexlayout__tab_border,
.flexlayout__tabset-selected {
  background-color: white !important;
}

.flexlayout__tabset_tabbar_inner_tab_container_top {
  border: none !important;
}

.flexlayout__splitter:hover,
.flexlayout__splitter_drag {
  background-color: rgba(0, 0, 0, 0.4);
}
.flexlayout__splitter {
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.1);
  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }
}

.flexlayout__splitter_vert::before {
  width: 11px;
  display: inline-block;
  height: 100%;
  position: relative;
  left: -5px;
}

.flexlayout__splitter_horz::before {
  height: 11px;
  display: inline-block;
  width: 100%;
  position: relative;
  // Somehow the before content is 10px below the splitter.
  top: -15px;
}

.flexlayout__tab_button--selected,
.flexlayout__tab_button:hover {
  background-color: white;
  .flexlayout__tab_button_content {
    background-color: white;
    color: #1890ff;
    border-bottom: 1px solid #1890ff;
  }
}

.flexlayout__tab_button {
  margin: 0;
  padding: 0px 5px;
  line-height: 1;
  // These properties are copied from antd's styling:
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 400;
  font-family: "Titillium Web", "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  &:hover {
    cursor: move;
  }
  background-color: white;
}

.flexlayout-dont-overflow {
  overflow: hidden;
  height: 100%;
}

.flexlayout__outline_rect,
.flexlayout__outline_rect_edge {
  border-color: rgba(24, 144, 255, 0.85) !important;
}

// We reverse the direction of the buttons in the tabset bar to be able to position elements on the right.
.flexlayout__tab_toolbar {
  flex-direction: row-reverse;
}
