@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/flexlayout-react/style/light.css";
@import "../../node_modules/antd/dist/reset.css";
@import "../../node_modules/react-tooltip/dist/react-tooltip.css";

@import "_variables.less";
@import "_utils.less";
@import "_dashboard.less";
@import "_publications.less";
@import "trace_view/_tracing_view.less";
@import "trace_view/_status_bar.less";
@import "trace_view/_user_settings_view.less";
@import "trace_view/_action_bar.less";
@import "trace_view/_right_menu.less";
@import "antd_overwrites.less";
@import "olvy_overwrites.less";
@import "_admin.less";
@import "flex_layout_overwrites.less";
@import "_drawings.less";
@import "dark.less";
@import "command_palette.less";

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

// ----------------------- MAIN STYLES
body {
  margin: 0;
  font-family: @font-family;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialised;
  height: 100vh;
  padding-top: var(--navbar-height);
}

#main-container>section>.ant-layout-header {
  top: 0;
}

.save-error {

  .ant-layout-header,
  .ant-menu {
    background-color: var(--ant-color-error) !important;
  }
}

.construction {
  background: repeating-linear-gradient(45deg, #ffdc00, #ffdc00 20px, #111111 20px, #111111 40px);
}

.ant-layout-header {
  .logo {
    background: url(/assets/images/logo-icon-only.svg) 15px center no-repeat;
    padding-left: 46px;
    height: 48px;
    float: left;
    margin-top: 1px;
    background-size: 24px 24px;
  }

  .ant-menu-item .logo {
    filter: brightness(4);
  }

  @media @smartphones {
    a[href="/"] span {
      font-size: 0px; // hide text
    }
  }

  .ant-avatar {
    border: 1px solid var(--color-blue-zircon);
    background: transparent;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue-zircon);
      color: var(--color-black);
    }
  }

  .switch-organization-icon {
    position: absolute;
    top: 2px;
    right: -5px;
    margin-right: 0;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: var(--color-blue-zircon);
  }
}

.fa-random {
  width: 14px;
  background-position: -217px -120px;
}

.fa-bull::before {
  display: inline-block;
  width: 16px;
  content: "•";
  text-align: center;
}

.inline-block {
  display: inline-block;
}

#credits {
  img {
    margin-right: 10px;
    width: 25%;
    max-width: 100px;
  }
}

.onboarding {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.centered-content {
  padding: 50px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

#impressum {
  h5 {
    margin-top: 2em;
  }
}

// Fixing font awesome
.btn [class^="fa-"],
.nav [class^="fa-"],
.btn [class*=" fa-"],
.nav [class*=" fa-"] {
  line-height: normal;
}

button.narrow {
  // undo/redo + toolbar buttons
  padding: 0 10px;

  i {
    margin-right: 0 !important;
  }
}

.icon-margin-left {
  margin-inline-start: var(--ant-margin-xs);
}

.icon-margin-right {
  margin-inline-end: var(--ant-margin-xs);
}

.ant-spin-dot,
.ant-spin-dot i,
.ant-avatar i {
  margin-right: 0;
}

.monospace-id {
  // break long IDs
  word-wrap: break-word;
  max-width: 154px;
  font-family: monospace;
  font-size: 14px;
  width: 135px;
}

.hide-on-small-screen {
  @media (max-width: 1200px) {
    display: none !important;
  }
}

.container {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 970px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.icon-big {
  font-size: 180px;
  color: rgb(58, 144, 255);
}

@keyframes highlight-background {
  0% {
    background: #f6ff2e9c;
  }

  100% {}
}

// Brain loading spinner
.brain-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ant-color-bg-base);
  z-index: 300;
}

.brain-loading-container {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  height: 80%;
}

.brain-loading-content {
  max-width: 50%;
  width: 375px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.brain-loading-content>* {
  margin: 1em 0;
}

.brain-loading-bar {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--ant-color-border);
}

.brain-loading-bar:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: var(--ant-color-text-secondary);
  animation: loading 1.5s ease infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

.hover-effect-via-opacity {
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.link-in-progress {
  cursor: wait;
}

.nml-upload-zone-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5em 0;
  background: var(--ant-color-bg-mask);
  text-align: center;
  z-index: 1000;
}

.nml-upload-zone-modal {
  position: relative;
  top: 100px;
  width: 400px;
  height: 250px;
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius);
  margin: 0 auto;
}

.dataset-upload-dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: var(--ant-color-border-secondary);
  border-style: dashed;
  background-color: var(--ant-color-bg-container);
  color: var(--ant-color-text);
  font-size: 16px;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;

  &.dataset-upload-dropzone-active {
    border-color: var(--ant-color-border);
  }

  &.dataset-upload-dropzone-accept {
    border-color: var(--ant-color-success-border);
  }

  &.dataset-upload-dropzone-reject {
    border-color: var(--ant-color-error-border);
  }
}

.transparent-background-on-hover:hover {
  background: transparent;
}

.crosslink-box {
  padding: 20px;
  margin: 20px;
  background: var(--ant-color-bg-container);
  box-shadow: var(--ant-box-shadow);
  border-radius: 3px;
}

.webknossos-welcome-toast {
  // small notification in the bottom right corner when you are viewing a dataset and you are not logged in
  background-color: var(--color-wk-blue);

  .logo {
    background: url(/assets/images/logo-icon-only.svg) 15px center no-repeat;
    filter: brightness(4);
    width: 74px;
    height: 45px;
    background-size: 45px 45px;
    display: inline-block;
  }

  .ant-notification-notice-message {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px !important;
    color: white !important;
    font-size: 24px;
  }

  .ant-notification-notice-description {
    font-size: 16px;
    line-height: 21px;
    color: white !important;
    margin-inline-start: 24px !important;

    p {
      margin-bottom: 30px;
      margin-inline-end: 60px;
    }

    .drawing-welcome-guy {
      position: relative;

      &:before {
        width: 53px;
        height: 100px;
        display: block;
        position: absolute;
        top: -5px;
        right: 0px;
        content: " ";
        transform: translate(15%, -104%);
        background-image: url(/assets/images/drawings/waving-person.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .ant-btn-background-ghost:hover {
      color: #bbb;
      border-color: #bbb;
    }
  }

  .ant-notification-notice-close {
    color: white;
  }
}

.no-borders {

  input,
  button {
    border: transparent;
  }
}

.voxelytics-view {
  min-width: 1300px;

  .task-panel {
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .task-panel-name {
    color: #777;
    font-size: 0.9em;
    padding-left: 1em;
  }

  .task-panel-state {
    color: #777;
    font-size: 0.9em;
    padding-left: 1em;

    .ant-tag {
      margin-bottom: 0;
    }

    .ant-tag-default {
      color: #888;
      border-color: #ddd;
    }
  }

  .stats-table {
    text-align: right;

    tbody tr:nth-child(odd) {
      background-color: rgba(128, 128, 128, 0.1);
    }

    td,
    th {
      padding: 8px;
    }

    .stats-label {
      color: #aaa;
    }
  }

  .log-tab {
    display: flex;
    flex-direction: column;

    .log-tab-header {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-bottom: 8px;
    }

    .log-tab-warning {
      font-size: 0.9em;
      color: #777;
      text-align: center;
    }

    .log-content {
      position: relative;
      background-color: var(--ant-color-bg-container);
      width: 100%;
      height: 500px;
      overflow-y: auto;
    }

    .log-line {
      position: relative;
      padding-left: 60px;

      @log-font-family: "RobotoMono", Monaco, "Courier New", monospace;
      @log-font-size: 12px;
      @log-line-height: 19px;
      @log-line-number-width: 60px;

      .log-line-number {
        position: absolute;
        top: 0;
        left: 0;
        width: @log-line-number-width;
        padding-right: 1em;
        font-family: @log-font-family;
        font-size: @log-font-size;
        line-height: @log-line-height;
        color: #666;
        text-align: right;
        user-select: none;
      }

      code {
        display: block;
        width: calc(100% - @log-line-number-width);
        font-family: @log-font-family;
        font-size: @log-font-size;
        line-height: @log-line-height;
        overflow-wrap: break-word;
        color: var(--ant-color-text);
      }

      &:hover {
        background-color: var(--ant-control-item-bg-hover);
      }
    }

    &.log-tab-fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1001;
      background: var(--ant-color-bg-base);
      padding-top: 8px;

      .log-tab-header {
        padding-right: 8px;
      }

      .log-tab-content {
        height: unset;
        flex: 1;
      }
    }
  }

  .react-flow {
    .react-flow__minimap {
      background-color: var(--ant-color-bg-container);
    }

    .controls {
      flex-direction: column;
      display: flex;
      z-index: 1000;
      position: absolute;
      bottom: 25px;
      left: 0;

      .ant-btn:not(:first-child) {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .ant-btn:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.ReactModalPortal {
  position: absolute;
  z-index: 1001;
}

.folder-item {
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
  flex-grow: 1;
}

.valid-drop-target {
  background-color: var(--ant-blue-4);
}

.highlight-folder-sidebar {
  background-color: var(--ant-table-row-selected-hover-bg);
}

.sidebar-label {
  color: var(--ant-color-text-secondary);
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.login-view {
  & {
    height: 100%;
    min-height: calc(100vh - var(--navbar-height));
    background: var(--background-blue-neurons);
  }

  .login-content {
    max-width: 600px;
    padding: 80px;
    margin: 0 auto;

    @media @smartphones {
      padding: 20px;
      margin: 20px;
    }

    &:before {
      width: 260px;
      height: 170px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      content: " ";
      transform: translate(-14%, -70%);
      background-image: url(/assets/images/drawings/login.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.ai-job-title {
  text-align: center;
  display: inherit;
}

.project-and-annotation-type-dropdown {
  width: 200px;
}

.task-annotation-view {
  width: 31%;
}

.organization-switch-menu>ul {
  max-height: calc(100vh - var(--navbar-height) - 200px) !important;
}

.time-tracking-details {
  .ant-col {
    display: grid;
    align-content: center;
  }

  .ant-row {
    margin-left: 20px;
  }
}

.global-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-wk-blue);
  transition: width 0.3s ease-in-out;
}

.hidden-global-progress-bar {
  width: 0 !important;
  transition: none !important;
}

.max-z-index {
  z-index: 10000000000;
}

.registration-form-checkboxes {
  >div:first-of-type {
    margin-bottom: 0px;
  }

  >div:last-of-type {
    margin-bottom: 15px;
  }
}