@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/golden-layout/src/css/goldenlayout-base.css";
@import "../../node_modules/golden-layout/src/css/goldenlayout-light-theme.css";
@import "../../node_modules/react-sortable-tree/style.css";

// To update the antd iconfont:
// * Go to https://ant.design/
// * Find the iconfont in the network tab (host: at.alicdn.com)
// * Download .eot,.woff,.ttf,.svg to ./iconfont
// * Rename to iconfont.*

// Path is relative to the node_modules/antd/lib/style/themes/
@icon-url: "../../../../../frontend/stylesheets/iconfont/iconfont";

@import "_variables.less";
@import "_general.less";
@import "_dashboard.less";
@import "trace_view/_tracing_view.less";
@import "trace_view/_user_settings_view.less";
@import "trace_view/_action_bar.less";
@import "trace_view/_right_menu.less";
@import "_help.less";
@import "antd_overwrites.less";
@import "goldenlayout_overwrites.less";
@import "react_sortable_tree_overwrites.less";
@import "_admin.less";
@import "_google-charts-overwrites.less";

// ----------------------- MAIN STYLES
body {
  font-family: "Titillium Web", "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialised;
  height: 100vh;
  padding-top: @navbar-height;
}

#main-container > section > .ant-layout-header {
  top: 0;
}

.save-error {
  .ant-layout-header,
  .ant-menu {
    background-color: #c00 !important;
  }
}

.construction {
  background: repeating-linear-gradient(45deg, #ffdc00, #ffdc00 20px, #111111 20px, #111111 40px);
}

.ant-layout-header {
  .logo {
    background: url(/assets/images/oxalis.svg) 15px center no-repeat;
    padding-left: 46px;
    height: 48px;
    float: left;
    margin-top: 1px;
    background-size: 20px 20px;
    filter: invert(1);
  }

  @media @smartphones {
    height: 54px !important;

    a[href="/"] span {
      font-size: 0px; // hide text
    }
  }
}

.bold {
  font-weight: bold;
}

// Only affect child items in tables
td.nowrap * {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.fa-random {
  width: 14px;
  background-position: -217px -120px;
}

.fa-bull::before {
  display: inline-block;
  width: 16px;
  content: "•";
  text-align: center;
}

.inline-block {
  display: inline-block;
}

#credits {
  max-width: 600px;
  img {
    margin-right: 10px;
    width: 25%;
    max-width: 100px;
  }
}

#oxalis-header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
  font-size: 80px;
  font-size: 80px;
  line-height: normal;
  color: #000;
  margin-left: 30px;

  img {
    height: 100px;
    width: 100px;
  }

  @media @smartphones {
    font-size: 2rem;

    img {
      height: 60px;
      width: 60px;
    }
  }
}

.centered-content {
  padding: 50px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.container-with-hidden-icon {
  .hidden-icon {
    visibility: hidden;
  }
  &:hover {
    .hidden-icon {
      visibility: visible;
    }
  }
}

#spotlight-footnote {
  text-align: center;
  margin: 30px 0;
}

.spotlight-registration-form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);

  @media (max-width: 992px) {
    margin: 12px;
  }
}

#impressum {
  h5 {
    margin-top: 2em;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Fixing font awesome
.btn [class^="fa-"],
.nav [class^="fa-"],
.btn [class*=" fa-"],
.nav [class*=" fa-"] {
  line-height: normal;
}

// make sure text and icons have space between them
.anticon,
i {
  margin-right: 5px;
}

button.narrow {
  padding: 0 10px;
  i {
    margin-right: 0 !important;
  }
}

.withoutIconMargin i,
i.withoutIconMargin,
.withoutIconMargin .anticon,
.anticon.withoutIconMargin {
  // Allow to undo the above margin-right of 5px
  margin-right: 0 !important;
}

.ant-spin-dot,
.ant-spin-dot i,
.ant-avatar i {
  margin-right: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex-column-for-ant-tabs-container > div.ant-tabs-content {
  flex-grow: 1;
}

.flex-overflow {
  overflow-y: auto;
  flex-grow: 1;
}

.monospace-id {
  // break long IDs
  word-wrap: break-word;
  max-width: 154px;
  font-family: monospace;
  font-size: 14px;
  width: 135px;
}

img.img-50 {
  width: 47%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 968px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .hide-on-small-screen {
    display: none !important;
  }
}

.container {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text {
  padding: 2em 0;
  ul {
    padding: 1.5em;
    list-style: square;
    li {
      padding-bottom: 10px;
    }
  }
}

.icon-big {
  font-size: 180px;
  color: rgb(58, 144, 255);
}

.errorChainCollapse .ant-collapse-header {
  padding: 12px 0 0 32px !important;
}

@keyframes highlight-background {
  0% {
    background: #f6ff2e9c;
  }
  100% {
  }
}

.nice-scrollbar {
  // These only work in chrome
  &::-webkit-scrollbar-button {
    display: block;
    height: 5px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-button:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9c;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar {
    width: 8px;
  }

  // This is for firefox, to avoid showing a white line next to the scrollbar
  scrollbar-width: thin;
}

#retoggle-mount-root > div {
  top: 500px !important;
}

.cover-whole-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(252, 252, 252);
  z-index: 300;
}

// Flex helper

.Aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

// Minimalistic progress bar
.loader {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: #9f9f9f; // gray
  animation: loading 1.5s ease infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.hover-effect-via-opacity {
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.highlight-togglable-button.ant-btn {
  background-color: #2373c1 !important;
  &:not(:hover) {
    border-color: #2098de !important;
  }
}

.feature-highlight-row {
  flex-direction: row-reverse;
}

@smartphones .feature-highlight-row {
  flex-direction: row;
  float: none;
}

.link-in-progress {
  cursor: wait;
}

.keyboard-key-icon {
  border: 2px solid #888;
  border-radius: 2px;
  min-width: 26px;
  min-height: 26px;
  margin: 4px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  vertical-align: middle;
  line-height: 24px;
  font-weight: bold;
}

.keyboard-mouse-icon {
  max-width: 18px;
  max-height: 28px;
  margin: 4px;
}

span.keyboard-key-icon:first-child,
img.keyboard-mouse-icon:first-child {
  margin-left: 0px;
}
