.olvy-modal {
  display: none;
  transition: display 0.5s ease-in-out;
}

.olvy-unread-indicator {
  transform: translate(-10px, 15px) scale(0.8);
}

li#olvy-target:hover {
  background-color: transparent;
}
