@(project: models.task.Project)
@import models.annotation.AnnotationType


<tr id="@project.name">
  <td class="details-toggle"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
  <td> @project.name </td>
  <td> @project.owner.map(_.name).getOrElse("<deleted>") </td>
  <td class="nowrap">  
    <a href="@controllers.routes.AnnotationController.trace(AnnotationType.CompoundProject, project.name)" title="view all finished tracings"><i class="icon-random"></i> view</a><br />
    <a href="@controllers.admin.routes.NMLIO.projectDownload(project.name)" title="download all finished tracings"><i class="icon-download"></i> download</a><br />
    <a href="@controllers.admin.routes.ProjectAdministration.delete(project.name)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
  </td>
</tr>
<tr class="details-row" >
  <td colspan="12">
    <table class="table table-condensed table-nohead">
      <tbody>
        @project.tasks.map{ task =>
            @views.html.admin.task.taskDetailTableItem(task)
        }
      </tbody>
    </table>
  </td>
</tr>
