@(projects: List[models.task.Project])(implicit session: brainflight.view.AuthedSessionData)

@main(){
  <div class="container wide">
    <h3>Projects</h3>
    <table class="table table-double-striped table-details">
      <thead>
        <tr>
          <th class="details-toggle-all"> <i class="caret-right"></i> <i class="caret-down"></i> </th>
          <th> Name</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @projects.map{ project => 
        @projectTableItem(project)
      }
      </tbody>
    </table>
  </div>
}