@()(implicit session: oxalis.view.AuthedSessionData)

@main(){
  <div class="container">
    <h3>Projects</h3>
    <div class="well">
        <form action="@controllers.admin.routes.ProjectAdministration.create" method="POST" class="form-horizontal">
          <div class=" control-group">
            <label class="control-label" for="projectName">Project Name</label>
            <div class="controls">
              <input type="text" id="projectName" name="projectName" value="">
              <span class="help-inline errors"></span>
            </div>
          </div>
          <div class=" control-group">
            <label class="control-label" for="owner">Owner</label>
            <div class="controls">
                <select id="owner" name="owner"></select>
                <span class="help-inline errors"></span>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
    </div>


    <div class="page-selection"
      data-url="@controllers.admin.routes.ProjectAdministration.list()"
      data-paged-table-id="projectlist-table"
      data-disable-auto-pagination="true">
      <input type="text" class="search-query pagination-searchbox" placeholder="Search">
    </div>

    <table class="table table-double-striped table-details" id="projectlist-table">
      <thead>
        <tr>
          <th class="details-toggle-all"> <i class="caret-right"></i> <i class="caret-down"></i> </th>
          <th> Name</th>
          <th> Owner</th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="hide">
        <tr id="<%= element.name %>">
          <td class="details-toggle" href="<%= controllers.admin.TaskAdministration.tasksForProject(element.name).url %>" data-ajax="add-row=#<%= element.name %> + tr"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
          <td> <%= element.name %> </td>
          <td> <%= element.owner %> </td>
          <td class="nowrap">
            <a href="<%= controllers.AnnotationController.trace('CompoundProject', element.name).url %>" title="view all finished tracings"><i class="icon-random"></i> view</a><br />
            <a href="<%= controllers.admin.NMLIO.projectDownload(element.name).url %>" title="download all finished tracings"><i class="icon-download"></i> download</a><br />
            <a href="<%= controllers.admin.ProjectAdministration.delete(element.name).url %>" data-ajax="delete-row,confirm=@Messages("project.remove.confirm")"><i class="icon-trash"></i> delete </a>
          </td>
        </tr>
        <tr class="details-row" >
          <td colspan="12">
            <table class="table table-condensed table-nohead">
              <tbody>
               <!-- TAKS NEED TO BE LOADED INTO THIS TABLE -->
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
}