@(user:User, users: List[User])

@import brainflight.format._

@main(Some(user), false){
  <div class="container">
    @users.map{ user =>
      <div class="folder">
        <header>
            <legend>@user.name (@user.email)</legend>
        </header>
        <table class="table table-striped">
          <tbody>
            @user.experiments.flatMap(i => models.graph.Experiment.findOneById(i)).sortBy(_.timestamp).map{ exp =>
              <tr>
                <td><strong>@exp.dataSetName</strong></h4>
                <td><time datetime="@exp.date">@DateFormatter.format(exp.date)</time></td>
                <td><a href="@controllers.admin.routes.NMLIO.download(exp.id)"><i class="icon-download"></i> Export NML</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
  }
  </div>
}