@(user:User, users: List[User])

@main(Some(user)){
    <header>
        <hgroup>
            <h1>Administrator Section</h1>
            <h2>Visualisation of racked routes</h2>
        </hgroup>
    </header>
    
    <article  class="tasks">
          @users.map{ user =>
                <div class="folder">
                    <header>
                        <h3>@user.name</h3>
                        <span class="loader">Loading</span>
                    </header>
                    <ul class="list">
                    </ul>
                </div>
        }
        <button>Visualize</button> 
    </article>
}