@(loggedInUser: User, tasks: List[Task], taskTypes: List[TaskType])

@main(Some(loggedInUser)){
	<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Cell </th>
          <th> HBerg-Id </th>
          <th> Type </th>
          <th> DataSet </th>
          <th> Start </th>
          <th> Priority </th>
          <th> Created </th>
          <th> Instances </th>
        </tr>
      </thead>
      <tbody>
	    @tasks.map{ task => 
	      <tr>
	        <td> @task.id.drop(10) </td>
	        <td> @task.cellId </td>
	        <td> @task.seedIdHeidelberg </td>
            <td> @taskTypes.find(_._id == task.taskType).map(_.summary).getOrElse("") </td>
            <td> @task.dataSetName </td>
            <td> @task.start </td>
            <td> @task.priority </td>
            <td> @task.created </td>
            <td> @task.instances </td>
	      </tr>
	    }
      </tbody>
    </table>
  </div>
}