@(user: models.user.User, algorithms: List[models.task.TaskSelectionAlgorithm], current: models.task.TaskSelectionAlgorithm)

@main(Some(user)){
  <div class="container" id="task-selection-algoritm">
    @helper.form(action = controllers.admin.routes.TaskHandling.submitAlgorithm) {
      
      <input type="submit" value="Save" class="btn btn-primary">
      <input type="hidden" name="code" />
      <input type="hidden" name="use" value="1" />

      <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/ace/ace.js")"></script>
      <div class="editor-wrapper">
        <div id="editor">@current.js</div>
      </div>
    }
  </div>
}