@(loggedInUser: models.user.User, experiments: List[models.task.Experiment], taskTypes: List[models.task.TaskType], form: Form[Option[models.task.Task]])

@import brainflight.format._
@import controllers.BootstrapHelpers._

@main(Some(loggedInUser)){
  <div class="container">
    <h3>Create Task from temporary Experiment</h3>
    @helper.form(controllers.admin.routes.TaskAdministration.createFromExperiment, 'class -> "form-horizontal") {
        
        @helper.select(form("experiment"), experiments.map { exp =>
          exp.id -> (exp.dataSetName + " " + DateFormatter.format(exp.date)) 
        })
        
        @helper.select(form("taskType"), taskTypes.map { tt =>
          tt.id -> tt.summary
        })

        @helper.inputText(form("priority"), 'type -> "number", 'value -> 100)
        @helper.inputText(form("taskInstances"), 'type -> "number", 'value -> 0, 'min -> 0)
        
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
  </div>
}