@(loggedInUser: User, experiments: List[models.graph.Experiment], taskTypes: List[TaskType], form: Form[Option[Task]])

@import brainflight.format._

@main(Some(loggedInUser)){
  <div class="container">
    <h3>Create Task from temporary Experiment</h3>
    @helper.form(controllers.admin.routes.TaskAdministration.createFromExperiment, 'class -> "form-horizontal") {
        
        <div class="control-group">
          <label class="control-label" for="taskExperiment">Experiment:</label>
          <div class="controls">
            <select name="experiment" id="taskExperiment">
              @experiments.map{ exp =>
                <option value="@exp.id"> @(exp.dataSetName + " " + DateFormatter.format(exp.date)) </option>
              }
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="taskType">Task type:</label>
          <div class="controls">
            <select name="taskType" id="taskType">
              @taskTypes.map{ tt =>
                <option value="@tt.id"> @tt.summary </option>
              }
            </select>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="taskPriority">Priority:</label>
          <div class="controls">
            <input type="number" value="100" name="priority" id="taskPriority">
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="taskInstances">Task instances:</label>
          <div class="controls">
            <input type="number" value="0" min="0" name="instances" id="taskInstances">
          </div>
        </div>
        
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
  </div>
}