@(loggedInUser: User, users: List[User])

@main(Some(loggedInUser)){
  @users.groupBy( _.roles).map{ case (roles, us) => 
    <h3> Roles: @roles </h3> 
  <table class="table">
    <thead>
      <tr>
        <th> Username </th>
        <th> Email </th>
        <th> Role </th>
        <th> Verified </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @us.map{ user =>
       <tr> 
         <td> @user.name </td> 
         <td> @user.email </td>
         <td> @user.roles </td>
         <td> @if(user.verified) {            
           <i class="icon-ok"></i>
         } else {
           <a href="@controllers.admin.routes.UserAdministration.verifyUser(user.id)"> verify </a>
         }
         </td>
         <td> 
           <a href="@controllers.admin.routes.UserAdministration.deleteUser(user.id)"><i class="icon-trash"></i> delete </a>
         </td>
       </tr>
     }
    </tbody>
  </table>
  }
}