[Unit]
Description=WEBKNOSSOS tracingstore
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
WorkingDirectory=/usr/lib/webknossos-tracingstore
EnvironmentFile=/usr/lib/webknossos-tracingstore/config/environment
ExecStart=/usr/local/bin/docker-compose up --force-recreate --abort-on-container-exit -t 2 fossildb redis webknossos-tracingstore

[Install]
WantedBy=default.target
