[Unit]
Description=WEBKNOSSOS datastore
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
WorkingDirectory=/usr/lib/webknossos-datastore
EnvironmentFile=/usr/lib/webknossos-datastore/config/environment
ExecStart=/usr/local/bin/docker-compose up --force-recreate --abort-on-container-exit -t 2 webknossos-datastore

[Install]
WantedBy=default.target
