 /* Is only used in dev mode. In prod mode, the google hosted font is used. */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
       local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-regular.woff') format('woff');
}
