version: 2
jobs:
  build_test_deploy:
    machine: true
    environment:
      SBT_VERSION_TAG: sbt-0.13.15_mongo-3.2.17_node-8.x_jdk-8
      CACHE_VERSION: 1
      USER_NAME: circleci
      USER_UID: 1001
      USER_GID: 1001
    steps:
      - checkout
      - run:
          name: Pull sbt docker image
          command: docker pull scalableminds/sbt:$SBT_VERSION_TAG
      - restore_cache:
          keys:
            - cache-v{{ .Environment.CACHE_VERSION }}-{{ .Branch }}
            - cache-v{{ .Environment.CACHE_VERSION }}-master
      - run: &fix-permissions
          name: Fix folder permissions
          command: sudo chown -R circleci:circleci ~
      - run:
          name: Install frontend dependencies
          command: docker-compose run base yarn install
      - run: *fix-permissions
      - run:
          name: Build frontend documentation
          command: docker-compose run base yarn run docs
      - run:
          name: Build code (sbt and webpack)
          command: docker-compose run base sbt clean compile stage

      - save_cache:
          key: cache-v{{ .Environment.CACHE_VERSION }}-{{ .Branch }}
          paths:
            - "~/.m2"
            - "~/.ivy2"
            - "~/.sbt"
            - "~/.yarn-cache"

      - run:
          name: Build docker image
          command: docker build --no-cache --pull -t scalableminds/webknossos:${CIRCLE_BRANCH}__${CIRCLE_BUILD_NUM} .

      - run:
          name: Lint frontend code
          command: docker-compose run base bash -c "yarn run lint && yarn run am-i-pretty"
      - run:
          name: Validate frontend types with flow
          command: docker-compose run base yarn flow
      - run:
          name: Run frontend tests
          command: docker-compose run base yarn test-verbose
      # - run:
      #     name: Run end-to-end tests
      #     command: docker-compose run e2e-tests
      - run:
          name: Run smoke test
          command: |
            set -x
            DOCKER_TAG=${CIRCLE_BRANCH}__${CIRCLE_BUILD_NUM} docker-compose up -d webknossos
            sleep 10
            ./test/infrastructure/deployment.bash
            docker-compose down --volumes --remove-orphans

      # - run:
      #     name: Deploy docker images
      #     command: |
      #       set -x
      #       docker login -u $DOCKER_USER -p $DOCKER_PASS
      #       docker tag scalableminds/webknossos:${CIRCLE_BRANCH}__${CIRCLE_BUILD_NUM} scalableminds/webknossos:${CIRCLE_BRANCH}
      #       docker push scalableminds/webknossos:${CIRCLE_BRANCH}__${CIRCLE_BUILD_NUM}
      #       docker push scalableminds/webknossos:${CIRCLE_BRANCH}
      #       docker logout
workflows:
  version: 2
  default:
    jobs:
      - build_test_deploy
