@()(implicit session: oxalis.view.AuthedSessionData)

@main( showNavButtons = false ){

  <div id="issue-submit" class="container">

    @helper.form(action = controllers.routes.GithubIssues.submit) {

      <legend>Submit issue</legend>

      <div class="form-group">
        <label for="issueType">Type</label>
        <select name="type" id="issueType" class="form-control">
          <option value="bug">Technical problem</option>
          <option value="feature">Feature suggestion</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="issueSummary">Summary</label>
        <input type="text" class="form-control" name="summary" id="issue-summary" autofocus/>
      <div class="form-group">
        <label class="control-label" for="issueDescription">Description</label>
        <textarea name="description" class="form-control" id="issue-description"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Send" class="form-control btn btn-primary" />
      </div>
    }

  </div>


}
