@(name: String, datasetName: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Something unexpected went wrong while uploading and processing your dataset <i>@{datasetName}</i>. This should not have happened, and we apologize for the inconvenience.
</p>
<p>
  Our engineering team has been notified and will investigate the issue. Feel free to <a href="mailto:hello@@webknossos.com">contact us for assistance</a> or please try again later.
</p>

<p>Here are some tips for uploading and converting datasets:
<ul>
  <li><a href="https://docs.webknossos.org/webknossos/data/index.html">See the documentation on supported file formats</a></li>
  <li><a href="https://docs.webknossos.org/webknossos-py/index.html">Try our Python library for uploading datasets</a></li>
  <li><a href="https://docs.webknossos.org/webknossos/data/streaming.html">Try streaming your data as Zarr, Neuroglancer, or N5 files instead of uploading</a></li>
</ul>
</p>

<p>With best regards,<br />the WEBKNOSSOS team</p>

@emailImage(
  src = "https://static.webknossos.org/mails/email-drawing-failed-job.png",
  alt = "A robot dismayed about an unsuccessful WEBKNOSSOS dataset upload job",
  width = 300,
  height = 250
)
}
