@(name: String, datasetName: String)

@emailBaseTemplate() {
<p>Hi @{name},</p>

<p>
  oops, unfortunately WEBKNOSSOS could not upload and convert your dataset <i>@{datasetName}</i> automatically. 
  This should not have happened and we are sorry about the inconvenience. Our engineers will investigate and fix the
  problem as soon as possible.
</p>

<p>Here are some tips for uploading and converting datasets:
<ul>
  <li><a href="https://docs.webknossos.org/webknossos/data/index.html">See the document on supported files formats</a></li>
  <li><a href="https://docs.webknossos.org/webknossos-py/index.html">Try our Python library for uploading datasets</a></li>
  <li><a href="https://docs.webknossos.org/webknossos/data/streaming.html">Try streaming your data as Zarr, Neuroglancer, or N5 files instead of uploading</a></li>
</ul>
</p>

<p>
  Feel free to <a href="mailto://hello@@webknossos.com">contact us for assistance</a> or please try again later.
</p>


<p>With best regards,<br />the WEBKNOSSOS team</p>

<div style="text-align: center;">
  <img src="https://static.webknossos.org/mails/email-drawing-failed-job.png"
    srcset="https://static.webknossos.org/mails/email-drawing-failed-job.svg"
    alt="A person dismayed about an unsuccessful WEBKNOSSOS dataset upload job"
    style="width: 460px; height: 258px; margin-top: 10px; margin-bottom: 20px" />
</div>
}