@(name: String, datasetName: String, jobLink: String, jobTitle: String, jobDescription: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>We wanted to let you know that WEBKNOSSOS has finished your background job for the dataset <i>@{datasetName}</i>.
<p>@{jobDescription}</p>

<div style="text-align: center;">
  <a href="@{jobLink}" style="
      color: #fff;
      padding: 4px 15px;
      height: 32px;
      background: #5660ff;
      border: 1px solid #808cff;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 2.1;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    ">
    Open in WEBKNOSSOS
  </a>
</div>

<p>With best regards,<br />the WEBKNOSSOS team</p>

<div style="text-align: center;">
  <img src="https://static.webknossos.org/mails/email-drawing-successful-job.png"
    srcset="https://static.webknossos.org/mails/email-drawing-successful-job.svg"
    alt="A person celebrating a successful WEBKNOSSOS job"
    style="width: 460px; height: 307px; margin-top: 10px; margin-bottom: 20px;"/>
</div>
}
