@(name: String, datasetName: String, jobLink: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Your dataset <i>@{datasetName}</i> has been successfully converted and uploaded in WEBKNOSSOS. 

  Click the button below to open the dataset, or find it in your selected dataset folder on the WEBKNOSSOS dashboard.
</p>

<div style="text-align: center;">
  <a href="@{jobLink}" style="
      color: #fff;
      padding: 4px 15px;
      height: 32px;
      background: #5660ff;
      border: 1px solid #808cff;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 2.1;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    ">
    Open dataset in WEBKNOSSOS
  </a>
</div>

<p>
  Align your dataset directly in WEBKNOSSOS to prepare it for downstream analysis. Our <a href="https://youtu.be/Rt3uG31r2bI?si=9es-5LVi2lCvmSMG">step-by-step tutorial</a> will guide you through the process.
</p>
<div style="text-align: center; margin-top: 10px; margin-bottom: 6px;">
  <img src="https://static.webknossos.org/mails/email-alignment-preview.gif"
    alt="A preview of the alignment services for a WEBKNOSSOS dataset"
    style="width: 300px; height: 150px;" />
    <i>Image credits: Luke Noon, CIPF-ISABIAL 3D-EM Unit (Valencia, Spain)</i>
</div>

<p>With best regards,<br />the WEBKNOSSOS team</p>
}
