@(name: String, datasetName: String, jobLink: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Your mitochondria detection job has successfully finished and is ready for exploration. 
  Click the button below to open the new, segmented dataset, or find it amongst your other datasets in the WEBKNOSSOS dashboard.
</p>

@emailButton("Open segmentation in WEBKNOSSOS", jobLink)

<p>
  If you would like to improve detection accuracy for your specific data, consider <a href="https://youtu.be/MlT4MgU6ayw?si=uekAKL6kOC0c_Dhj">training a custom model</a> or contact us about our <a href="https://home.webknossos.org/services/automated-segmentation">automated segmentation services</a>.
</p>

@emailImage(
  src = "https://static.webknossos.org/mails/email-mito-segmentation-preview.gif",
  alt = "A preview of a full, automated mitochondria segmentation of a WEBKNOSSOS dataset",
  width = 300,
  height = 300
)


<p>With best regards,<br />the WEBKNOSSOS team</p>
}
