@(name: String, datasetName: String, jobLink: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Your dataset <i>@{datasetName}</i> has been successfully converted and uploaded in WEBKNOSSOS. 

  Click the button below to open the dataset, or find it in your selected dataset folder on the WEBKNOSSOS dashboard.
</p>

@emailButton("Open dataset in WEBKNOSSOS", jobLink)

<p>
  Align your dataset directly in WEBKNOSSOS to prepare it for downstream analysis. Our <a href="https://youtu.be/Rt3uG31r2bI?si=9es-5LVi2lCvmSMG">step-by-step tutorial</a> will guide you through the process.
</p>
@emailImage(
  src = "https://static.webknossos.org/mails/email-alignment-preview.gif",
  alt = "A preview of the alignment services for a WEBKNOSSOS dataset",
  width = 300,
  height = 300
)

<p>With best regards,<br />the WEBKNOSSOS team</p>
}
