@(name: String, datasetName: String, jobLink: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Your dataset @{datasetName} is ready for exploration.
  WEBKNOSSOS has successfully uploaded and converted the dataset.
  Click the button below to open the dataset or find it amongst your other datasets in the WEBKNOSSOS dashboard.
</p>

<div style="text-align: center;">
  <a href="@{jobLink}" style="
      color: #fff;
      padding: 4px 15px;
      height: 32px;
      background: #5660ff;
      border: 1px solid #808cff;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 2.1;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    ">
    Open in WEBKNOSSOS
  </a>
</div>

<p>
  Did you know that we offer services for <a href="https://webknossos.org/services/alignment">dataset alignment & stitching</a> and <a href="https://webknossos.org/services/automated-segmentation">AI image segmentation</a> to kickstart your research?
</p>
<div style="text-align: center; margin-top: 10px; margin-bottom: 6px;">
  <img src="https://static.webknossos.org/mails/email-alignment-preview.600.jpg"
    alt="A preview of the alignment services for a WEBKNOSSOS dataset"
    style="width: 300px; height: 150px;" />
</div>

<div style="text-align: center; margin-bottom: 20px;">
  <img src="https://static.webknossos.org/mails/email-segmentation-preview.600.jpg"
    alt="A preview of a full, automated segmentation of a WEBKNOSSOS dataset"
    style="width: 300px; height: 150px;" />
</div>

<p>With best regards,<br />the WEBKNOSSOS team</p>
}
