@(name: String, jobLink: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>
  Your custom machine learning model has been successfully trained and is now available in WEBKNOSSOS. You can access it under AI Analysis → AI Models, or via the button below.
</p>

<div style="text-align: center;">
  <a href="@{jobLink}" style="
      color: #fff;
      padding: 4px 15px;
      height: 32px;
      background: #5660ff;
      border: 1px solid #808cff;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 2.1;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    ">
    Open WEBKNOSSOS
  </a>
</div>


<p>
To run your model, open the dataset you would like to segment, define a bounding box for testing, and select <i>Run AI Model</i>. Your custom model will appear below the pre-trained models and can be selected from there.
</p>


<div style="text-align: center; margin-top: 10px; margin-bottom: 6px;">
  <img src="https://static.webknossos.org/mails/email-manual-annotation-service"
    alt="A preview of a full, automated mitochondria segmentation of a WEBKNOSSOS dataset"
    style="width: 600px; height: 300px;"/>
</div>

<p>
If you require additional ground truth annotations to further improve model performance, our [manual annotation services](https://home.webknossos.org/services/annotations) are available to support your project.
</p>

<p>With best regards,<br />the WEBKNOSSOS team</p>
}
