@(name: String, datasetName: String, jobLink: String, jobTitle: String, jobDescription: String, additionalFooter: String)

@emailBaseTemplate(additionalFooter) {
<p>Hi @{name},</p>

<p>Your background job for the dataset <i>@{datasetName}</i> has finished successfully and is ready for exploration.</p>
<p>@{jobDescription} Click the button below to open WEBKNOSSOS</p>

@emailButton("Open in WEBKNOSSOS", jobLink)

<p>With best regards,<br />the WEBKNOSSOS team</p>

@emailImage(
  src = "https://static.webknossos.org/mails/email-drawing-successful-job.png",
  srcset = Some("https://static.webknossos.org/mails/email-drawing-successful-job.svg"),
  alt = "A robot celebrating a successful WEBKNOSSOS job",
  width = 300,
  height = 250
)
}
