@(name: String, demoDatasetUrl: String)

@emailBaseTemplate() {
  <p>Hi @name,</p>
  <p>
    welcome to your new webKnossos account. You are ready to share and annotate your large 3D datasets.
  </p>
  <h2 style="font-size: 1rem;">Get started</h2>
  <ul style="font-size: 1rem;">
    <li>
      <a href="@demoDatasetUrl">Open a demo dataset</a> to experience webKnossos in action. 
      There are <a href="https://webknossos.org/publications">many published datasets</a> from the scientific community ready to be explored.
    </li>
    <li>
      <a href="https://webknossos.org/datasets/upload">Upload your own dataset</a>. Datasets are private by default and you can securely share them with your collaborators.
    </li>
    <li>
      Watch a short video to <a href="https://webknossos.org/datasets/upload">learn how to create annotations</a> in webKnossos.
    </li>
    <li>
      <a href="https://webknossos.org/users">Invite colleagues</a> from your lab or external collaborators to securely work with your data.
      webKnossos works great for teams of any size and even supports management of large annotator crowds.
    </li>
  </ul>

  <h2 style="font-size: 1rem;">Get support</h2>
  <p>
    To learn more about how to get the most out of webKnossos,
    <a href="https://docs.webknossos.org">check out the documentation</a> or
    <a href="https://www.youtube.com/watch?v=tNwDvo5MnDc">watch this introductory video</a>.
  </p>
  <p>
    <a href="https://docs.webknossos.org"
      ><img
        src="https://static.webknossos.org/mails/screen-docs.png"
        alt="screenshot of documentation"
        width="200"
        height="137"
    /></a>
    <a href="https://www.youtube.com/watch?v=tNwDvo5MnDc"
      ><img
        src="https://static.webknossos.org/mails/screen-video.png"
        alt="screenshot of intro video"
        width="200"
        height="137"
    /></a>
  </p>

  <p>
    Please don’t hesitate to get in touch with me if you have any questions about using
    webKnossos.
  </p>

  <p>I am looking forward to hearing from you.</p>

  <p>Best regards,<br />Norman</p>
}
