@(name: String, brainDBresult: Option[String], enableAutoVerify: Boolean ) 

@emailBaseTemplate() {

  <p>Hi @name,</p>

  <p>
    Welcome to your new webKnossos account. You are almost ready to start exploring and to collaboratively
    annotate large 3D datasets.
  </p>

  @if(!enableAutoVerify) { 
    <p>Your account is currently under review. An administrator will activate you soon.</p>
  } 

  @if(brainDBresult.isDefined) { 
    <p>@brainDBresult.get</p>
  } 

  <p>With best regards,<br />Your webKnossos Team</p>
}
