@( username: String, brainDBresult: Option[String], uri: String )

@emailBaseTemplate() {
  <p>Hi,</p>

  <p>A new user - @username - just registered a webKnossos account for your <a href="@uri">organization.</a></p>
  <p>
    Please, remember to activate and verify new user accounts and assign them to a team within your organization. Visit  <a href="@{uri}/users">@{uri}/users</a> to activate the account.
  </p>

  <p>
  @if(brainDBresult.isDefined) {
    Result when trying to register the new user on braintracing.org: @brainDBresult.get
  }
  </p>

  <p>With best regards,<br />Your webKnossos Team</p>
}
