@(userName: String, projectName: String, taskId: String, annotationId: String, uri: String)

@emailBaseTemplate() {
  <p>Hi,</p>
  
  <p>
    We noticed a user reached the time limit for a project:
  </p>

  <p>
    <ul>
      <li>User: @{userName}</li>
      <li>Project: @{projectName}</li>
      <li>Task: @{taskId}</li>
    </ul>
    
  </p>
  <p>For more information visit <a href="@{uri}/annotations/Task/@{annotationId}">@{uri}/annotations/Task/@{annotationId}</a></p>

  <p>With best regards,<br />your WEBKNOSSOS team</p>
}
