@( user: models.user.User, brainDBresult: Option[String], uri: String )

@emailBaseTemplate() {
  <p>Hi,</p>

  <p>A new user @user.name just registered a webKnossos account for your <a href="@uri">organization.</a></p>
  <p>
    Please, remember to activate and verify the new user account and assign her/him to a team within your organization. Visit  <a href="@{uri}/users">@{uri}/users</a> to activate the account.
  </p>

  <p>
  @if(brainDBresult.isDefined) {
    Result when trying to register her/him on braintracing.org: @brainDBresult.get
  }
  </p>

  <p>With best regards,<br />Your webKnossos Team</p>
}
