@()

<template>
      <tr>
	<td>{{= user }}</td>
	<td>{{= moment(lastEdit).format("YYYY-MM-DD HH:SS") }}</td>
	<td><i class="icon-ok-circle"></i> {{= stateLabel }}</td>
	<td class="nowrap">
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      Actions
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	    {{ _.each(actions, function(action){ }}
	    <li>
	      <a href="{{= action.call.url }}" data-ajax="{{= action.dataAjax }}"><i class="{{= action.icon }}"></i> {{= action.name }}</a>
	    </li>
	    {{ }) }}
	    </ul>
	  </div>
	</td>
      </tr>
    </template>