@* simpleTracing Template File *@
@(annotation: models.annotation.Annotation)
@import braingames.reactivemongo.GlobalAccessContext

@import play.api.libs.concurrent.Execution.Implicits._

<tr>
  <td> @annotation.user.map(_.map(_.name).getOrElse("<deleted>")) </td>
  <td> @annotation.content.map(a => formatDate(a.date)) </td>
  <td> @if(annotation.state.isFinished){ <i class="icon-ok-circle"></i> Finished } else { <i class="icon-random"></i> In Progress } </td>
  <td class="nowrap"> 
    @annotationLinks(annotation)
  </td>
</tr>