@(task: models.task.Task, tracing: models.tracing.Tracing)

@tracingLinks = {
  <!--<a href="controllers.routes.TracingController.finish(tracing.id, false)" class="trace-finish" data-ajax="replace-row,confirm"><i class="icon-ok-circle"></i> reset</a>-->
  <a href="@controllers.admin.routes.TaskAdministration.cancelTracing(tracing.id)" data-ajax="delete-row,confirm"><i class="icon-remove"></i> delete</a><br/>

  <a href="@controllers.routes.TracingController.view(tracing.id)"><i class="icon-random"></i> view </a><br />
  <a href="@controllers.routes.TracingController.download(tracing.tracingType.toString, tracing.id)"><i class="icon-download"></i> download </a><br />
  @if(!tracing.state.isFinished){ 
    <a href="@controllers.routes.TracingController.finish(tracing.id, false)" class="trace-finish" data-ajax="replace-row,confirm"><i class="icon-ok-circle"></i> finish</a><br />
    <a href="@controllers.admin.routes.TaskAdministration.cancelTracing(tracing.id)" data-ajax="delete-row,confirm"><i class="icon-remove"></i> cancel</a><br/>
  } else {
    <a href="@controllers.admin.routes.TaskAdministration.reopen(tracing.id)" data-ajax="replace-row"><i class="icon-share-alt"></i> reopen</a><br/>
  }
}

@linkText(failed: Boolean) = {
  @if(failed) {
    Review failed - 
  } else {
    Review - 
  }
}

@displayComments(failed: Boolean, comments: List[String]) = {
  @comments match{
    case head :: tail => {
      <a href="#" rel="popover" data-placement="bottom" data-title="Comment from Reviewer" data-html="true" data-content="@org.apache.commons.lang3.StringEscapeUtils.escapeHtml4(head).replaceAll("\n", "<br /><br />")"><i class="icon-eye-open"></i> @linkText(failed) Comment <span class="caret-down"></span></a>    
    }
    case _ => {

    }
  }

}

<tr class="@if(tracing.state.isFinished){finished}else{unfinished}">
  <td> @formatHash(task.id) </td>
  @defining(task.taskType){ taskType =>
    <td> @taskType.map(_.summary).getOrElse("<deleted>") - @tracing.tracingType</td>
    <td> @task.project.map(_.name) </td>
    <td>
      @taskType.toList.flatMap(_.tracingSettings.allowedModes).map{ mode =>
        <span class="label"> @mode.capitalize </span>
      }
    </td>
  }
  <td> @tracing.dataSetName </td>
  @defining(models.tracing.Tracing.statisticsForTracing(tracing)){ stats => 
    <td> 
      <span title="Trees"><i class="icon-sitemap"></i> @stats.numberOfTrees &nbsp;</span>
      <span title="Nodes">&bull; @stats.numberOfNodes &nbsp;</span>
      <span title="Edges"><i class="icon-resize-horizontal"></i> @stats.numberOfEdges</span>
    </td>
  }
  <td>
    @formatDate(tracing.timestamp)
  </td>
  <td> 
    @tracing.state match{
      case s if s.isFinished => {
        <i class="icon-ok"></i><span> Finished</span><br />
        @displayComments(false, tracing.review.flatMap( _.comment ))
      }
      case s if s.isInReview || s.isReadyForReview => {
        <i class="icon-eye-open"></i><span> In Review</span>
      }
      case _ => {
        <i class="icon-refresh"></i><span> In Progress</span>
        @displayComments(true, tracing.review.flatMap( _.comment ))
      }
    }
  </td>
  <td>   
    @tracingLinks
  </td>
</tr>