@(users: List[models.user.User], roles: List[models.security.Role], experiences: List[String], teams: List[models.team.Team])(implicit session: brainflight.view.AuthedSessionData)

@import play.api.libs.json.Json

@main(){
  <div id="user-administration" class="container wide">
    <div id="teampicker" style="display:none">
    	<select name="teams" multiple="multiple" class="multiselect">
        @teams.map{team =>
            <option value="@team.name">@team.name</option>
        }
      </select>
      <a class="btn btn-primary popover-hide">Save</a>
      <button type="button" class="btn popover-hide">Cancel</button>
    </div>

    <div class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Assign Users To a Team</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save</a>
      </div>
    </div>

    <h3> Users </h3>
    <form method="post">
      @userTable(users)

      <div class="form-actions">

        <div class="form-inline">

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Bulk Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a @ajaxAttributes(controllers.admin.routes.UserAdministration.verifyBulk, "submit,replace-table=#user-administration-table")>
                  <i class="icon-ok"></i> Verify
                </a>
              </li>
              <li>
                <a @ajaxAttributes(controllers.admin.routes.UserAdministration.deleteBulk, "submit,confirm,replace-table=#user-administration-table")>
                  <i class="icon-trash"></i> Delete
                </a>
              </li>
            </ul>
          </div>

          <div class="divider-vertical"></div>

          <fieldset data-validation-group>
            <select name="role" class="input-medium" required data-invalid-message="Please select a role.">
              <option value="">Modify roles...</option>
              @roles.map{ role =>
                <option value="@role.name">@role.name</option>
              }
            </select>
            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.addRoleBulk, "submit,replace-table=#user-administration-table") class="btn">
              Add Role
            </a>
            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.deleteRoleBulk, "submit,replace-table=#user-administration-table") class="btn">
              Remove Role
            </a>
          </fieldset>

          <div class="divider-vertical"></div>

          <fieldset data-validation-group>
            <input type="text" class="input-small" name="experience-domain" data-source='@Json.stringify(Json.toJson(experiences))' data-provide="typeahead" autocomplete="off" required data-invalid-message="Please enter a experience domain.">
            <input type="number" class="input-small" name="experience-value" value="0" required data-invalid-message="Please specify a experience value.">

            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.increaseExperienceBulk, "submit,replace-table=#user-administration-table") class="btn">
              Increase Experience
            </a>
            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.setExperienceBulk, "submit,replace-table=#user-administration-table") class="btn">
              Set Experience
            </a>
            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.deleteExperienceBulk, "confirm,submit,replace-table=#user-administration-table") class="btn">
              Delete Experience
            </a>
          </fieldset>

        </div>

        </div>

      </div>

    </form>

  </div>
}
