@(user: models.user.User)
<tr data-name="@user.name" data-id="@user.id"> 
	<td> <input type="checkbox" name="id" value="@user.id"> </td>
	<td> @user.lastName </td>
	<td> @user.firstName</td> 
	<td> @user.email </td>
	<td> 
		@user.roles.map{ role =>
  		<span class="label" style="background-color:@models.security.Role.colorOf(role)">@role</span>
		} 
	</td>
	<td> 
		@if(user.verified) {            
  		<i class="icon-ok"></i>
		} else {
  		<a href="@controllers.admin.routes.UserAdministration.verifyUser(user.id)" data-ajax="replace-row"> verify </a>
		}
	</td>
	<td> 
  	<a href="@controllers.admin.routes.UserAdministration.deleteUser(user.id)"><i class="icon-trash"></i> delete </a>
	</td>
</tr>