@(user: models.user.User)
<tr data-name="@user.name" data-id="@user.id"> 
	<td> <input type="checkbox" name="id" value="@user.id" class="select-row"> </td>
	<td> @user.lastName </td>
	<td> @user.firstName</td> 
	<td> @user.email </td>
	<td> 
		@user.roles.map{ role =>
  		<span class="label" style="background-color:@models.security.Role.colorOf(role)">@role</span>
		} 
	</td>
	<td>
		@user.experiences.map{ experience =>
			<span class="label">@experience._1 @experience._2</span>
		}
	<td> 
		@if(user.verified) {            
  		<i class="icon-ok"></i>
		} else {
  		<a href="@controllers.admin.routes.UserAdministration.verify(user.id)" data-ajax="replace-row"> verify </a>
		}
	</td>
	<td> 
  	<a href="@controllers.admin.routes.UserAdministration.delete(user.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a><br />
    <a href="@controllers.admin.routes.UserAdministration.loginAsUser(user.id)"><i class="icon-user"></i> log in as User </a>
	</td>
</tr>