@(users: List[models.user.User], experiences: List[String], teams: List[String])(implicit session: oxalis.view.AuthedSessionData)
@import models.team.Role

@import play.api.libs.json.Json

@main(){
  <div id="user-administration" class="container wide">

    <h3> Users </h3>
    <form method="post">
      @userTable(users)

      <div class="form-actions navbar-fixed-bottom">
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Bulk Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a data-template="teampicker" class="show-modal">
                <i class="icon-ok"></i> Verify
              </a>
            </li>
            <li>
              <a data-template="deletepicker"  class="show-modal">
                <i class="icon-trash"></i> Delete
              </a>
            </li>
            <li>
              <a data-template="experiencepicker"  class="show-modal">
                <i class="icon-trophy"></i> Change Experience
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="form-horizontal">
        <div class="modal hide fade">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3></h3>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="modal-templates">
    <div id="teampicker" data-header="Assign users to Teams" class="hide">
      <header class="row-fluid">
        <h4 class="span8" for="teams">Teams</h4>
        <h4 class="span4" for="role">Role</h4>
      </header>
      <div class="row-fluid team-role-pair">
        <div class="span8">
          <select name="teams">
            <option value="">Select a team...</option>
            @teams.map{team =>
                <option value="@team">@team</option>
            }
          </select>
        </div>
        <div class="span4">
          <div>

            <select name="role" class="input-medium" required data-invalid-message="Please select a role.">
              <option value="">Modify roles...</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <fieldset data-validation-group>
            <a @ajaxAttributes(controllers.admin.routes.UserAdministration.verifyBulk, "submit,replace-table=#user-administration-table")class="btn btn-primary modal-hide">Save</a>
          </fieldset>
        </div>
      </div>

    </div>

    <div id="deletepicker" data-header="Do you really want to delete these users?" class="hide">
      <fieldset data-validation-group>
        <a @ajaxAttributes(controllers.admin.routes.UserAdministration.deleteBulk, "submit,replace-table=#user-administration-table") class="btn btn-danger modal-hide" >Delete</a>
      </fieldset>
    </div>

    <div id="experiencepicker" data-header="Change Experience" class="hide">
      <fieldset data-validation-group>
        <div class="control-group">
          <label class="control-label" for="experience-domain">Domain</label>
          <div class="controls">
            <input type="text" class="input-small" name="experience-domain" data-source='@Json.stringify(Json.toJson(experiences))' data-provide="typeahead" autocomplete="off" required data-invalid-message="Please enter a experience domain.">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="experience-value">Value</label>
          <div class="controls">
            <input type="number" class="input-small" name="experience-value" value="0" required data-invalid-message="Please specify a experience value.">
          </div>
        </div>

        <div class="btn-group">
          <a @ajaxAttributes(controllers.admin.routes.UserAdministration.increaseExperienceBulk, "submit,replace-table=#user-administration-table") class="btn modal-hide">
          Increase Experience
          </a>
          <a @ajaxAttributes(controllers.admin.routes.UserAdministration.setExperienceBulk, "submit,replace-table=#user-administration-table") class="btn modal-hide">
            Set Experience
          </a>
          <a @ajaxAttributes(controllers.admin.routes.UserAdministration.deleteExperienceBulk, "submit,replace-table=#user-administration-table") class="btn modal-hide">
            Delete Experience
          </a>
        </div>

      </fieldset>
    </div>

  </div>
}
