<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Demo</title>
	<script src="@routes.Assets.at("javascripts/libs/modernizr-2.0.6.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/pointstream/xbps.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/pointstream/libs/c3.js")" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/demo.css")" />
</head>
<body>
	<header></header>
	<div id="main">	
		<p id="status"></p>
		<canvas id="render" height ="400" width="400"></canvas>
	</div>
	<div id="options">
		<div id="cam">
			<p>Camera</p>
			<p id="camera"></p>
			<form>
				<p>
					X: <input type="text" id="camX" size="5" onChange="setCamPosition();"/>
				</p>
				<p>
					Y: <input type="text" id="camY"  size="5" onChange="setCamPosition();"/><br/>
				</p>
				<p>
					Z: <input type="text" id="camZ"  size="5" onChange="setCamPosition();"/>
				</p>
			</form>
		</div>
		<div id="controls">
			<p> W/S/A/D: Move Camera</p>
			<p>Left Mouse Button: Look around</p>
		</div>
		<div id="perspective">
		<p>Perspective params</p>
		<form>
		<p>
			Near: <input type="text" id="near" size="5" value="15"  onChange="changePerspectiveParams();"/>
		</p>
		<p>
			Far: <input type="text" id="far" size="5" value="20"  onChange="changePerspectiveParams();"/>
		</p>
		<p>
			FovY: <input type="text" id="fovy" size="5" value="60"  onChange="changePerspectiveParams();"/>
		</p>
		</form>
		</div>
	</div>
	<footer></footer>
	
	<script type="text/javascript">
    Modernizr.load({
      load: ['@routes.Assets.at("javascripts/binary_reader.js")', '@routes.Assets.at("javascripts/obj_loader.js")','@routes.Assets.at("javascripts/demo.js")'],
      complete: function () { start(); }
    });
  </script>
</body>
</html>
