@(user: User)

@main(user){
<script src="@routes.Assets.at("javascripts/libs/modernizr-2.0.6.min.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/requirejs-1.0.7.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/mjs.js")"></script>
  <div id="container">
    <div id="main" role="main">
      <canvas id="render"></canvas>
      <div id="keyinfos">
        Look around: Arrow-Keys or Mouse</br>
        Rotation: Shift + Arrow-Keys </br>
        </br>
        Forth and Back: Space and Shift + Space</br>
        Strafe: WASD</br>
        Zoom: K and L</br></div>
    </div>
    <footer>
      <span id="status"></span>
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <script>
    // http://www.modernizr.com/docs/#load
    // Modernizr.load({
    //   // Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    //   load: "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
    //   complete: function () {
    //     if ( !window.jQuery )
    //       Modernizr.load('@routes.Assets.at("javascripts/libs/jquery-1.6.1.min.js")');
    //   }
    // });
    
    if (Modernizr.webgl)
      Modernizr.load([
        "@routes.Assets.at("javascripts/brainflight.js")"
      ]);
    else
      alert( "Sorry dude, you need WebGL for this. Get Chrome or Firefox." );
      
  </script>
	
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 9 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
}
