@(user: User)

@main(user){
<script src="@routes.Assets.at("javascripts/libs/modernizr-2.0.6.min.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/requirejs-1.0.7.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/mjs.js")"></script>
  <div id="container">
    <div id="main" role="main">
      <canvas id="render"></canvas>
        <div id="keyinfos">
          Look around: Arrow-Keys or Mouse</br>
          Rotation: Shift + Arrow-Keys </br>
          </br>
          Forth and Back: Space and Shift + Space</br>
          Strafe: WASD</br>
          Zoom: K and L</br>
      </div>
      <div id="optionswindow">
        Move:</br>
        <input type="range" min="0" max="4" value="1" step="0.25" onchange="MVC.Controller.setMoveValue(this.value)" />
        </br></br>
        Rotate:</br>
        <input type="range" min="0" max="0.05" value="0.01" step="0.005" onchange="MVC.Controller.setRotateValue(this.value)" />
        </br></br>
        Scale:</br>
        <input type="range" min="0" max="0.25" value="0.05" step="0.01" onchange="MVC.Controller.setScaleValue(this.value)" />
        </br></br>
        MouseRotate:</br>
        <input type="range" min="0" max="0.01" value="0.004" step="0.0005" onchange="MVC.Controller.setMouseRotateValue(this.value)" />
        </br></br>      
        <input type="checkbox" onchange="MVC.Controller.setMouseInversionX(this.checked)"/> Inverse X-Axis of Mouse<br />
        <input type="checkbox" onchange="MVC.Controller.setMouseInversionY(this.checked)"/> Inverse Y-Axis of Mouse<br />
      </div>
    </div>    
    <footer>
      <span id="status"></span>
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <script>
    // http://www.modernizr.com/docs/#load
    // Modernizr.load({
    //   // Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    //   load: "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
    //   complete: function () {
    //     if ( !window.jQuery )
    //       Modernizr.load('@routes.Assets.at("javascripts/libs/jquery-1.6.1.min.js")');
    //   }
    // });

    if (Modernizr.webgl)
      Modernizr.load([
        "@routes.Assets.at("javascripts/brainflight.js")"
      ]);
    else
      alert( "Sorry dude, you need WebGL for this. Get Chrome or Firefox." );
      
  </script>
	
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 9 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
}
