@(user: User)

@main( Some(user) ){
<script src="@routes.Assets.at("javascripts/libs/modernizr-2.0.6.min.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/requirejs-1.0.7.js")"></script>
<script src="@routes.Assets.at("javascripts/libs/mjs.js")"></script>
  <div id="container">
    <div id="main" role="main">
      <div id="render">
        <div id="prevControls"></div>
        <div id="planexy" class="inputcatcher"></div>
        <div id="planeyz" class="inputcatcher"></div>
        <div id="planexz" class="inputcatcher"></div>
        <div id="skeletonview" class="inputcatcher"></div>
      </div>
      <div id="overlay">
        <div id="status"></div>
        <!--
        <div id="keyinfos">
          Look around: Arrow-Keys or Mouse</br>
          Rotation: Shift + Arrow-Keys </br>
          </br>
          Forth and Back: Space and Shift + Space</br>
          Strafe: WASD</br>
          Scale: K and L</br>
          Zoom: O and P</br>          
          F: Fullscreen</br>
        </div>
      -->
        <div id="optionswindow">
          <!--
          Move:</br>
          <input id="moveValue" type="range" min="0.25" max="4" value="1" step="0.25" onchange="MVC.controller.setMoveValue(this.value)" />
          </br></br>
          Rotate:</br>
          <input id="rotateValue" type="range" min="0.005" max="0.05" value="0.01" step="0.005" onchange="MVC.controller.setRotateValue(this.value)" />
          </br></br>
          MouseRotate:</br>
          <input id="mouseRotateValue" type="range" min="0.0005" max="0.01" value="0.004" step="0.0005" onchange="MVC.controller.setMouseRotateValue(this.value)" />
          </br></br></br></br>
        -->

        <!--
          Route Clipping Distance:</br>
          <input id="routeClippingDistance" type="range" min="1" max="100" value="40" step="1" onchange="MVC.Controller.setRouteClippingDistance(this.value)" />
          </br>
          <input id="lockZoom" type="checkbox" onchange="MVC.Controller.setLockZoom(this.checked)"/> Lock Zoom <br />
          </br>
          <input id="displayCrosshair" type="checkbox" onchange="MVC.Controller.setDisplayCrosshair(this.checked)"/> Display Crosshairs <br />
          </br>
          <input id="displayPreviewXY" type="checkbox" onchange="MVC.Controller.setDisplayPreviewXY(this.checked)"/> Display XY plane in 3D-View <br />
          <input id="displayPreviewYZ" type="checkbox" onchange="MVC.Controller.setDisplayPreviewYZ(this.checked)"/> Display YZ plane in 3D-View <br />
          <input id="displayPreviewXZ" type="checkbox" onchange="MVC.Controller.setDisplayPreviewXZ(this.checked)"/> Display XZ plane in 3D-View <br />
          <br />
          <br />
          <input id="mouseInversionX" type="checkbox" onchange="MVC.Controller.setMouseInversionX(this.checked)"/> Inverse X-Axis of Mouse<br />
          <input id="mouseInversionY" type="checkbox" onchange="MVC.Controller.setMouseInversionY(this.checked)"/> Inverse Y-Axis of Mouse
          <br />
        -->

<!--
          <br />
          <br />
          <input id="mouseActive" type="checkbox" onchange="MVC.Controller.setMouseActivity(this.checked)"/> Mouse <br />
          <input id="keyboardActive" type="checkbox" onchange="MVC.Controller.setKeyboardActivity(this.checked)"/> Keyboard <br />        
          <input id="gamepadActive" type="checkbox" onchange="MVC.Controller.setGamepadActivity(this.checked)"/> Gamepad <br />       
          <input id="motionsensorActive" type="checkbox" onchange="MVC.Controller.setMotionSensorActivity(this.checked)"/> Motion Sensor <br /> 
-->
        </div>
      </div>  
    </div>   
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <script>
    // http://www.modernizr.com/docs/#load
    // Modernizr.load({
    //   // Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    //   load: "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
    //   complete: function () {
    //     if ( !window.jQuery )
    //       Modernizr.load('@routes.Assets.at("javascripts/libs/jquery-1.6.1.min.js")');
    //   }
    // });

    if (Modernizr.webgl)
      Modernizr.load([
        "@routes.Assets.at("javascripts/libs/threejs/Three.js")",
        "@routes.Assets.at("javascripts/libs/threejs/stats.js")",
        "@routes.Assets.at("javascripts/brainflight.js")"
      ]);
    else
      alert( "Sorry dude, you need WebGL for this. Get Chrome or Firefox." );
      
  </script>
	
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 9 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
}
