@(taskTypeId: String, editForm: Form[models.task.TaskType],teams: List[String])(implicit session: oxalis.view.AuthedSessionData)

@main(){
  <div class="container">

    <h3>Edit Task type</h3>
    <div class="well">
      All tasks connected to this task type are going to get adjusted to this settings. <br /> <br />
      @helper.form(controllers.admin.routes.TaskTypeAdministration.editTaskTypeForm(taskTypeId), 'class -> "form-horizontal") {

        @basicTaskTypeForm(teams, editForm)

        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" class="form-control btn btn-primary">Save</button>
          </div>
          <div class="col-sm-2">
            <a class="form-control btn btn-default" href="/admin/taskTypes#@taskTypeId">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
}
