@* taskTypeTableItem Template File *@
@(taskType: models.task.TaskType)
@import models.annotation.AnnotationType

@import models.task.Task

<tr id="@taskType.id">
  <td class="details-toggle"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
  <td> @formatHash(taskType.id) </td>
  <td> @taskType.summary </td>
  <td> @formatShortText(taskType.description) </td>
  <td> 
    @taskType.settings.allowedModes.map{ mode =>
      <span class="label"> @mode.capitalize </span>
    }
  </td>
  <td>
    @if(taskType.settings.branchPointsAllowed) {
      <span class="label"> Branchpoints </span>
    }
    @if(taskType.settings.somaClickingAllowed) {
      <span class="label"> Soma clicking </span>
    }
  </td>
  <td> @taskType.expectedTime </td>
  <td> @taskType.fileName.getOrElse("") </td>
  <td class="nowrap">
    <a href="@controllers.routes.AnnotationController.trace(AnnotationType.CompoundTaskType, taskType.id)" title="view all finished tracings"><i class="icon-random"></i> view</a><br />
    <a href="@controllers.admin.routes.TaskTypeAdministration.edit(taskType.id)" ><i class="icon-pencil"></i> edit </a> <br />
    <a href="@controllers.admin.routes.TaskTypeAdministration.delete(taskType.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
  </td>
</tr>
<tr class="details-row" >
  <td colspan="12">
    <table class="table table-condensed table-nohead">
      <tbody>
        <!-- TAKS FOR TASKTYPE NEED TO BE LOADED INTO THIS TABLE -->
      </tbody>
    </table>
  </td>
</tr>