@(taskForm: Form[_], taskTypes: List[models.task.TaskType], projects: List[models.task.Project], teams: List[String])

@import play.api.libs.json.Json

@taskTypeHelpLink() = {
  <a href="/admin/taskTypes">Create a new Type</a>
}

@helper.select(taskForm("taskType"), taskTypes.map { tt =>
  tt.id -> tt.summary
}, Symbol("help-block") -> taskTypeHelpLink, 'class -> "form-control")

@helper.input(taskForm("experience.domain")) { (id, name, value, args) =>
  <input type="text" class="form-control" name="@name" value="@value" id="@id" data-source='[]' data-provide="typeahead" autocomplete="off" @toHtmlArgs(args)>
}

@helper.inputText(taskForm("experience.value"), 'type -> "number", 'class -> "form-control")

@helper.inputText(taskForm("priority"), 'type -> "number", 'class -> "form-control")

@helper.inputText(taskForm("taskInstances"), 'type -> "number", 'min -> 1, 'class -> "form-control")

@helper.select(taskForm("team"), teams.map { t =>
    t -> t
}, 'class -> "form-control")

@helper.select(taskForm("project"), ("" -> "") +: projects.map { project =>
  project.name -> project.name
}, 'class -> "form-control")
