@* taskDetailTableItem Template File *@
@(task: models.task.Task,
  dataSetName : String,
  status : models.task.CompletionStatus,
  taskType : Option[models.task.TaskType])

@import braingames.reactivemongo.GlobalAccessContext

@import scala.concurrent.duration._
@import play.api.libs.concurrent.Execution.Implicits._

<tr>
  <td>
    <a href="@controllers.routes.TaskController.empty#@task.id">
      @formatHash(task.id)
    </a>
  </td>
  <td>
    <a href="@controllers.admin.routes.TaskTypeAdministration.list#@taskType.map(_.id)">
      @taskType.map(_.summary)
    </a>
  </td>
  <td>
    @dataSetName
  </td>
  <td>
      <span title="Unassigned">
        <i class="fa fa-play-circle"></i>@status.open open
      </span>
      |
      <span title="in Progress">
        <i class="fa fa-random"></i>@status.inProgress active
      </span>
      |
      <span title="Completed">
        <i class="fa fa-check-circle-o"></i>@status.completed done
      </span>

  </td>
  <td>
      Tracked Time: @task.tracingTime.map(t => formatTimeHumanReadable(t millis)).getOrElse("-")
  </td>
  <td class="nowrap">
    <a href="@controllers.admin.routes.NMLIO.taskDownload(task.id)" title="download all finished tracings"><i class="fa fa-download"></i>download </a>
  </td>
</tr>