@(users: List[models.user.User], taskTypes: List[models.task.TaskType], usersWithTasks: Map[models.user.User, models.task.TaskType], futureTasks: Map[models.user.User, models.task.TaskType])(implicit session: brainflight.view.AuthedSessionData)

@import models.Color

@userDot(user: models.user.User) = {
  @Html("\"" + user.name + "\" [tooltip=\"Last Activity: "+user.lastActivityDays+" days ago\", shape=box, fillcolor=\"" + Color.jet(math.min(50, user.lastActivityDays) * (128 / 50) + 128).toHtml + "\"];")
}

@taskTypeDot(taskType: models.task.TaskType) = {
  @Html("\"" + taskType.summary + "\"")
}

@edge(a: String, b: String) = {
  @Html("\"" + a + "\"->\"" + b +"\";")
}

@main(){
  <div class="container">
    <h3>TaskType - User Overview</h3>

    <div class="graph well">
      <p><i class="icon-refresh rotating"></i> Loading ...</p>
    </div>

    <script type="text/vnd.graphviz" id="graphData">
      digraph G {
        size="9.5";
        ratio="compress";
        graph [ bgcolor="transparent", colorscheme=svg ];
        node [ fontname="Helvetica,Arial,sans-serif", fontsize=10.5, style=filled, fillcolor="#ffffff", pencolor="black" ];
        @Html(taskTypes.map( taskTypeDot ).mkString("\n"))
        @Html(users.map( userDot ).mkString("\n"))
        @Html(usersWithTasks.map( e =>
          edge(e._1.name, e._2.summary)).mkString("\n"))
        edge [ color=blue ];
        @Html(futureTasks.map( e =>
          edge(e._1.name, e._2.summary)).mkString("\n"))
      }
    </script>
    <script async>
      require.config({
        shim : {
          "libs/viz" : {
            exports : "Viz"
          }
        }
      });
      require(["libs/viz"], function (Viz) {
        $(function () {
          $(".graph").html(Viz($("#graphData").html(), "svg"));
        });
      });
    </script>
  </div>
}