@(taskTypes: List[models.task.TaskType], form: Form[models.task.TaskType])(implicit session: brainflight.view.AuthedSessionData)

@import models.tracing.TracingSettings._

@main(){
	<div class="container">
    <h3>Task types</h3>
    <div class="well">
      @helper.form(controllers.admin.routes.TaskTypeAdministration.create, 'class -> "form-horizontal") {

        @helper.inputText(form("summary"))
        @helper.textarea(form("description"))

        @helper.checkbox(field = form("allowedModes[]"), 'value-> OXALIS, '_label -> "Allow oxalis")
        @helper.checkbox(field = form("allowedModes[]"), 'value-> ARBITRARY, '_label -> "Allow arbitrary")
        @helper.checkbox(field = form("branchPointsAllowed"), '_label -> "Allow Branchpoints")

        @helper.inputText(form("expectedTime.minTime"), 'type -> "number", 'min -> 0, Symbol("input-append") -> "hours")
        @helper.inputText(form("expectedTime.maxTime"), 'type -> "number", 'min -> 0, Symbol("input-append") -> "hours")
        @helper.inputText(form("expectedTime.maxHard"), 'type -> "number", 'min -> 0, Symbol("input-append") -> "hours")

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Summary </th>
          <th> Description </th>
          <th> Expected Time </th>
          <th> Attached File </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
	    @taskTypes.map{ taskType => 
	      <tr>
	        <td> @formatHash(taskType.id) </td>
	        <td> @taskType.summary </td>
          <td> @taskType.description </td>
          <td> @taskType.expectedTime </td>
          <td> @taskType.fileName.getOrElse("") </td>
          <td> 
            <a href="@controllers.admin.routes.TaskTypeAdministration.delete(taskType.id)" data-ajax="delete-row"><i class="icon-trash"></i> delete </a>
          </td>
	      </tr>
	    }
      </tbody>
    </table>
  </div>
}