@(taskTypes: List[models.task.TaskType], dataSets: List[models.binary.DataSet], experiences: List[String], projects: List[models.task.Project], nmlForm: Form[(String, models.user.Experience, Int, Int, String)], taskForm: Form[(String, String, brainflight.tools.geometry.Point3D, models.user.Experience, Int, Int, String)])(implicit session: brainflight.view.AuthedSessionData)

@import forms._

@main(){
  <div class="container">
    
    <h3>Create Task from explorative Tracing</h3>
    <div class="well">
      Every nml creates a new task. You can either upload a single NML file or a zipped collection of nml files (.zip).<br /><br />
      @helper.form(controllers.admin.routes.TaskAdministration.createFromNML, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

        @basicTaskForm(nmlForm, taskTypes, experiences, projects)

        <div class="control-group">
          <label class="control-label" for="nmlFile">@Messages("nmlFile")</label>
          <div class="controls">
            <input type="file" name="nmlFile" id="nmlFile" /> 
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>

    <h3>Create Task</h3>
    <div class="well">
      @helper.form(controllers.admin.routes.TaskAdministration.createFromForm, 'class -> "form-horizontal") {

        @basicTaskForm(nmlForm, taskTypes, experiences, projects)

        @helper.select(taskForm("dataSet"), dataSets.map { dataSet =>
          dataSet.name -> dataSet.name 
        })

        @helper.inputText(taskForm("start.point"), 'type -> "text")
        
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>

    <h3>Import Tasks in Bulk</h3>

    <div class="well">
      One line for each task. The values are seperated by a space. Format: <br />
      dataSet taskTypeSummary experienceDomain minExperience x y z priority instances (opt: project)<br /><br />
      @helper.form(controllers.admin.routes.TaskAdministration.createBulk){
        <textarea class="input-fullwidth input-monospace" rows="20" name="data"></textarea>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary pull-right">Import</button>
        </div>
      }
    </div>

  </div>
}