@(taskTypes: List[models.task.TaskType], experiences: List[String], projects: List[models.task.Project], editForm: Form[(String, models.user.Experience, Int, Int, String)])(implicit session: brainflight.view.AuthedSessionData)

@import forms._

@main(){
  <div class="container">
    
    <h3>Create Task from explorative Tracing</h3>
    <div class="well">
      Every nml creates a new task. You can either upload a single NML file or a zipped collection of nml files (.zip).<br /><br />
      @helper.form(controllers.admin.routes.TaskAdministration.createFromNML, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

        @basicTaskForm(editForm, taskTypes, experiences, projects)

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>
  </div>
}