@(usersWithoutATask: List[models.user.User], tasks: List[models.task.Task], futureTasks: Map[models.user.User, models.task.Task])(implicit session: brainflight.view.AuthedSessionData)

@main(){
  <div class="container">
    <h3>Task-User Overview</h3>

    <div class="graph"></div>
    
    <script async>
      require.config({
        baseUrl : "/assets/javascripts",
        shim : {
          "libs/viz" : {
            exports : "Viz"
          }
        }
      });
      require(["libs/viz"], function (Viz) {
        $(function () {
          $(".graph").html(Viz($("#graphData").html(), "svg"));
        });
      });
    </script>
    <script type="text/vnd.graphviz" id="graphData">
      digraph G {
        a -> b;
      }
    </script>
  </div>
}