@()(implicit session: oxalis.view.AuthedSessionData)

@import models.annotation.AnnotationType

@main(){
  <div class="container wide">
    <h3>Tasks</h3>

    <div class="page-selection"
      data-url="@controllers.admin.routes.TaskAdministration.list()"
      data-paged-table-id="tasklist-table">
      <input type="text" class="search-query pagination-searchbox" placeholder="Search">
      <a href="@controllers.admin.routes.TaskAdministration.create()" class="pagination-createNew">Create new Task</a>
    </div>
    <table id="tasklist-table" class="table table-double-striped table-details">
      <thead>
        <tr>
          <th class="details-toggle-all"> <i class="caret-right"></i> <i class="caret-down"></i> </th>
          <th> # </th>
          <th> Team</th>
          <th> Project</th>
          <th> Type</th>
          <th> DataSet </th>
          <th> Edit position </th>
          <th> Experience </th>
          <th> Priority </th>
          <th> Created </th>
          <th> States </th>
         </tr>
      </thead>
      <tbody class="hide">
        <template>
          <tr id="<%= element.id %>">
            <td class="details-toggle" href="<%= controllers.AnnotationController.annotationsForTask(element.id).url %>" data-ajax="add-row=#<%= element.id %> + tr"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
            <td> <%= element.formattedHash %> </td>
            <td> <%= element.team %> </td>
            <td>
              <a href="@controllers.admin.routes.ProjectAdministration.list#<%= element.projectName %>">
                <%= element.projectName %>
              </a>
            </td>
            <td>
              <a href="@controllers.admin.routes.TaskTypeAdministration.list#<% if(element.type) { print(element.type.summary)  } else { print('<deleted>') } %>">
                <% if(element.type) { print(element.type.summary)  } else { print("<deleted>") } %>
              </a>
            </td>
            <td> <%= element.dataSet %> </td>
            <td> (<%= element.editPosition %>) </td>
            <td>
              <% if (element.neededExperience.domain != "" || element.neededExperience.value > 0) { %>
            <span class="label"> <%= element.neededExperience.domain %> : <%= element.neededExperience.value %> </span>
              <% } %>
            </td>
            <td> <%= element.priority %> </td>
            <td> <%= element.created %> </td>
            <td>
              <i class="icon-play-circle"></i> <%= element.status.open %>
              <br>
              <i class="icon-random"></i> <%= element.status.inProgress %>
              <br>
              <i class="icon-ok-circle"></i> <%= element.status.completed %>
            </td>
            <td class="nowrap">
              <a href="<%= controllers.admin.TaskAdministration.edit(element.id).url %>"><i class="icon-pencil"></i> edit </a><br>
              <a href="<%= controllers.AnnotationController.trace('CompoundTask', element.id).url %>" title="view all finished tracings"><i class="icon-random"></i> view </a><br>
              <a href="<%= controllers.admin.NMLIO.taskDownload(element.id).url %>" title="download all finished tracings"><i class="icon-download"></i> download </a><br>
              <a href="<%= controllers.admin.TrainingsTaskAdministration.create(element.id).url %>"><i class="icon-road"></i> use for Training </a><br>
              <a href="<%= controllers.admin.TaskAdministration.delete(element.id).url %>" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
            </td>
          </tr>
          <tr class="details-row hide" >
            <td colspan="12">
              <table class="table table-condensed table-nohead">
                <tbody>
                  @views.html.admin.annotation.annotationTableItem()
                </tbody>
              </table>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
 }