@(task: models.task.Task)


<tr>
  <td class="details-toggle"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
  <td> @formatHash(task.id) </td>
  <td> @task.seedIdHeidelberg </td>
  <td> @task.project.map(_.name).getOrElse("") </td>
  <td> 
    <a href="@controllers.admin.routes.TaskTypeAdministration.list">
      @task.taskType.map(_.summary).getOrElse("<deleted>") 
    </a>
  </td>
  <td> @task.tracingBase.map(_.dataSetName) </td>
  <td> @task.tracingBase.map(_.editPosition) </td>
  <td> @task.neededExperience </td>
  <td> @task.priority </td>
  <td> @formatDate(task.created) </td>
  <td> @defining(task.status){ status =>
      <span title="Unassigned"> 
        @status.open <i class="icon-play-circle"></i>
      </span>
      |
      <span title="in Progress"> 
        @status.inProgress <i class="icon-random"></i> 
      </span>
      |
      <span title="Completed">
        @status.completed <i class="icon-ok-circle"></i>
      </span>
    }
  </td>
  <td>  
    <a href="@controllers.admin.routes.NMLIO.taskDownload(task.id)"><i class="icon-download"></i> download </a><br />
    <a href="@controllers.admin.routes.TrainingsTaskAdministration.create(task.id)"><i class="icon-road"></i> use for Training </a><br />
    <a href="@controllers.admin.routes.TaskAdministration.delete(task.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
  </td>
</tr>
<tr class="details-row" >
  <td colspan="12">
    <table class="table table-condensed table-nohead">
      <tbody>
        @task.tracings.map{ tracing =>
          <tr>
            <td> @tracing.user.map(_.name).getOrElse("<deleted>") </td>
            <td> @formatDate(tracing.date) </td>
            <td> @if(tracing.state.isFinished){ <i class="icon-ok-circle"></i> Finished } else { <i class="icon-random"></i> In Progress } </td>
            <td> <a href="@controllers.admin.routes.NMLIO.download(tracing.id)"><i class="icon-download"></i> download NML </a></th>
          </tr>
        }
      </tbody>
    </table>
  </td>
</tr>
