@(task: models.task.Task)

@import brainflight.format._

<tr>
  <td class="details-toggle"> <i class="icon-chevron-right"></i> </td>
  <td> @task.id.drop(10) </td>
  <td> @task.cellId </td>
  <td> @task.seedIdHeidelberg </td>
  <td> @task.taskType.map(_.summary).getOrElse("<deleted>") </td>
  <td> @task.dataSetName </td>
  <td> @task.start </td>
  <td> @task.priority </td>
  <td> @DateFormatter.format(task.created) </td>
  <td> 
    <span title="Unassigned"> 
      @task.open <i class="icon-play-circle"></i>
    </span>
    |
    <span title="in Progress"> 
      @task.inProgress <i class="icon-random"></i> 
    </span>
    |
    <span title="Completed">
      @task.completed <i class="icon-ok-circle"></i>
    </span>
  </td>
</tr>
<tr class="details-row">
  <td colspan="10">
    <table class="table table-condensed">
      <thead>
        <th> Assignee </th>
        <th> Updated at </th>
        <th></th>
      </thead>
      <tbody>
        @task.experiments.map{ experiment =>
          <tr>
            <td> @experiment.user.map(_.name).getOrElse("<Maik>") </td>
            <td> @experiment.timestamp </td>
            <td> <i class="icon-download"></i> download NML </th>
          </tr>
        }
      </tbody>
    </table>
  </td>
</tr>
