@()(implicit session: oxalis.view.AuthedSessionData)

@main(){
  <div class="container wide">
    <h3>Tasks</h3>
    <div id="page-selection"></div>
    <table class="table table-double-striped table-details">
      <thead>
        <tr>
          <th class="details-toggle-all"> <i class="caret-right"></i> <i class="caret-down"></i> </th>
          <th> # </th>
          <th> H-Id</th>
          <th> Project</th>
          <th> Type</th>
          <th> DataSet </th>
          <th> Edit position </th>
          <th> Experience </th>
          <th> Priority </th>
          <th> Created </th>
          <th> States </th>
        </tr>
      </thead>
      <tbody class="hide">
        <!-- TASKS NEED TO GO HERE taskTableItem(task) -->
      </tbody>
    </table>
    <p>
      <a href="@controllers.admin.routes.TaskAdministration.create()" class="btn">Create new...</a>
    </p>
  </div>
}