@(task: models.task.Task)


<tr id="@task.id">
  <td class="details-toggle"> <i class="caret-right"></i> <i class="caret-down"></i> </td>
  <td> @formatHash(task.id) </td>
  <td> @task.seedIdHeidelberg </td>
  <td> 
    @task.project.map{ project =>
      <a href="@controllers.admin.routes.ProjectAdministration.list#@project.name">
        @project.name
      </a>
    }
  </td>
  <td> 
    <a href="@controllers.admin.routes.TaskTypeAdministration.list#@task.taskType.map(_.id)">
      @task.taskType.map(_.summary).getOrElse("<deleted>") 
    </a>
  </td>
  <td> @task.tracingBase.map(_.dataSetName) </td>
  <td> @task.tracingBase.map(_.editPosition) </td>
  <td> <span class="label"> @task.neededExperience </span> </td>
  <td> @task.priority </td>
  <td> @formatDate(task.created) </td>
  <td> @defining(task.status){ status =>
      <i class="icon-play-circle"></i> @status.open open
      <br />
      <i class="icon-random"></i> @status.inProgress active
      <br />
      <i class="icon-ok-circle"></i> @status.completed done
    }
  </td>
  <td class="nowrap">  
    <a href="@controllers.admin.routes.TaskAdministration.edit(task.id)"><i class="icon-pencil"></i> edit </a><br />
    <a href="@controllers.admin.routes.TaskAdministration.trace(task.id)" title="view all finished tracings"><i class="icon-random"></i> view </a><br />
    <a href="@controllers.admin.routes.NMLIO.taskDownload(task.id)" title="download all finished tracings"><i class="icon-download"></i> download </a><br />
    <a href="@controllers.admin.routes.TrainingsTaskAdministration.create(task.id)"><i class="icon-road"></i> use for Training </a><br />
    <a href="@controllers.admin.routes.TaskAdministration.delete(task.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete </a>
  </td>
</tr>
<tr class="details-row" >
  <td colspan="12">
    <table class="table table-condensed table-nohead">
      <tbody>
        <!-- DETAILS FOR A TASKS TRACINGS NEED TO BE PUT IN HERE -->
      </tbody>
    </table>
  </td>
</tr>
