@(taskId: String, taskTypes: List[models.task.TaskType], projects: List[models.task.Project], teams: List[String], editForm: Form[(String, models.user.Experience, Int, Int, String, String)])(implicit session: oxalis.view.AuthedSessionData)

@main(){
  <div class="container">

    <h3>Edit Task</h3>
    <div class="well">
      All tracings of this task are going to get adjusted to this settings. This is espacially true when changing the Task type.<br /> <br />
      @helper.form(controllers.admin.routes.TaskAdministration.editTaskForm(taskId), 'class -> "form-horizontal") {

        @basicTaskForm(editForm, taskTypes, projects, teams)

        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-2">
            <button type="submit" class="form-control btn btn-primary">Save</button>
          </div>
          <div class="col-sm-2">
            <a class="form-control btn btn-default" href="@controllers.routes.TaskController.empty#@taskId">Cancel</a>
          </div>
        </div>
      }
    </div>
  </div>
}
