@(loggedInUser: models.user.User, tasks: List[models.task.Task], experiences: Seq[String], form: Form[models.task.Task])

@import controllers.BootstrapHelpers._
@import play.api.libs.json.Json

@taskHelpLink() = {
  <a href="@controllers.admin.routes.TaskAdministration.create">Create a new Task</a>
}

@main(Some(loggedInUser)){
  <div class="container">
    <h3>Create Trainings-Task</h3>
    <div class="well">
      @helper.form(controllers.admin.routes.TrainingsTaskAdministration.createFromForm, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        
        @helper.select(form("task"), tasks.map { task =>
          task.id -> (task.taskType.map(_.summary).getOrElse("") + " - start " + task.start.toString)
        }, Symbol("help-inline") -> taskHelpLink)

        @helper.input(form("training.domain")) { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" data-source='@Json.stringify(Json.toJson(experiences))' data-provide="typeahead" autocomplete="off" @toHtmlArgs(args)>
        }

        @helper.inputText(form("training.gain"), 'type -> "number")
        
        @helper.inputText(form("training.loss"), 'type -> "number")

        <input type="file" name="nmlFile"> 

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      }
    </div>
  </div>
}