@(user: models.user.User, tracing: models.tracing.Tracing)

@reviewLink() = {
  <a href=@controllers.admin.routes.TrainingsTracingAdministration.startReview(tracing.id) data-ajax="replace-row"><i class="icon-eye-open"></i> start review </a>  
}

@oxalisLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.oxalisReview(tracing.id)"><i class="icon-random"></i> view in oxalis </a><br />
}

@nmlDownloadLink() = {
  <a href="@controllers.admin.routes.NMLIO.download(tracing.id)"><i class="icon-download"></i> download NML </a><br />
}

@finishReviewLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.finishReview(tracing.id)"><i class="icon-ok-sign"></i> finish review </a><br />
}

@abortReviewLink() = {
  <a href="@controllers.admin.routes.TrainingsTracingAdministration.abortReview(tracing.id)" data-ajax="replace-row,confirm"><i class="icon-remove-sign"></i> abort review </a>
}

@import brainflight.format._

<tr>
  <td> @tracing.user.map(_.name).getOrElse("<Maik>") </td>
  <td> @DateFormatter.format(tracing.date) </td>
  <td>
  @{tracing.review match{
    case _ if tracing.state.isFinished =>
      <i class="icon-ok"></i><span> finished (reviewed by )</span>
    case _ if tracing.state.isInProgress =>
      <i class="icon-time"></i><span> User is working on the task</span>
    case Some(r) if r._reviewee == user._id =>
      oxalisLink() + nmlDownloadLink() + finishReviewLink() + abortReviewLink
    case Some(r) if r._reviewee != user._id =>
      <span>Already getting reviewed.</span>
    case _ =>
      reviewLink()
  }}
</tr>