@(loggedInUser: models.user.User, experiment: models.experiment.Experiment, form: Form[String])

@main(Some(loggedInUser)){
  <div class="container">    
    <h3>Review of Trainings-Experiment</h3>
    @helper.form(action = controllers.admin.routes.TrainingsExperimentAdministration.finishReviewForm(experiment.id, true), 'class -> "form-horizontal") {
      <div class="control-group">
        <label class="control-label" for="comment">Comment</label>
        <div class="controls">
          <textarea name="comment" id="comment" class="input-xxlarge" rows="4"></textarea>
        </div>
      </div>
      <div class="form-actions">
        <a href="@controllers.admin.routes.TrainingsExperimentAdministration.finishReviewForm(experiment.id, true)" data-ajax="submit,redirect=@controllers.admin.routes.TrainingsTaskAdministration.list" class="btn btn-primary">Accept tracing</a>
        <a href="@controllers.admin.routes.TrainingsExperimentAdministration.finishReviewForm(experiment.id, false)" data-ajax="submit,redirect=@controllers.admin.routes.TrainingsTaskAdministration.list" class="btn btn-danger">Reject tracing</a>
      </div>
    }
  </div>
}