@(loggedInUser: models.user.User, tasks: List[models.task.Task], experiences: Seq[String], form: Form[models.task.TrainingsTask])

@import controllers.BootstrapHelpers._
@import play.api.libs.json.Json

@main(Some(loggedInUser)){
  <div class="container">
	  <h3>Create Trainings-Task</h3>
	  <div class="well">
	    @helper.form(controllers.admin.routes.TrainingsTaskAdministration.createFromForm, 'class -> "form-horizontal") {
	      
	      @helper.select(form("task"), tasks.map { task =>
          task.id -> (task.taskType.map(_.summary).getOrElse("") + "- start " + task.start.toString)
        })  

        @helper.inputText(form("experience"), 'type -> "text", Symbol("data-source") -> Json.stringify(Json.toJson(experiences)), Symbol("data-provide") -> "typeahead")

	      @helper.inputText(form("gain"), 'type -> "number")
	      
	      @helper.inputText(form("lose"), 'type -> "number")

	      <div class="form-actions">
	        <button type="submit" class="btn btn-primary">Create</button>
	      </div>
	    }
	  </div>
	</div>
}