<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date [%level] - %message%n%xException{15}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN"/>
    <logger name="application" level="TRACE"/>
    <logger name="braingames.binary" level="TRACE"/>
    <logger name="braingames.datastore" level="TRACE"/>
    <logger name="actor" level="DEBUG"/>
    <logger name="org.apache.pekko" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
