.datasets {

  margin-top: 25px;

  tbody:nth-child(odd) {
    .import-failed {
      td {
        background-color: fade(#a94442, 15) !important;
      }
    }
  }

  tbody:nth-child(even) {
    .import-failed {
      td {
        background-color: fade(#a94442, 30) !important;
      }
    }
  }

  .details-row thead th{
    border: none;
  }

}

.team-list li{
  list-style: none;
}

#tabbable-dataset-add {
  margin-top: 20px;
}
