.task-administration {

  margin-bottom: @navbar-bottom-offset;

  tbody + tbody {
    border-top: 0px;
  }

}

#task-overview {

  svg a:hover {
    text-decoration: none;
    &[href] {
      cursor: pointer;
    }
  }
  .popover {
    width: 400px;
  }

  .overview-options {
    float: right;
    margin-right: 15px;
    margin-top: 15px
  }
}

.task-types-administration {

  padding-top: 20px;

  h3 {
    margin-bottom: 20px;
  }
  .input-monospace {
    font-family: Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  }
}
