.task-administration {
  margin-bottom: @navbar-bottom-offset;

  tbody + tbody {
    border-top: 0px;
  }

  .dropdown-menu {
    z-index: 1031; //make sure we are above navbar-fixed-bottom
  }
}

.task-edit-administration {
  margin-top: @navbar-height + 20px;
}

.task-types-administration {
  padding-top: 20px;

  h3 {
    margin-bottom: 20px;
  }
  .input-monospace {
    font-family: Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  }
}

.task-type-description {
  ul,
  ol {
    padding-left: 1.5em;
    list-style: initial;
  }
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal;
  }
}
