.user-administration-table {

  margin-bottom: 70px; //offset bottom navbar

  select {
    width: 100%;
  }

  .row-fluid:not(:first-child) {
    margin-bottom: 10px;
  }

  .no-wrap {
    white-space: nowrap;
  }
}