[Unit]
Description=webKnossos datastore module 

Wants=network.target

[Service]
Type=simple
WorkingDirectory=WK_PATH
ExecStart=WK_PATH/run.sh
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target