@()(body: Html)(implicit session: brainflight.view.UnAuthedSessionData)

<!doctype html>
<html>
  <head>
    <title>Levelcreator</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/require-2.1.1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
  </head>
  <body>
    @mainHeader()    
    <div id="alert-container">
      @session.flash.data.map{ f =>
        <div class="alert alert-@f._1">
          <a href="#" class="close" data-dismiss="alert">×</a>
          @f._2
        </div>
      }
    </div>
    <div id="main-container">
      @body
    </div>
  </body>
</html>