@( explorativeTracings: List[models.tracing.Tracing], userTasks: List[(models.task.Task, models.tracing.Tracing)], trackedTimeOpt: Option[Map[models.user.PaymentInterval, akka.util.Duration]], dataSets: List[models.binary.DataSet])(implicit session: brainflight.view.AuthedSessionData)

@main(){
  <div class="container" id="dashboard">
    <h3>Tasks</h3>
    <table class="table table-striped" id="dashboard-tasks">
      <thead>
        <tr>
          <th> # </th>
          <th> Type </th>
          <th> DataSet </th>
          <th> Start </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @userTasks.map{ case (task, tracing) => 
        @taskTracingTableItem(task, tracing)
      }
      </tbody>
    </table>
    <a href="@controllers.routes.TaskController.request" class="btn"  data-ajax="add-row=#dashboard-tasks">Get a new task</a>

    <hr />

    <h3>Explorative Tracings</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> DataSet </th>
          <th> Trees </th>
          <th> Tracing-Type </th>
          <th> Last edited </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @explorativeTracings.map{ tracing => 
        @explorativeTracingTableItem(tracing)
      }
      </tbody>
    </table>

    <div>
    @helper.form(action = controllers.routes.TracingController.createExplorational, 'class -> "form-inline inline-block") {
      <select name="dataSetId">
        @dataSets.map{ d => 
          <option value="@d.id"> @d.name </option>
        }
      </select>
      <button type="submit" class="btn"><i class="icon-search"></i> Explore data set</button>
    }
    <div class="divider-vertical"></div>
    @helper.form(action = controllers.admin.routes.NMLIO.upload, 'enctype -> "multipart/form-data", 'id -> "nml-explore-form", 'class -> "form-inline inline-block"){
      <button type="submit" class="btn"><i class="icon-upload"></i> Upload NML & explore</button
    }
    </div>
    @trackedTimeOpt.map{ trackedTime =>
      <h3>Tracked Time</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Month </th>
            <th> Worked </th>
            <th> Payed </th>
          </tr>
        </thead>
        <tbody>
        @trackedTime.map{ case (interval, time) => 
          <tr>
            <td> @interval </td>
            <td> @formatTimeHumanReadable(time) </td>
            <td> </td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
  <div class="well" id="credits">
    <div class="container">
      <h3>Credits</h3>
      <!--<div class="row">
        <div class="span4">
          <h4>Max-Planck-Institut</h4>
          <ul>
            <li>Moritz Helmstädter</li>
            <li>Kevin Boergens</li>
            <li>Manuel Berning</li>
          </ul>
        </div>
        <div class="span4">
          <h4><a href="http://scm.io">scalable minds</a></h4>
          <ul>
            <li>Tom Bocklisch</li>
            <li>Dominic Bräunlein</li>
            <li>Johannes Frohnhofen</li>
            <li>Tom Herold</li>
            <li>Norman Rzepka</li>
            <li>Thomas Werkmeister</li>
            <li>Daniel Werner</li>
            <li>Georg Wiese</li>
          </ul>
        </div>
      </div>-->
      <p>Oxalis is inspired by <a href="http://www.knossostool.org/">Knossos</a>.</p>
    </div>
  </div>

}