@( explorativeTracings: List[models.tracing.Tracing], userTasks: List[(models.task.Task, models.tracing.Tracing)], trackedTimeOpt: Option[Map[models.user.PaymentInterval, scala.concurrent.duration.Duration]], dataSets: List[models.binary.DataSet], hasAnOpenTask: Boolean)(implicit session: brainflight.view.AuthedSessionData)

@main(){
  <div class="container" id="dashboard">
    <h3>Tasks</h3>
    <table class="table table-striped" id="dashboard-tasks">
      <thead>
        <tr>
          <th> # </th>
          <th> Type </th>
          <th> Project </th>
          <th> Description </th>
          <th> Modes </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @userTasks.map{ case (task, tracing) => 
        @taskTracingTableItem(task, tracing)
      }
      </tbody>
    </table>
    <a href="@controllers.routes.TaskController.request" class="btn btn-success"  data-ajax="add-row=#dashboard-tasks@if(hasAnOpenTask){,confirm=Do you really want another task?}" id="new-task-button">Get a new task</a>
    
    <div class="divider-vertical"></div>
    <a href="#" id="toggle-finished">Show finished tasks</a>
    <hr />

  	<a href="#" data-toggle="collapse" data-target="#explorativeTracings">
          Explorative Tracings
  	</a>
   
  	<div id="explorativeTracings" class="collapse out">
    
    <h3>Explorative Tracings</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> DataSet </th>
          <th> Tracing Stats </th>
          <th> Tracing-Type </th>
          <th> Last edited </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      @explorativeTracings.map{ tracing => 
        @explorativeTracingTableItem(tracing)
      }
      </tbody>
    </table>
    <div>
      @helper.form(action = controllers.admin.routes.NMLIO.upload, 'enctype -> "multipart/form-data", 'id -> "nml-explore-form", 'class -> "form-inline inline-block"){
        <button type="submit" class="btn"><i class="icon-upload"></i> Upload NML & explore</button>
      }
      <div class="divider-vertical"></div>
      @helper.form(action = controllers.routes.TracingController.createExplorational, 'class -> "form-inline inline-block") {
        <select name="dataSetId">
          @dataSets.map{ d => 
            <option value="@d.id"> @d.name </option>
          }
        </select>
        <button type="submit" class="btn"><i class="icon-search"></i> Explore data set</button>
      }
      </div>
    </div>

    <hr />

    @trackedTimeOpt.map{ trackedTime =>
      <h3>Tracked Time</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Month </th>
            <th> Worked </th>
            <th> Payed </th>
          </tr>
        </thead>
        <tbody>
        @trackedTime.map{ case (interval, time) => 
          <tr>
            <td> @interval </td>
            <td> @formatTimeHumanReadable(time) </td>
            <td> </td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
  @credits()
}