@(tracing: models.tracing.Tracing)
  <tr>
    <td> @formatHash(tracing.id) </td>
    <td> @tracing.name </td>
    <td> @tracing.dataSetName </td>
    <td> @tracing.trees.size </td>
    <td> @tracing.tracingType </td>
    <td> @formatDate(tracing.date) </td>
    <td> <a href="@controllers.routes.Game.trace(tracing.id)"><i class="icon-random"></i> trace</a><br />
         <a href="@controllers.admin.routes.NMLIO.download(tracing.id)"><i class="icon-download"></i> NML</a><br />
         <a href="@controllers.routes.TracingController.finish(tracing.id, true)" data-ajax="delete-row"><i class="icon-ok-circle"></i> finish</a></td>
  </tr>
