@()
<template>
  <tr class="<%if(annotations.state.isFinished){print('finished')}else{print('unfinished')}%>">
    <td><%= tasks.formattedHash %> </td>
    <td><% if(tasks.type){ print(task.type.summary) } else { print("<deleted>") } + " - " + annotations.typ %></td>
    <td><%= tasks.projectName %> </td>
    <td><% if(tasks.type){ print(tasks.type.description) } else { print("") } %></td>
    <td>
      <span class="label"> <% if(tasks.type){ print(tasks.type.settings.allowedModes) } else { print("")} %></span>
    </td>
    <td class="nowrap">
      <% if (annotations.state.isFinished) { %>
        <i class="fa fa-check"></i><span> Finished</span><br />
      <% } else { %>
        <a href="/annotations/<%= annotations.typ %>/<%= annotations.id %>"><i class="fa fa-random"></i>trace</a><br/>
        <a href="/annotations/<%= annotations.typ %>/<%= annotations.id %>/finish" class="trace-finish" data-ajax="replace-row,confirm=@Messages("annotation.finish.confirm")" ><i class="fa fa-check-circle-o"></i>finish</a>
      <% } %>
    </td>
  </tr>
</template>
