@(task: models.task.Task, experiment: models.experiment.Experiment)

@experimentLinks = {
  <a href="@controllers.routes.Game.trace(experiment.id)"><i class="icon-random"></i> trace</a><br/>
  <a href="@controllers.routes.TaskController.finish(experiment.id)" data-ajax="replace-row"><i class="icon-ok-circle"></i> finish</a>
}

<tr>
  <td> @task.id.drop(10) </td>
  <td> @task.taskType.map(_.summary).getOrElse("<deleted>") - @experiment.experimentType</td>
  <td> @task.dataSetName </td>
  <td> @task.start </td>
  <td> 
    @experiment.state match{
      case s if s.isFinished => {
        <i class="icon-ok"></i><span> Finished</span>
      }
      case s if s.isInReview => {
        <i class="icon-eye-open"></i><span> In Review</span>
      }
      case _ => {
        @experimentLinks
        @experiment.review.flatMap(_.comment).map{ comment => 
          <br />
          <span>Comment: 
            @comment.split("\n").map{ c =>
              @c <br />
            }
          </span>
        }
      }
    }
  </td>
</tr>