@(task: models.task.Task, annotation: models.annotation.Annotation)

@tracingLinks = {
  <a href="@controllers.routes.AnnotationController.trace(annotation.typ, annotation.id)"><i class="icon-random"></i> trace</a><br/>
  <a href="@controllers.routes.AnnotationController.finish(annotation.typ, annotation.id, false)" class="trace-finish" data-ajax="replace-row,confirm=@Messages("annotation.finish.confirm")" ><i class="icon-ok-circle"></i> finish</a>
}

@linkText(failed: Boolean) = {
  @if(failed) {
    Review failed
  } else {
    Review successful
  }
}

@displayComments(failed: Boolean, comments: List[String]) = {
  @comments match{
    case head :: tail => {
      <br />
      <a href="#" rel="popover" data-placement="bottom" data-title="Comment from Reviewer" data-html="true" data-content="@org.apache.commons.lang3.StringEscapeUtils.escapeHtml4(head).replaceAll("\n", "<br /><br />")"><i class="icon-eye-open"></i> @linkText(failed)<span class="caret-down"></span></a>    
    }
    case _ => {

    }
  }

}

<tr class="@if(annotation.state.isFinished){finished}else{unfinished}">
  <td> @formatHash(task.id) </td>
  @defining(task.taskType){ taskType =>
    <td> @taskType.map(_.summary).getOrElse("<deleted>") - @annotation.typ</td>
    <td> @task.project.map(_.name) </td>
    <td> @taskType.map(_.description).getOrElse("") </td>
    <td>
      @taskType.toList.flatMap(_.settings.allowedModes).map{ mode: String =>
        <span class="label"> @mode.capitalize </span>
      }
    </td>                                             ›
  }
  <td class="nowrap"> 
    @annotation.state match{
      case s if s.isFinished => {
        <i class="icon-ok"></i><span> Finished</span><br />
        @displayComments(false, annotation.review.flatMap( _.comment ))
      }
      case s if s.isInReview || s.isReadyForReview => {
        <i class="icon-eye-open"></i><span> In Review</span>
      }
      case _ => {
        @tracingLinks
        @displayComments(true, annotation.review.flatMap( _.comment ))
      }
    }
  </td>
</tr>