@(task: models.task.Task, experiment: models.task.Experiment)

<tr>
  <td> @task.id.drop(10) </td>
  <td> @task.cellId </td>
  <td> @task.taskType.map(_.summary).getOrElse("") </td>
  <td> @task.dataSetName </td>
  <td> @task.start </td>
  <td> 
    @if(experiment.finished){ 
      <i class="icon-ok"></i> Finished 
    } else {
      <a href="@controllers.routes.Game.trace(experiment.id)"><i class="icon-random"></i> trace</a><br/>
      <a href="@controllers.routes.TaskController.finish(experiment.id)" data-ajax="replace-row"><i class="icon-ok-circle"></i> finish</a>
    }
  </td>
</tr>