@(task: models.task.Task, tracing: models.tracing.Tracing)

@tracingLinks = {
  <a href="@controllers.routes.Game.trace(tracing.id)"><i class="icon-random"></i> trace</a><br/>
  <a href="@controllers.routes.TaskController.finish(tracing.id)" data-ajax="replace-row"><i class="icon-ok-circle"></i> finish</a>
  
}

<tr>
  <td> @formatHash(task.id) </td>
  <td> @task.taskType.map(_.summary).getOrElse("<deleted>") - @tracing.tracingType</td>
  <td> @task.dataSetName </td>
  <td> @task.start </td>
  <td> 
    @tracing.state match{
      case s if s.isFinished => {
        <i class="icon-ok"></i><span> Finished</span>
        @tracing.review.flatMap(_.comment).map{ comment => 
          | <a href="#" rel="popover" data-title="Comment from Reviewer" data-placement="bottom" data-html="true" data-content="@comment.split("\n").map{ c => @c<br /> }">Comment <span class="caret-down"></span></a>
        }
      }
      case s if s.isInReview => {
        <i class="icon-eye-open"></i><span> In Review</span>
      }
      case _ => {
        @tracingLinks
        @tracing.review.flatMap(_.comment).map{ comment => 
          <a href="#" rel="popover" data-title="Comment from Reviewer" data-content="@comment">Comment <span class="caret-down"></span></a>
        }
      }
    }
  </td>
</tr>