@(form: Form[(String, String)])(implicit session: oxalis.view.SessionData)

@main(){
    
  <div class="container">
    <div class="span9 offset1 space-top">
      <div class="well">
        
        @helper.form(routes.Authentication.authenticate, 'class -> "form-horizontal") {
        
          <legend>Login</legend>
          <div class="alert alert-info">
            Please be advised, access is for lab members only.
          </div>

          @form.globalError.map { error =>
            <div class="alert alert-error">
              @Messages(error.message)
            </div>
          }

          @helper.inputText(form("email"), 'type -> "email")
          @helper.inputPassword(form("password"))

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="@routes.Authentication.register" class="btn">Sign Up</a>
          </div>        
        }
      </div>
    </div>
  </div>
}
  


