@(form: Form[(String, String, String, String, String)], teams: List[models.team.Team])(implicit session: oxalis.view.SessionData)

@main( ){

  <div class="container">
    <div class="well space-top col-center col-sm-6">

        @helper.form(routes.Authentication.handleRegistration, 'class -> "form-horizontal") {

          <legend>Sign up</legend>

          <div class="alert alert-info">
            Welcome to webKnossos! If you are a member of one of the teams listed below, feel free to add your own account. Your respective administrator will then activate your login. A valid e-mail address is not necessary for the account to work.
          </div>

          @form.errors.map { error =>
            <div class="alert alert-danger">
              @Messages(error.message)
            </div>
          }
          @helper.select(form("team"), teams.map { t =>
            t.name -> t.name
          }, 'class -> "form-control")
          @helper.inputText(form("email"), 'type -> "email", 'class -> "form-control", 'required -> "")
          @helper.inputText(form("firstName"), 'class -> "form-control", 'required -> "")
          @helper.inputText(form("lastName"), 'class -> "form-control", 'required -> "")
          @helper.inputPassword(form("password.main"), 'class -> "form-control", 'pattern -> ".{1,}", 'required -> "", 'title -> "1 character minimum")
          @helper.inputPassword(form("password.validation"), 'class -> "form-control")

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <button type="submit" class="form-control btn btn-primary">Sign up</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
