@(form: Form[(String, String, String, String, String)], teams: List[models.team.Team])(implicit session: oxalis.view.SessionData, messages: Messages)

@import play.api.Play

@main() {

  <div class="container">
    <div class="well space-top col-center col-sm-6">

    @helper.form(routes.Authentication.handleRegistration, 'class -> "form-horizontal") {

      <legend>Sign up</legend>

      <div class="alert alert-info">
        @Messages(Play.current.configuration.getString("customMessages.register").getOrElse("user.register.prompt"))
      </div>

      @form.errors.map { error =>
        <div class="alert alert-danger">
          @Messages(error.message)
        </div>
      }
      @helper.select(form("team"), ("" -> "<Please select>") +: teams.map { t =>
        t.name -> t.name
      }, 'class -> "form-control", 'required -> "required")
      @helper.inputText(form("email"), 'type -> "email", 'class -> "form-control", 'required -> "required")
      @helper.inputText(form("firstName"), 'class -> "form-control", 'required -> "required")
      @helper.inputText(form("lastName"), 'class -> "form-control", 'required -> "required")
      @helper.inputPassword(form("password.main"), 'class -> "form-control", 'required -> "required")
      @helper.inputPassword(form("password.validation"), 'class -> "form-control", 'required -> "required")

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="form-control btn btn-primary">Sign up</button>
        </div>
      </div>
    }
    </div>
  </div>
}
