@(form: Form[(String, String, String, String)])(implicit session: oxalis.view.SessionData)

@main( ){
  
  <div class="container">
    <div class="span9 offset1 space-top">
      <div class="well">
        
        @helper.form(routes.Authentication.registrate, 'class -> "form-horizontal") {
        
          <legend>Sign up</legend>

          <div class="alert alert-info">
            Please be advised, registration is for lab members only. If you are not a lab member, you are not going to get verified.
          </div>

          @form.errors.map { error =>
            <div class="alert alert-error">
              @Messages(error.message)
            </div>
          }

          @helper.inputText(form("email"), 'type -> "email")
          @helper.inputText(form("firstName"))
          @helper.inputText(form("lastName"))
          @helper.inputPassword(form("password.main"))
          @helper.inputPassword(form("password.validation"))
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
        }
      </div>
    </div>
  </div>
}
  
