@(form: Form[(String, String)])(implicit session: oxalis.view.SessionData)

@main(){

    <div class="container">
        <div class="well space-top col-center col-sm-6">
            @helper.form(routes.UserController.handleResetPassword, 'class -> "form-horizontal") {

            <legend>Password reset</legend>

            @form.globalError.map { error =>
                <div class="alert alert-danger">
                    @Messages(error.message)
                </div>
            }

            @helper.inputPassword(form("password_old"),         'class -> "form-control")
            @helper.inputPassword(form("password.main"),        'class -> "form-control")
            @helper.inputPassword(form("password.validation"),  'class -> "form-control")

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="form-control btn btn-primary">Reset</button>
                </div>
            </div>
            }
        </div>
    </div>

}



