@(kind: String, name: String, folderContents: Seq[String])
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>WEBKNOSSOS @(kind)</title>
    <meta name="robot" content="noindex" />
    <script type="text/javascript">
      // forward to path with trailing slash
      if (!window.location.pathname.endsWith('/')) {
        var url = window.location.protocol + '//' + 
                  window.location.host + 
                  window.location.pathname + '/' + 
                  window.location.search;
        window.location.replace(url);
      }
    </script>
    @* <link rel="shortcut icon" type="image/png" href="https://static.webknossos.org/images/icon-only.svg" />*@
    <style>
      * {
        font-family: "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
        text-align: center
      }
      
      ul {
        list-style: none;
      }

      p#hint {
        color: #777;
        margin-top: 4em
      }
    </style>
  </head>
  <body>
    <p id="hint">This is the WEBKNOSSOS @(kind) “@(name)” folder.</p>
    <p>The following are the contents of the folder:</p>
    <ul>
      @folderContents.map { name =>
        <li><a href="@name">@name</a></li>
      }
    </ul>
  </body>
</html>
