<!doctype html>
<html>
  <head>
    <meta name="commit-hash" content=<%= htmlWebpackPlugin.options.commitHash %>>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script type="text/javascript"
      data-airbrake-project-id="@(conf.Airbrake.projectID)"
      data-airbrake-project-key="@(conf.Airbrake.projectKey)"
      data-airbrake-environment-name="@(conf.Airbrake.environment)"></script>
  </head>
  <body>
    <main id="main-container"></main>
  </body>
</html>
