@* tracingLinks Template File *@
@(tracing: models.tracing.Tracing, extendedResult: Boolean)
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    @if(!tracing.state.isFinished){ 
      <li><a href="@controllers.admin.routes.TracingAdministration.finish(tracing.id)" class="trace-finish" data-ajax="replace-row,confirm"><i class="icon-ok-circle"></i> finish</a></li>
    } else {
      <li><a href="@controllers.admin.routes.TracingAdministration.reopen(tracing.id, extendedResult)" data-ajax="replace-row"><i class="icon-share-alt"></i> reopen</a></li>
    }
    <li><a href="@controllers.routes.TracingController.trace(tracing.id)"><i class="icon-random"></i> view </a></li>
    <li><a href="@controllers.routes.TracingController.download(tracing.tracingType.toString, tracing.id)"><i class="icon-download"></i> download </a></li>
    <li><a href="@controllers.admin.routes.TracingAdministration.reset(tracing.id)" data-ajax="replace-row,confirm"><i class="icon-undo"></i> reset</a></li>
    <li><a href="@controllers.admin.routes.TracingAdministration.cancelTracing(tracing.id)" data-ajax="delete-row,confirm"><i class="icon-trash"></i> delete</a></li>
    <!-- dropdown menu links -->
  </ul>
</div>