.experience-change-modal {
  .user-experience-table {
    margin-bottom: 24px;
    .ant-table-header {
      overflow-y: auto;
    }
    .ant-table-body {
      overflow-y: auto !important;
    }
    .disabled {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .clickable-icon:hover {
    cursor: pointer;
    color: rgba(64, 169, 255, 1);
  }
  .disabled-clickable-icon {
    color: rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: not-allowed;
    }
  }
  .experience-input {
    width: 50%;
  }
  .clear-input-icon {
    margin-left: 8px;
  }
  .add-button {
    margin-left: 8px;
    float: right;
  }
}
