.experience-change-modal {
  .user-experience-table {
    margin-bottom: 24px;
    .ant-table-header {
      overflow-y: auto;
    }
    .ant-table-body {
      overflow-y: auto !important;
    }
  }
  .clickable-icon:hover {
    cursor: pointer;
    color: rgba(64, 169, 255, 1);
  }
}
