#explorative-name-input {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -5px;
  margin-left: -2px;
  width: 100%;
  vertical-align: middle;
}
#explorative-name-submit {
  padding-top: 1px;
  padding-bottom: 0px;
  margin-top:  1px;
}
.explorative-name-column {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

#toggle-explorative {

  .fa-caret-down {
    display: none;
  }

  &:not(.collapsed) {
    .fa-caret-right {
      display: none;
    }
    .fa-caret-down {
      display: inline-block;
    }
  }
}

#tabbable-dashboard {
  margin-top: 20px;
  min-height: 400px;
}

#dashboard {
  .pagination-region .container {
    margin: 0px;
    padding: 0px;
  }
}

#dataset-import-view {

  h3 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .content {
    text-align: center;
  }

  textarea, .ant-checkbox-wrapper, p, .ant-alert {
    margin-bottom: 20px;
  }

  button {
    margin-right: 10px;
  }
}
