.ant-layout-header {
  padding: 0 20px;
  background: white;
}

.ant-layout-sider {
  background: white;
}

.ant-layout {
  background: white;
}

.ant-menu-horizontal {
  border: none!important;

  & > .ant-menu-item-active, & > .ant-menu-item-selected {
    border: none!important;
  }
}
