@import "../../../node_modules/antd/dist/antd.css";
@import (inline) "../../../node_modules/c3/c3.css";
@import "../../../node_modules/font-awesome/less/font-awesome.less";

@import "_variables.less";
@import "_general.less";
@import "admin/_task.less";
@import "admin/_statistics.less";
@import "_dashboard.less";
@import "trace_view/_tracing_view.less";
@import "trace_view/_action_bar.less";
@import "trace_view/_right_menu.less";
@import "_help.less";
@import "antd_overwrites.less";

// ----------------------- MAIN STYLES
body {
  color: @mainColor;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialised;
  height: ~"calc(100vh - 41px)";
}

.save-error {
  .ant-layout-header,
  .ant-menu {
    background-color: #c00 !important;
  }
}
.logo {
  background: url(/assets/images/oxalis-white.png) 15px center no-repeat;
  padding-left: 43px;
  height: 40px;
  float: left;
  margin-top: 6px;
}
.logo:hover {
  color: #999;
}

.navbar #main-menu {
  a [class^="fa-"],
  a [class*=" fa-"] {
    color: #fff;
  }
  .dropdown-menu i {
    color: #000;
  }
}

.container.wide {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.bold {
  font-weight: bold;
}

// Only affect child items in tables
td.nowrap * {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.fa-random {
  width: 14px;
  background-position: -217px -120px;
}

.fa-bull::before {
  display: inline-block;
  width: 16px;
  content: "•";
  text-align: center;
}

.inline-block {
  display: inline-block;
}

#stats {
  position: fixed;
  bottom: 0;
  right: 0;
}

#credits {
  margin-top: 50px;
  border-radius: 0;
  color: #888;

  section {
    margin-top: 4em;
  }

  img {
    margin-bottom: 15px;
  }
}

#oxalis-header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 150px;

  img {
    height: 150px;
    width: 150px;
  }

  div {
    vertical-align: middle;
    font-weight: 200;
    display: inline-block;
    font-size: 120px;
    line-height: normal;
    color: #000;
    margin-left: 17px;
  }
}

#spotlight-footnote {
  text-align: center;
}

#impressum {
  h5 {
    margin-top: 2em;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
}

// Fixing font awesome
.btn [class^="fa-"],
.nav [class^="fa-"],
.btn [class*=" fa-"],
.nav [class*=" fa-"] {
  line-height: normal;
}

// make sure text and icons have space between them
i {
  margin-right: 5px;
}

.ant-spin-dot i {
  margin-right: 0;
}

.v-center > .v-center-agent {
  display: table-cell;
  vertical-align: middle;
}

.v-center {
  display: table;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex-column-for-ant-tabs-container > div.ant-tabs-content {
  flex-grow: 1;
}

.flex-overflow {
  overflow-y: auto;
  flex-grow: 1;
  height: 0;
}

.monospace-id {
  // break long IDs
  word-wrap: break-word;
  max-width: 154px;
  font-family: monospace;
  font-size: 12px;
}

img.img-50 {
  width: 47%;
}

.divider-vertical {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  margin: 0 8px;
  border-right: 1px solid #e5e5e5;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
