@import (inline) "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import (inline) "../../../node_modules/c3/c3.css";
@import (inline) "../../../node_modules/bootstrap-daterangepicker/daterangepicker.css";
@import (inline) "../../../node_modules/nouislider/distribute/nouislider.min.css";
@import (inline) "../../../node_modules/bootstrap-toggle/css/bootstrap-toggle.css";
@import "../../../node_modules/font-awesome/less/font-awesome.less";
@import "../../../node_modules/bootstrap-multiselect/dist/less/bootstrap-multiselect.less";
@import "../../../node_modules/jasny-bootstrap/less/build/jasny-bootstrap.less";

@import "_variables.less";
@import "admin/_user.less";
@import "admin/_team.less";
@import "admin/_dataset.less";
@import "admin/_pagination.less";
@import "admin/_task.less";
@import "admin/_project.less";
@import "admin/_statistics.less";
@import "_bootstrap_addons.less";
@import "_datasets.less";
@import "_dashboard.less";
@import "trace_view/_tracing_view.less";
@import "trace_view/_action_bar.less";
@import "trace_view/_right_menu.less";
@import "trace_view/_settings.less";
@import "_help.less";
@import "_sort_table_icons.less";


// ----------------------- MAIN STYLES
body {
  //background: #000000;
  color: @mainColor;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialised;
}
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.save-error .navbar {
  background-color: #c00;
}
.navbar .navbar-brand {
  background: url(/assets/images/oxalis-white.png) 15px center no-repeat;
  padding-left: 43px;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: @navbar-height;

}
.navbar span.navbar-brand:hover {
  color: #999;
}

.navbar #main-menu {
  a [class^="fa-"],
  a [class*=" fa-"] {
    color: #fff;
  }
  .dropdown-menu i {
    color: #000;
  }
}

.label {
  margin-right: .2em;
}

.well form {
  margin-bottom: 0;
}

.container.wide {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.bold {
  font-weight: bold;
}

// Only affect child items in tables
td.nowrap * {
  white-space: nowrap;
}

.table-details {

  .details-row > td {
    box-shadow: inset 0 0 10px rgba(180, 180, 180, .2);
  }
  .details-toggle,
  .details-toggle-all {

    cursor: pointer;

    .caret-down {
      display: none;
    }

    &.open {
      .caret-right {
        display: none;
      }
      .caret-down {
        display: inline-block;
      }
    }
  }
}

.table {
  a [class^="fa-"],
  a [class*=" fa-"] {
    color: #000;
  }
}

.light-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
}
.caret-right {
  .light-caret;
  border-left: 4px solid #888;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.caret-down {
  .light-caret;
  border-top: 4px solid #888;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.fa-random {
  width: 14px;
  background-position: -217px -120px;
}

.fa-bull::before {
  display: inline-block;
  width: 16px;
  content: "•";
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

#alert-container {
  position: fixed;
  right: 20px;
  top: 60px;
  z-index: 1050; //above modal backdrop

  .alert {
    cursor: default;
    position: relative;
  }
  .alert:hover {
    box-shadow: 0 0 10px rgba(100, 100, 100, .2);
  }
}

#stats {
  position: fixed;
  bottom: 0;
  right: 0;
}
.bright {
  background : #fff;
  p {
    color : #000;
  }
  .inactive {
    border-color: #fff;
  }
}

.dark {
  color: #fff;
  background : #000;

  #dataset .well,
  .panel-body {
    background: #000;
  }

  p {
    color : #fff;
  }

  .modal, .modal p{
    color : #000;
  }
  .inactive {
    border-color: #000;
  }
}

#loader-icon {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  z-index: 101;

  i.fa-spin {
    animation: fa-spin 1s infinite linear;
    animation-timing-function: steps(8);
  }
}

#loader-background {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  color: white;
  padding-top: 100px;
  opacity: 0.7;
  filter: alpha(opacity=50);
  z-index: 100;
}

#main-container {
  margin-top: @navbar-height;
}

#credits {
  margin-top: 50px;
  border-radius: 0;
  color: #888;

  section {
    margin-top: 4em;
  }

  img {
    margin-bottom: 15px;
  }
}

#oxalis-header {

  margin-bottom: 40px;
  margin-left: 34px;
  margin-top: 20px;

  img {
    height: 200px;
    width: 200px;
  }

  div {
    vertical-align: middle;
    font-weight: 200;
    display: inline-block;
    font-size: 150px;
    line-height: normal;
    color: #000;
    margin-left: 17px;
  }
}

#impressum{
  h5{
  margin-top: 2em;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
}

.space-top {
  margin-top: 30px;
}

// Fixing font awesome
.btn [class^="fa-"],
.nav [class^="fa-"],
.btn [class*=" fa-"],
.nav [class*=" fa-"] {
  line-height: normal;
}

#merge {
    width: 280px;
    padding: 10px;
    position: absolute;
    top: 240px;
    left: 0px;
    background-color: #aaf;
    visibility: hidden;
}

#optionswindow select {
  color: black;
}

//submit issue form
textarea[name=description] {
  height: 100px;
}
// make sure text and icons have space between them
i {
  margin-right: 5px;
}

.v-center > .v-center-agent {
  display: table-cell;
  vertical-align: middle;
}

.v-center {
  display: table;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#add-script-input {
  width: 100%;
}

.pagination > li > a {
  cursor: pointer;
}

.monospace-id {
  // break long IDs
  word-wrap: break-word;
  max-width: 154px;
  font-family: monospace;
  font-size: 14px;
}
