// -----------------------------------
// MAIN
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------

// @import 'libs/_reset.less';
// @import 'libs/_mate.less';
@import 'libs/_theme.less';

// ----------------------- MAIN STYLES
body {
    // background: @mainBackground;
    color: @mainColor;
    // font: @defaultFont;
    -webkit-font-smoothing: antialised;
}

.navbar .brand {
    background: url(/assets/images/oxalis-white.png) 15px center no-repeat;
    padding-left: 43px;
}
.navbar span.brand:hover {
    color: #999;
}

.well form {
    margin-bottom: 0;
}
.well form .form-actions {
    padding-bottom: 0;
    margin-bottom: 0;
}

.input-fullwidth {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-monospace {
    font-family: Monaco, Consolas, "Lucida Console", "Courier New", monospace;
}
.divider-vertical {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    margin: 0 9px;
    border-right: 1px solid #e5e5e5;
}

.popover {
    width: 400px;
}

.table-double-striped > tbody {
    & > tr:nth-child(4n+1) > td,
    & > tr:nth-child(4n+2) > td {
        background-color: #f9f9f9
    }
}

.table-nohead {
    tbody tr:nth-child(1) {
        td, th {
            border-top: none;
        }
    }
}

.table .table {
    margin-bottom: 0;
}

.table-details {

    .details-row > td {
        box-shadow: inset 0 0 10px rgba(180, 180, 180, .2);
    }
    .details-toggle,
    .details-toggle-all {

        cursor: pointer;

        .caret-down {
            display: none;
        }

        &.open {
            .caret-right {
                display: none;
            }
            .caret-down {
                display: inline-block;
            }
        }
    }
}

.light-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
}
.caret-right {
    .light-caret;
    border-left: 4px solid #888;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.caret-down {
    .light-caret;
    border-top: 4px solid #888;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.inline-block {
    display: inline-block;
}

.rotating {
    -webkit-animation: rotation 1s linear infinite;
}

svg a:hover {
    text-decoration: none;
    &[href] {
        cursor: pointer;
    }
}

#alert-container {
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 100;

    .alert {
        cursor: default;
    }
    .alert:hover {
        box-shadow: 0 0 10px rgba(100, 100, 100, .2);
    }
}

#stats {
    position: fixed;
    bottom: 0;
    left: 0;
}
#render {
    width: 2*@standardViewportWidth+20px;
    height: 2*@standardViewportWidth+20px;
    position: absolute;
    top: 20px;
    left: 300px;
}
#render canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#main-container {
    position: absolute;
    top: @headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
}
.inputcatcher {
    width: @standardViewportWidth - 2px;
    height: @standardViewportWidth - 2px;
    border-width: 1px;
    border-style:solid;
    border-color: #ffff00;
    position: absolute;
    z-index: 20;
}
#planexy {
    top: 0px;
    left: 0px;
}
#planeyz {
    top: 0px;
    left: @standardViewportWidth + 20px;
}
#planexz {
    top: @standardViewportWidth + 20px;
    left: 0px;
}
#skeletonview {
    top: @standardViewportWidth + 20px;
    left: @standardViewportWidth + 20px;
    border-width: 0px;
}
//canvas {
//    margin-right: 20px;
//    margin-bottom: 20px;
//    border-width: 2px;
//    border-style:solid;
//    border-color: @mainBackground;
//}
#prevControls {
    float: left;
    height: 20px;
    position: relative;
    top: 420px;
    left: 420px;
    z-index: 30;
}
#overlay {
    position: absolute;
    width: 280px;
    top: 0;
    left: 0;
    padding: 10px;
}
#overlay > * {
    margin-bottom: 10px;
}
#overlay .nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}
#overlay .nav-tabs {
    margin-top: 25px;
    margin-bottom: 0;
}
#review-comments {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}


#issue-submit {

    form {

        margin: 0;

        input[type=text],
        textarea {
            width: 600px;
        }
        textarea {
            height: 9em;
        }
    }
}

#task-selection-algoritm {

    position: relative;
    height: 100%;

    .editor-wrapper {

        position: absolute;
        background: #141414;
        top: 50px;
        bottom: 10px;
        width: 100%;
        box-shadow: 0 0 10px #aaa;

        #editor {
            width: 100%;
            top: 0;
            bottom: 0;
        }
    }
    input[type=submit] {
        margin: 10px 0;
    }
}

.key-arrow {
    left: 170px !important;
}

.key-overlay {
    width: 700px;
    margin-left: 180px;
}

.graph.well svg {
    max-width: 900px;
}

@media screen and (max-width: 960px) {
    .container {
        width: auto;
        margin: 0 10px;
    }
}

.space-top {
    margin-top: 30px;
}

// Fixing datGUI from Bootstrap
.dg {

    font: 11px 'Lucida Grande', sans-serif;

    input, select, textarea {
        height: auto;
        font-size: 11px;
        line-height: normal;
        border-radius: 0;
    }
    select {
        width: auto;
        max-width: 100%;
    }
    .cr div div {
        line-height: normal;
    }
}
