@()(implicit session: oxalis.view.AuthedSessionData)

@main( showNavButtons = false ){

  <div id="issue-submit" class="container">
      
    @helper.form(action = controllers.routes.Jira.submit) {
      
      <legend>Submit issue</legend>

      <div class="control-group">
        <label class="control-label" for="issueType">Type</label>
        <div class="controls">
          <select name="type" id="issueType">
            <option value="unrelated">Non technical problem</option>
            <option value="bug">Technical problem</option>
            <option value="feature">Feature suggestion</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="issueSummary">Summary</label>
        <div class="controls">
          <input type="text" name="summary" id="issue-summary" autofocus/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="issueDescription">Description</label>
        <div class="controls">
          <textarea name="description" id="issue-description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" value="Send" class="btn btn-primary" />
        </div>
      </div>
    }

  </div>
  
  
}