@()(implicit session: brainflight.view.AuthedSessionData)

@main(){

  <div class="container" id="level-creator">

    <form id="dimension-modal" action="#" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Stack Dimensions</h3>
      </div>
      <div class="modal-body">

        <fieldset>
          <div class="control-group">
            <label class="control-label">Width</label>
            <div class="controls">
              <input id="dim-x" type="text" value="250">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Height</label>
            <div class="controls">
              <input id="dim-y" type="text" value="150">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Number of Slides</label>
            <div class="controls">
              <input id="dim-z" type="text" value="30">
            </div>
          </div>
        </fieldset>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" aria-hidden="true">Request Stack</button>
      </div>
    </form>

    <div class="row">

      <div class="span9">
        <h3>Preview</h3>
        <div>
          <canvas id="preview-canvas" width="250" height="150"></canvas>
        </div>
        <input id="preview-slider" type="range"></input>

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                <div class="layer-filter-group" style="left : 20px; width : 30px;">Filter</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <a class="btn"><i class="icon-plus"></i> Add layer</a>
        </div>
      </div>

      <div class="span3">
        <h3>Properties</h3>
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th>Start #</th>
              <td><input type="number" min="0" max="200" class="input-small" value="0" /></td>
            </tr>
            <tr>
              <th>End #</th>
              <td><input type="number" min="0" max="200" class="input-small" value="10" /></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
}