@()(implicit session: brainflight.view.AuthedSessionData)

@main(){

  <div class="container" id="level-creator">

    <form id="dimension-modal" action="#" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Stack Dimensions</h3>
      </div>
      <div class="modal-body">

        <fieldset>
          <div class="control-group">
            <label class="control-label">Width</label>
            <div class="controls">
              <input id="dim-x" type="text" value="250">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Height</label>
            <div class="controls">
              <input id="dim-y" type="text" value="150">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Number of Slides</label>
            <div class="controls">
              <input id="dim-z" type="text" value="30">
            </div>
          </div>
        </fieldset>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" aria-hidden="true">Request Stack</button>
      </div>
    </form>

    <h3>Preview</h3>
    <div class="row">
      <div class="span10">
        <div class="well" id="preview">
          <canvas id="preview-canvas" width="250" height="150"></canvas>
        </div>
        <input id="preview-slider" type="range" value="0"></input>
      </div>

      <div class="span2">
        <h5>Zoom</h5>
        <p>
          <input type="range" min="-2" max="10" value="0" id="zoom-slider"/>
          <button class="btn btn-small" id="zoom-reset">Reset</button>
        </p>
      </div>
    </div>


    <div class="row">

      <div class="span8">
        <h3>Editor</h3>
        <div id="editor">time(10, 40) ->
  recolor("#ff0000")
  time(30, 40) ->
    fadeOut()</div>
      </div>

      <div class="span4" id="assets">
        <h3>Assets</h3>
        <div>
          <form id="fileupload" action="" method="POST" enctype="multipart/form-data">
            <div class="row fileupload-buttonbar">
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple="">
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
            </div>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>colormap.png</td>
              <td>
                <a href="#"><i class="icon-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
}