@()(implicit session: brainflight.view.AuthedSessionData)

@main(){
  basic template

  <div class="container">
    Stack resolution
    <span>
      X: <input id="dimX" type="text"></input>
      Y: <input id="dimY" type="text"></input>
      Number of slides<input id="dimZ" type="text"></input>
      <span class="btn" id="requestButton">Request Stack</input>
    </span>
    <div>
      <canvas id="previewCanvas" width="250" height="150"></canvas>
      <input id="previewSlider" type="range"></input>
    </div>
  </div>
}