@(level: models.knowledge.Level, outputFilepattern: String)

var page = require('webpage').create();

page.viewportSize = { width : 1000, height : 1000 };

var i = 0;
var length = 0;

var render = function() {
  
  page.evaluate(function() {
    window.levelCreator.headlessRendering(i);
  });
    
  page.onCallback = function (data) {
    page.render(@{outputFilepattern}.replace("%i", i));
    i++;

    if (i < length) {
      render();
    } else {
      phantom.exit();
    }
  }
}

page.onCallback = function (data) {
  if (data.message == "initialized") {

    page.clipRect = { width : data.width, height : data.height };

    length = data.length;
  }
}

page.open("");