@(annotation: models.annotation.AnnotationLike)(additionalHtml: Html)(implicit session: oxalis.view.AuthedSessionData)

@import models.task.Task
    @import models.annotation.AnnotationType

@main( ){
  <div id="loader"><div id="loader-icon"><i class="icon-spinner icon-spin icon-4x"></i><br>Loading</div></div>
  <div id="container" data-tracing-type="@annotation.typ" data-tracing-id="@annotation.id" class="clearfix">
    <div id="main" role="main">
      <div id="overlay">
        @if(annotation.restrictions.allowUpdate(session.user)){
          <a href="#" class="btn btn-primary" id="trace-save-button">Save</a>
        } else {
          <button class="btn btn-primary disabled">Read only</button>
        }
        <div id="buttonbar" class="btn-group inline-block">
          <a href="@controllers.routes.AnnotationController.finishWithRedirect(annotation.typ, annotation.id)" class="btn btn-small" id="trace-finish-button"><i class="icon-ok-circle"></i> Finish</a>
          @if(!annotation.isTrainingsAnnotation()){
            <a href="@controllers.routes.AnnotationController.download(annotation.typ, annotation.id)" class="btn btn-small" id="trace-download-button"><i class="icon-download"></i> NML</a>
          }
          <a href="#help-modal" class="btn btn-small" data-toggle="modal"><i class="icon-question-sign"></i> Help</a>
        </div>
        <div id="dataset" class="well well-small">@annotation._name.getOrElse(annotation.typ)<br />DataSet: <span id="dataset-name"></span><br /></div>
        <div class="input-prepend">
          <span class="add-on">Position</span>
          <input id="trace-position-input" type="text">
        </div>
        <div id="zoomFactor">
        </div>

        <div id="helpbar">
          <table class="table table-condensed table-nohead table-bordered"><tbody>
            <tr><th colspan="4">Controls</th></tr>
            <tr><td>Q</td><td>Fullscreen</td></tr>
            <tr><td>T</td><td>Toggle theme</td></tr>
            <tr><td>K,L</td><td>Scale up/down viewports</td></tr>
            <tr><td>Leftclick or Arrow keys</td><td>Move</td></tr>
            <tr><td>Mousewheel or D and F</td><td>Move along 3rd axis</td></tr>
            <tr><td>I,O or Alt + Mousewheel</td><td>Zoom in/out</td></tr>
          </tbody>
        </table>
        </div>

        <div class="tabbable" id="lefttabbar">
          @defining(annotation.task){ task =>
            <ul class="nav nav-tabs">
              @if(task.isDefined) {
                <li><a href="#tab0" data-toggle="tab">Task</a></li>
              }
              @if(additionalHtml.body != ""){
                <li class="active"><a href="#tab1" data-toggle="tab">Review</a></li>
                <li>
              } else {
                <li class="active">
              }
              <a href="#tab2" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content">
              @if(task.isDefined) {
                <div class="tab-pane" id="tab0">
                  <h5>@task.map(_.taskType.map(_.summary))</h5>
                  @task.map(_.taskType.map(_.description))
                </div>
              }
              @if(additionalHtml.body != ""){
                <div class="tab-pane active" id="tab1">
                  <div id="review-comments">
                    @additionalHtml
                  </div>
                </div>
                <div class="tab-pane" id="tab2" />
              } else {
                <div class="tab-pane active" id="tab2" />
              }
                <div id="status"></div>
                <div id="optionswindow"></div>
              </div>
            </div>
          }
        </div>
      </div>
      <div id="tracing">
        <div id="render">
          <div id="help-modal" class="modal hide fade"></div>
          <div id="modal" class="modal hide fade"></div>
          <div id="inputcatchers">
            <div id="planexy" class="inputcatcher"></div>
            <div id="planeyz" class="inputcatcher"></div>
            <div id="planexz" class="inputcatcher"></div>
            <div id="skeletonview" class="inputcatcher">
              <div id="prevControls"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabbable" id="comments-tree">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-tree" data-toggle="tab">Tree Viewer</a></li>
          <li><a href="#tab-trees" data-toggle="tab">Trees</a></li>
          <li><a href="#tab-comments" data-toggle="tab">Comments</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-tree">
            <div id="abstractTreeViewer"></div>
          </div>
          <div class="tab-pane" id="tab-trees">
            <div id="tree-navbar">
              <div class="btn-group inline-block">
                <button class="btn" id="tree-create-button"><i class="icon-plus"></i> Create tree</button>
                <button class="btn" id="tree-delete-button"><i class="icon-remove"></i> Delete tree</button>
              </div>
              <div class="btn-group inline-block">
                <a class="btn dropdown-toggle" data-toggle="dropdown" id="tree-sort-button" title="Sort"><i class="icon-list-ol"></i></a>
                <ul class="dropdown-menu pull-right" id="tree-sort">
                  <a href="#" data-sort="name"><li>by name <i class="icon-ok" id="sort-name-icon"></i></li></a>
                  <a href="#" data-sort="id"><li>by creation time <i class="icon-ok" id= "sort-id-icon"></i></li></a>
                </ul>
              </div>
              <div class="inline-block pull-right">
                <a class="btn" id="tree-color-shuffle" title="Change color"><i class="icon-adjust"></i></a>
              </div><p>
              <div id="tree-edit">
                <button class="btn" id="tree-prev-button"><i class="icon-arrow-left"></i></button>
                <div class="hover-dynamic inline-block">
                  <p class="hover-hide" id="tree-name-p">
                    <i class="icon-sign-blank icon-large" id="tree-active-color"></i>&#160;&#160;
                    <span id="tree-name"></span>
                  </p>
                  <div class="input-append hover-show hide">
                    <input name="name" id="tree-name-input" class="input-xlarge hover-input" maxlength="30" type="text" autocomplete="off">
                    <button class="btn" id="tree-name-submit"><i class="icon-ok"></i></button>
                  </div>
                </div>
                <button class="btn" id="tree-next-button"><i class="icon-arrow-right"></i></button>
              </div>
              <div>
                <ul id="tree-list"></ul>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-comments">
            <div class="input-prepend input-append" id="comment-navbar">
              <button class="btn" id="comment-previous"><i class="icon-arrow-left"></i></button>
              <input class="input-large" id="comment-input" type="text" placeholder="Add comment">
              <button class="btn" id="comment-next"><i class="icon-arrow-right"></i></button>
            </div>
            <div id="comment-container">
              <ul class="icons" id="comment-list"></ul>
            </div>
          </div>
        </div>
      </div>
  </div> <!--! end of #container -->
  <!-- JavaScript at the bottom for fast page loading -->

}
