@(dataSet: braingames.binary.models.DataSet)(implicit session: oxalis.view.SessionData)

@import models.task.Task
@import models.annotation.AnnotationType

@main() {
  <div id="loader"><div id="loader-icon"><i class="icon-spinner icon-spin icon-4x"></i><br>Loading</div></div>
  <div id="container" data-tracing-type="View" data-tracing-id="@dataSet.name" class="clearfix">
    <div id="main" role="main">
      <div id="overlay">
        <div id="dataset" class="well well-small">
          DataSet: <span id="dataset-name">@dataSet.name</span> <br /></div>
        <div class="input-prepend">
          <span class="add-on">Position</span>
          <input id="trace-position-input" type="text">
        </div>
        <div id="zoomFactor">
        </div>

        <div id="segmentation-slider">
          <p>Segmentation:</p>
            <input type="text" id="alpha-slider" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
        </div>

        <div id="helpbar">
          <table class="table table-condensed table-nohead table-bordered"><tbody>
            <tr><th colspan="4">Controls</th></tr>
            <tr><td>Q</td> <td>Fullscreen</td></tr>
            <tr><td>K,L</td> <td>Scale up/down viewports</td></tr>
            <tr><td>Leftclick or Arrow keys</td> <td>Move</td></tr>
            <tr><td>Mousewheel or D and F</td> <td>Move along 3rd axis</td></tr>
            <tr><td>I,O or Alt + Mousewheel</td> <td>Zoom in/out</td></tr>
          </tbody>
          </table>
        </div>
        <div>
          <img src="@controllers.routes.Assets.at("images/Max-Planck-Gesellschaft.svg")">
        </div>
        <div class="img-mpi-neuro">
          <img src="@controllers.routes.Assets.at("images/Logo_EN_4c_AI.svg")">
        </div>
      </div>
      <div id="tracing">
        <div id="render">
          <div id="help-modal" class="modal hide fade"></div>
          <div id="modal" class="modal hide fade"></div>
          <div id="inputcatchers">
            <div id="planexy" class="inputcatcher"></div>
            <div id="planeyz" class="inputcatcher"></div>
            <div id="planexz" class="inputcatcher"></div>
            <div id="skeletonview" class="inputcatcher">
              <div id="prevControls"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--! end of #container -->
  <!-- JavaScript at the bottom for fast page loading -->

}
