@()(implicit session: oxalis.view.SessionData)

@main() {
  <div class="container" id="impressum">
    <h2>Legal notice</h2>
    <h3>scalable minds UG (haftungsbeschränkt) & Co. KG</h3>
    <p>Amtsgericht Potsdam, HRA 5753</p>
    <p>Geschäftsführer: scalable minds Verwaltungs UG
    <p>(vertreten durch Tom Bocklisch, Tom Herold, Norman Rzepka)</p>
    <p>USt-Id. DE283513495</p>

    <h5>Visiting address</h5>
    <p>Großbeerenstraße 15</p>
    <p>14482 Potsdam</p>

    <h5>Contact</h5>
    <p>phone: +49 173 4807330</p>
    <p>e-mail: hello@@scm.io</p>
    <p>web: <a href="http://scm.io">scm.io</a></p>

    <h3>Max Planck Institute for Brain Research</h3>
    <p>Dr. Moritz Helmstaedter</p>
    <p>Director</p>

    <h5>Visiting address</h5>
    <p>Max-von-Laue-Str. 4</p>
    <p>D-60438 Frankfurt am Main</p>

    <h5>Contact</h5>
    <p>phone: +49 69 850033-3001</p>
    <p>e-mail: mhoffice@@brain.mpg.de</p>
    <p>web: <a href="http://www.brain.mpg.de/connectomics">www.brain.mpg.de/connectomics</a></p>
  </div>
}
