@()(implicit session: oxalis.view.AuthedSessionData)

@main() {
  <div class="container" id="impressum">
    <h3>Legal notice</h3>
    <h5>scalable minds UG (haftungsbeschränkt) & Co. KG</h5>
    <p>Amtsgericht Potsdam, HRA 5753</p>
    <p>Geschäftsführer: Tom Bocklisch, Dominic Bräunlein, Tom Herold, Norman Rzepka, Thomas Werkmeister</p>
    <p>USt-Id. DE283513495</p>

    <h5>Visiting address</h5>
    <p>Stahnsdorfer Str. 152a</p>
    <p>14482 Potsdam</p>

    <h5>Contact</h5>
    <p>phone: +49 173 4807330</p>
    <p>e-mail: hello@@scm.io</p>
    <p>web: <a href="http://scm.io">scm.io</a></p>
  </div>
}