@(showNavButtons: Boolean = true)(implicit session: oxalis.view.SessionData)

@import play.api.Play.current

@if(showNavButtons && session.userOpt.map(!_.isAnonymous).getOrElse(true)) {
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.index">@current.configuration.getString("application.name")</a>
      </div>

       @session.userOpt.map{ user =>
       <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav" >
            <li>
              <a href="/dashboard"><i class="fa fa-home fa-fw"></i>Dashboard</a>
            </li>
            @if(user.hasAdminAccess){
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench fa-fw"></i>Administration
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/users">Users</a>
                  </li>
                  <li>
                    <a href="/teams">Teams</a>
                  </li>
                  <li>
                    <a href="/projects">Projects</a>
                  </li>
                  <li>
                    <a href="/tasks">Tasks</a>
                  </li>
                  <li>
                    <a href="/taskTypes">Task Types</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bar-chart fa-fw"></i>Statistics
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/tasks/overview">Overview</a>
                  </li>
                  <li>
                    <a href="/statistics">Weekly</a>
                  </li>
                  @*<li>*@
                    @*<a href="/workload">Workload</a>*@
                  @*</li>*@
                </ul>
              </li>
            }
            <li class="dropwdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-question-circle fa-fw"></i>Help
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a target="_blank" href="@routes.HelpController.faq"><i class="fa fa-stack-exchange fa-fw"></i>FAQ</a>
                </li>
                <li>
                  <a target="_blank" href="@routes.HelpController.keyboardShortcuts"><i class="fa fa-keyboard-o fa-fw"></i>Keyboard Shortcuts</a>
                </li>
                <li>
                  <a href="@routes.GithubIssues.index" data-newwindow="700x470"><i class="fa fa-ambulance fa-fw"></i>Submit an issue</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#script-modal" id="add-script-link" class="hide"><i class="fa fa-gear fa-fw"></i>Add script</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i><strong>@user.name</strong>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <!--<li>
                <a href="#"><i class="fa fa-edit"></i>Edit Profile</a>
              </li>-->
                <li>
                    <a href="@routes.UserController.resetPassword()"><i class="fa fa-key"></i>Reset password</a>
                </li>
                <li>
                    <a href="@routes.Authentication.logout()"><i class="fa fa-power-off"></i>Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        }.getOrElse {
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="@controllers.routes.Authentication.login()">Login</a>
            </li>
          </ul>
        }
      </div>
    </div>
  </header>
} else {
  @pageHeader()
}
