@( conf: utils.WkConf, selectedTheme: String, openGraphTitle: Option[String], openGraphDescription:
Option[String], openGraphImage: Option[String] )
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="commit-hash" content="@(webknossos.BuildInfo.commitHash)" />
    <meta name="selected-theme" content="@(selectedTheme)" />
    <title>@(conf.WebKnossos.tabTitle)</title>
    @openGraphTitle.map { ogt =>
    <meta property="og:title" content="@ogt" />
    } @openGraphDescription.map { ogd =>
    <meta property="og:description" content="@ogd" />
    } @openGraphImage.map { ogi =>
    <meta property="og:image" content="@ogi" />
    } @if(conf.Features.isWkorgInstance){
    <meta
      name="description"
      content="Annotate and explore large 3D datasets with WEBKNOSSOS. Fast neurite skeletonization. 3D voxel painting. Collaboration, sharing and crowdsourcing."
    />
    <meta
      name="keywords"
      content="connectomics, data annotation, image segmentation, electron microscopy, light microscopy, fluorescence microscopy, skeletonization, webknossos"
    />
    } else {
    <meta name="robot" content="noindex" />
    }
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/bundle/vendors~main.css?nocache=@(webknossos.BuildInfo.commitHash)"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/bundle/main.css?nocache=@(webknossos.BuildInfo.commitHash)"
    />
    <script
      data-airbrake-project-id="@(conf.Airbrake.projectID)"
      data-airbrake-project-key="@(conf.Airbrake.projectKey)"
      data-airbrake-environment-name="@(conf.Airbrake.environment)"
    ></script>
    <script src="/assets/bundle/vendors~main.js?nocache=@(webknossos.BuildInfo.commitHash)"></script>
    <script src="/assets/bundle/main.js?nocache=@(webknossos.BuildInfo.commitHash)"></script>
    <script type="text/javascript" src="https://app.olvy.co/script.js" defer="defer"></script>
  </head>
  <body>
    <main id="main-container"></main>
  </body>
</html>
