@(body: Html)

<!doctype html>
<html>
  <head>
    <title>webKnossos</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bundle/main.css")">

    <script type="text/javascript"
      data-airbrake-project-id=@play.api.Play.current.configuration.getString("airbrake.projectID")
      data-airbrake-project-key=@play.api.Play.current.configuration.getString("airbrake.projectKey")
      data-airbrake-environment-name=@play.api.Play.current.configuration.getString("airbrake.environment")></script>
    @if(play.api.Play.current.mode == play.api.Mode.Dev) {
      <link href='@routes.Assets.at("fonts/fonts-local.css")' rel='stylesheet' type='text/css' media="screen">
      <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
      <script type="text/javascript" src="@routes.Assets.at("bundle/main.js")"></script>
    } else {
      <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
      <script type="text/javascript" src="@routes.Assets.at("bundle/main.js")"></script>
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    }

  </head>
  <body>
    @body
      <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
      <!--[if lt IE 9 ]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

    @play.api.Play.current.configuration.getString("google.analytics.trackingID").map { trackingID =>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '@trackingID', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');

    </script>
    }
  </body>
</html>
