@(form: Form[(String, String, String)])(implicit flash: Flash)

<html>
    <head>
        <title>Brainflight</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.6.4.js")"></script>
    </head>
    <body>
        
        <header>
            <a href="@routes.Test.index" id="logo"><span>Brain</span>flight</a>
        </header>
        
        @helper.form(routes.Application.registrate) {
            
            <h1>Sign up</h1>
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <input type="password" name="repassword" placeholder="Password">
            </p>
            <p>
                <button type="submit">Register</button>
            </p>
            
        }
        
        <p class="note">
            Welcome!
        </p>
            
    </body>
</html>