@()(implicit session: oxalis.view.SessionData)

@main() {
  <div class="container" id="impressum">
    <h2>Introductory videos</h2>
    <p></p>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=X6xPkOZIwnY" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=CuGdAwPnAas" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=qucpdHdDW0Y" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=MlyMBjvxpy8" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=GuWcwnahgps" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=EDifSNYMUEY" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=4CaxNbtNeX4" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=pzAoYqr5_H4" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=OvMl7HA1FyU" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=v_vu_ue32Mo" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=vx47ZXzGICI" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=YUAEm86joIs" frameborder="0" allowfullscreen></iframe>
  </div>
}
