@()(implicit session: oxalis.view.SessionData)

@main() {
  <div class="container" id="videos">
      <h2>Introductory videos</h2>
      <span>
		<div>login</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/X6xPkOZIwnY" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>orthogonal viewports</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/CuGdAwPnAas" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>skeleton tracing</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/x_9xoSnHkKI" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>branched structures</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/MlyMBjvxpy8" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>abstract tree viewer</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/ibn0UfqCmK0" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>editing trees</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/EDifSNYMUEY" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>soma clicking</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/aQddO0AhZ-g" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>commenting and sharing</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/pzAoYqr5_H4" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>3D LM data annotation</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/GZCmqPF9Me0" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>volume annotation</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/v_vu_ue32Mo" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>flight mode tracing</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/dSgIPbXNyuA" frameborder="90" allowfullscreen></iframe>
      </span>
      <span>
	  <div>crowd management, ...</div>
        <iframe width="240" height="135" src="https://www.youtube.com/embed/YUAEm86joIs" frameborder="90" allowfullscreen></iframe>
      </span>
  </div>
}
