@()(implicit session: oxalis.view.SessionData)

@main() {
  <div class="container" id="impressum">
    <h2>Introductory videos</h2>
    <table>
      <tr>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/X6xPkOZIwnY" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/CuGdAwPnAas" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/qucpdHdDW0Y" frameborder="30" allowfullscreen></iframe></td>
      </tr><tr>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/MlyMBjvxpy8" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/GuWcwnahgps" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/EDifSNYMUEY" frameborder="30" allowfullscreen></iframe></td>
      </tr><tr>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/4CaxNbtNeX4" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/pzAoYqr5_H4" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/OvMl7HA1FyU" frameborder="30" allowfullscreen></iframe></td>
      </tr><tr>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/v_vu_ue32Mo" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/dSgIPbXNyuA" frameborder="30" allowfullscreen></iframe></td>
      <td><iframe width="320" height="180" src="https://www.youtube.com/embed/YUAEm86joIs" frameborder="30" allowfullscreen></iframe></td>
      </tr>
    </table>
  </div>
}
