.tracing-layout>.ant-layout-header {
  &>button {
    vertical-align: middle;
  }
}

.action-bar {
  vertical-align: middle;
  height: 100%;
  display: inline-flex;
  font-size: 0;

  align-items: center;
  display: flex;
  flex: 1 1;

  &>div {
    margin-left: var(--ant-margin-xs);
  }

  // slightly increase the icon size for all tool icons in the action bar
  .ant-space-compact .ant-btn .anticon,
  .ant-radio-button-label .anticon {
    vertical-align: -0.35em;

    svg {
      width: 1.3em;
      height: 1.3em;
    }
  }
}

.merge-modal .ant-form-item-label {
  width: 150px;
}

.right-floating-icon {
  position: absolute;
  right: 0;
  margin-top: 4px;
  margin-right: 24px;
}

.sub-menu-item-icon {
  width: 25px;
  margin-right: 20px;
  display: table-cell;
}

.inline-with-margin {
  display: inline-block;
  margin-right: 36px;
}

.full-width {
  width: 100%;
}

.bullet-point-less-li {
  list-style-type: none;
  padding: 0px;
}

.layout-dropdown-selection-area {
  padding: 5px 0px 5px 12px;
  width: auto;
  display: table-cell;
}

.layout-dropdown-list-item-container {
  width: 100%;
  display: table;
  padding-right: 12px;
}

.available-layout-list .ant-dropdown-menu-item-group-list {
  padding-left: 14px;
}

.selected-layout-item {
  font-weight: bold;
}

.undo-redo-button {
  // Avoid width-flickering when clicking the button
  width: 36px !important;
  // Fix vertical align getting messed up when the buttons turns
  // into a loading state (then, .ant-btn-icon-only is active which uses
  // vertical-align: -3px)
  vertical-align: 0;
}

.triangle-icon {
  position: absolute;
  right: -2px;
  bottom: -2px;
  font-size: 10px;
  transform: rotate(-45deg); /* makes it look like a corner triangle */
  pointer-events: none;
}

.brush-tool-popover-open {
  display: inline-flex;
  width: auto;
  flex: 0 0 auto;

  &.ant-radio-button-wrapper {
    width: auto;
  }
}