// The menu items to the right side of the tracing view.
// Currently tabs for comments / trees etc

#abstract-tree-canvas {
  flex-grow: 1;
  min-height: 600px;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#tree-list {
  height: inherit;
  display: flex;
  flex-direction: column;
  .fa-angle-right {
    width: 11px;
    margin-left: 5px;
  }

  .ant-input-group {
    margin: 10px 0px;
  }

  .tree-hierarchy-header {
    // TODO
    color: rgba(24, 144, 255, 0.9);
    margin-left: 16px;
    margin-right: auto;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
  }

  .clickable-text {
    cursor: pointer;
  }

  .selected-tree-node {
    // TODO
    background-color: rgba(148, 247, 153, 0.9);
  }

  .rst__rowLabel {
    padding-right: 0px;
    .rst__rowTitle div {
      padding-right: 10px;
    }
  }
  .rst__rowSearchMatch .rst__rowLabel {
    // TODO
    background-color: rgb(135, 213, 255);
  }
}

.padded-tab-content {
  padding: 10px;
}

.markdown-small {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 16px;
    margin-bottom: 0;
    color: @text-color;
  }
  max-height: 21px;
  overflow: hidden;
}

.markdown {
  p {
    margin-bottom: 0;
  }
}

.search-input-popover {
  .ant-input-group-wrapper {
    .ant-input-wrapper {
      color: inherit;
      .ant-input {
        color: inherit;
      }
      .ant-input-group-addon {
        border-radius: 0;
        border-right: 0;
      }
    }
  }
}
