// The menu items to the right side of the tracing view.
// Currently tabs for comments / trees etc

#abstract-tree-canvas {
  flex-grow: 1;
  min-height: 600px;
  width: 100%;
  // No dark mode
  background-color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.segment-list-item {
  // By default, antd's list items are flex, which
  // causes more trouble than it helps.
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  .anticon-edit,
  .anticon-ellipsis {
    // Hide edit and ellipsis icon (unless hovered)
    display: none;
  }
  &.is-selected-cell {
    background-color: @blue-2;
  }

  &:hover {
    background-color: @blue-1;
    .anticon-edit,
    .anticon-ellipsis {
      display: inline-block;
    }
  }
  // If a cell is hovered in the data viewports,
  // it should also be highlighted in the list.
  &.is-hovered-cell {
    background-color: @blue-1;
  }
}

.deemphasized-segment-name {
  fontstyle: italic;
  color: #989898;
}

#commentList {
  .comment,
  .comment-tree {
    height: 24px;
    line-height: 24px;
  }
  .comment-active {
    background-color: @blue-3;
  }
}

#segment-list {
  height: inherit;
  display: flex;
  flex-direction: column;
}

#tree-list {
  height: inherit;
  display: flex;
  flex-direction: column;
  .fa-angle-right {
    width: 11px;
    margin-left: 5px;
  }

  .ant-input-group {
    margin: 0 0 10px 0;
  }

  .tree-hierarchy-header {
    margin-left: 16px;
    margin-right: auto;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
  }

  .selected-tree-node {
    background-color: rgba(@green-7, 0.8);
  }

  .rst__rowLabel {
    padding-right: 0px;
    .rst__rowTitle div {
      padding-right: 10px;
    }
  }
  .rst__rowSearchMatch .rst__rowLabel {
    background-color: @blue-3;
  }
}

.clickable-text {
  cursor: pointer;
}

.padded-tab-content {
  padding: 10px;
}

.markdown-small {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 16px;
    margin-bottom: 0;
    color: @text-color;
  }
  max-height: 24px;
  overflow: hidden;
}

.markdown {
  p {
    margin-bottom: 0;
  }
}

.search-input-popover {
  .ant-input-group-wrapper {
    .ant-input-wrapper {
      color: inherit;
      .ant-input {
        color: inherit;
      }
      .ant-input-group-addon {
        border-radius: 0;
        border-right: 0;
      }
    }
  }
}

.compact-items {
  button {
    padding: 4px 8px;
  }
}
.compact-icons {
  .anticon,
  i {
    margin-right: 0px;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}
