.statusbar {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .info-element {
    display: inline-block;
    text-align: left;
  }
  .keyboard-mouse-icon {
    height: 14px;
    margin-top: 2px;
  }
}
