body {
  margin: 0;
  overflow: hidden;
  font: 13px "Helvetica Neue", Arial, sans-serif;
  background: #888;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

body.hidden * {
  display: none;
}


#wrapper {
  position: relative;
  width: 480px;
  height: 320px;
  -webkit-user-select: none;
  background: #fff;
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
}

.diagnostics {
  display: none;
  position: absolute;
  top : 0;
  left: 500px;
  width: 200px;
}
